[2017-07-13 16:56] toonsmil commented on #31
yes , have a config option for that , settings => general tab => uncheck : autoscal BTC value => save and close

[2017-07-13 17:39] WarrenSchultz commented on #795
Got a chance to borrow a big quad box for a little while to see what happened. I've got less theads 18 set and enable_ht=true in the additional params.
It throws all the work onto a single socket (with or without those parameters being set).

Here's the kicker: Benchmarking works right. If I launch a single CPU from the UI, it appears to select the CPU properly, and also ok if I kick off a second

[2017-07-13 17:41] WarrenSchultz commented on #525
Got a chance to borrow a big quad box for a little while to see what happened. I've got less threads 18 set and enable_ht=true in the additional params.
It throws all the work onto a single socket (with or without those parameters being set).

Here's the kicker: Benchmarking works right. If I launch a single CPU from the UI, it appears to select the CPU properly, and also ok if I kick off a second

[2017-07-13 17:42] WarrenSchultz commented on #795
Sorry, posted here originally, but have revised my response to the thread with the custom EXE.

https://github.com/nicehash/NiceHashMiner/issues/525#issuecomment-315150100

[2017-07-13 17:57] asmodyus commented on #28
Oh Okay so it will only run if its profitable thank because I did the precise benchmarks like you said but I don't see anything that says it running dual in the CMD box.

[2017-07-13 20:18] adrivansoft commented on #29
I think there is no need because this is built into the miners. You can use params like -cclock and -mclock for OC. You can even under volt and vice versa.

[2017-07-13 20:35] adrivansoft commented on #22
I have a couple of rx 4xx and 5xx on one rig but I only benchmark 1 GPU then copy the settings of gpu#1 towards the other GPUs by right clicking on the cards in benchmark.

Then again your suggestion is best when you have different combinations of gpu brands and models in one rig.

[2017-07-13 21:34] MACE-Zer0 opened #1168 "Nicehash Legacy OPENCL Missing"
hi i was trying NH legacy and opencl is missing for a pc with nvidia card !!!

![image](https://user-images.githubusercontent.com/9946471/28188867-94ae3412-681b-11e7-9e8c-12cd3df9fa83.png)

[2017-07-13 21:37] CAVACO-PT opened #32 "NH LEGACY OPENCL MISSING"
A pc with a nvidia card , cant mine 3rd party , opencl missing

![image](https://user-images.githubusercontent.com/9946471/28188931-c429c062-681b-11e7-8456-79346d3454c2.png)

[2017-07-13 22:09] billmcilhargey commented on #32
As workaround, copy the OpenCL.dll from C:\NHML-1.8.0.0\bin\ethminer to
C:\NHML-1.8.0.0\bin_3rdparty\claymore_dual

Since this is actually related to ClaymoreDual I am copying this over to their support forms

[2017-07-13 22:12] billmcilhargey commented on #32
What OS are you using / running the latest nvidia drivers?

[2017-07-13 22:22] billmcilhargey commented on #31
🤦‍♂️

Thanks!!!

[2017-07-13 22:22] #31 closed, assigned to nobody

[2017-07-13 22:36] #32 closed, assigned to nobody

[2017-07-13 22:36] #1168 closed

[2017-07-13 23:01] simara opened #1169 "Machine freezes on NiceHash 2.0.0.8"
Not with 1.x versions. Runnung with a 1070 without any trouble on third party miners or with 1.x versions of  Nicehash. No blue screen just complete freeze.

[2017-07-14 00:06] italianoch opened #33 "NHML 1.8.0.0 hangs for 3+ minutes when initializing miners"
NHML seems to get stuck at "Querying CUDA devices" when the program starts for a good minute or so. I have the program set to auto mine at startup. The group/device rates pop up with zero values and the miner windows don't pop up until 3+ minutes after. It's also way more prone to crashes and freezes as well. This is regardless of a clean initialization (starting with a completely new config). Int

[2017-07-14 00:41] #16 closed, assigned to nobody

[2017-07-14 01:52] yeungw1 opened #1170 "in virustotal.com scanning so many virus Trojan malware"
in virustotal.com scanning so many virus Trojan malware in this software, can you fix it?

[2017-07-14 02:34] fefsf opened #34 "Feature Request: Decouple GPUs when hashing same algorithm"
Would it be possible to enable a setting where it will always display the current hashrate/USD per day for each GPU even if they are hashing the same algorithm? On some of my mixed GPUs system, it would be nice to know what each individual card is doing even when they are all hashing the same algorithm. This could be helpful is quickly determining if there is a problem with a particular cards over

[2017-07-14 02:42] DillonN commented on #33
From what I can see ClaymoreDual is crashing on your 970. Do you have "Optimize compute performance" turned on for that in the NVIDIA Control Panel?

[2017-07-14 02:51] DillonN commented on #34
Hello @fefsf, unfortunately not every miner reports individual cards' hashrates so this may require running two separate instances of miners. At the moment there are a number of functionality features in the works that take priority over interface changes but this is something I can look in to down the road

[2017-07-14 02:51] fefsf commented on #34
OK thank you

[2017-07-14 02:51] #34 closed, assigned to nobody

[2017-07-14 02:54] DillonN commented on #30
If you kill NHML non-gracefully it will not get a chance to shut down its miners.

However you can kill it gracefully using this powershell command: `Get-Process NiceHashMinerLegacy |   Foreach-Object { $_.CloseMainWindow() | Out-Null }`, and restart it by opening NHML and having auto-start mining checked.

[2017-07-14 02:55] DillonN commented on #28
Yes it's not always most profitable, mainly on NVIDIA cards

[2017-07-14 02:55] #28 closed, assigned to nobody

[2017-07-14 03:02] p1r473 opened #35 "Getting huge amount of rejected shares on EWBF"
Hi, I am getting huge amount of rejected shares on EWBF on one of my machines
Lbry and Lyra2 seem to be fine, but Equihash EWBF has this issue.

What can I do?

![image](https://user-images.githubusercontent.com/9235633/28196517-2f91bf5a-681f-11e7-841d-91c5478fff1e.png)

Sadly, the machine this is happened on is on wifi (no ethernet available) but no other algorithm has the issues. Is it an intern

[2017-07-14 03:17] DillonN commented on #35
When EWBF starts to hang, did you click on the miner CMD window? Clicking on the window can cause the running program to pause until you next hit enter. It sounds like EWBF hanging/pausing is causing the rejected shares, since they are stale by the time EWBF is able to submit them

[2017-07-14 03:57] p1r473 commented on #35
So you think the issue will go away if I just don't click the window? I have definitely had the window in the foreground. I will try to not click the window and see what happens.

[2017-07-14 06:01] italianoch commented on #33
I do. If Optimize compute performance is not selected, the hashrate for both my 970 and 1060 drops (970 is the worst at 4-5M). Checking the Force P0 state box in the settings did not change that either.
NHML works okay once it goes through the hang-ups, but it's just odd why it takes like 5 minutes for the miners to actually start running from when I hit the start button. In your old fork, everyth

[2017-07-14 06:11] DillonN commented on #33
The problem with Optimize Compute performance is that it can straight up deny programs from accessing CUDA devices (which would cause hangs when launching NHML during detection, and crashes in miners that can't access hardware). It does help significantly with ethereum hashrates but the best option is to leave it disabled globally and add program-specific profiles for the ethereum miner .exe's (li

[2017-07-14 06:14] DillonN commented on #35
Yes if you click in the window you may notice that it stops and a white cursor shows up where you clicked. This pauses EWBF

[2017-07-14 07:08] italianoch commented on #33
I tried starting the mining with the Nvidia cards disabled and it works like a charm. But I can't figure out why they are causing the miners to hang when NHML starts up, and when I hit start after the program is up. I've tried disabling optimize compute performance outright, only enabling for NHML, and enabling globally. Also, only enabling optimize compute performance for NHML does not improve th

[2017-07-14 07:11] italianoch commented on #33
For now, NHML does work for me. Just have to wait for the 3-4 minute hang for the miners to initialize so it's not a pressing issue.

[2017-07-14 07:47] jamespatt125 commented on #29
I checked a couple of miners with no luck.

ewbf-miner - can't find any OC commands
ccminer_nanashi - can't find any OC commands
claymore_dual - has OC commands but does not support NVIDIA

I still think this feature could be usefull.

[2017-07-14 17:30] fefsf commented on #22
Benchmaking all 6 of my GPUs at once will be frickin sweet

[2017-07-14 17:34] fefsf commented on #6
32GB min/max for VM is enough for 6 GPU rig. The only algo that needs that much VM is X11

[2017-07-14 17:37] fefsf commented on #4
Hell yes, this idea is amazing

[2017-07-14 18:36] creative2k opened #36 "Miner GUI cut off if Resolution is too low"
Hello!

There is a problem with the GUI, when the resolution ist too low.
On one of my Machines, i only get 640x480 after a reboot and the miner window is cut off. On machines with higher resolution, this wont happen. The Buttons are working because you can tab around but they are not visible. Can you fix this? :)
![cut_](https://user-images.githubusercontent.com/30184235/28225733-f5d694f6-68d3-11

[2017-07-14 20:27] UselessGuru opened #1171 "Enhancement: Run new miner a few seconds before shutting down previous one"
On switching miners:
Performance could be increased when a new active miner would be launched a few seconds before the old one will be shut down.
I suggest a configurable interval (per miner) that will keep the previous miner running until new miner is fully initialized (e.g. DAG downloading on ETH).

[2017-07-14 21:21] adem4ik commented on #27
I have fixed it locally by replacing "Скорость" by "Скор." in ru.lang @ https://github.com/nicehash/NiceHashMinerLegacy/blob/master/NiceHashMiner/langs/ru.lang#L23
![image](https://user-images.githubusercontent.com/4707112/28231551-3011c2c0-68fd-11e7-87aa-5e4be6f11686.png)

[2017-07-14 22:33] ChriscomIT commented on #36
Thanks for reporting! I saw some similar behavior. Should be an easy fix for Dillon.

[2017-07-14 22:36] ChriscomIT commented on #22
But that's some frickin hell lot of work too. Nevertheless +1

[2017-07-15 01:22] billmcilhargey commented on #17
lol ran across this in the language files

"NET45_Not_Intsalled_msg": "NiceHash Miner Legacy requires .NET Framework 4.5 or higher to work properly. Please install Microsoft .NET Framework 4.5"

[2017-07-15 01:22] billmcilhargey commented on #24
https://github.com/nicehash/NiceHashMinerLegacy/pull/38

[2017-07-15 07:15] #35 closed, assigned to nobody

[2017-07-15 09:05] DillonN commented on #36
Thanks, I'll look into this. For now you can access start+stop commands with keyboard shortcuts, Alt+S for start and Alt+O for stop

[2017-07-15 11:42] Squall-Leonhart commented on #1167
dag files are generated and remain in RAM.

[2017-07-15 15:06] Paapo commented on #1167
Thanks you, i thougt his was implemented first in claymore 9.7..

Von meinem iPad gesendet

[2017-07-15 15:23] tfjpg commented on #991
I just starting using NiceHash and had this same issue. This post led me to the culprit. I was running a Plex server on the same machine and I believe that caused NiceHash to view the machine as not idle. For anyone else that has this problem, make sure you don't have anything running in the background on your machine. For me the only fix was to shut down Plex, or uncheck "Start mining when idle"

[2017-07-15 17:37] gabrielfsd commented on #1128
You can't use Crimson drivers on 5800, I have one here and NiceHash only find it when I switch back to Catalyst.

[2017-07-16 00:44] imrecsoka commented on #1173
weird, just try to clean amd driver completely using the amd clean up utility.
i have those colours also but it seems to be only because i have played with my gpu clocks but i have also seen it when there is a drastic gpu usage from idle to full throttle... not sure.
I doubt your card is faulty maybe just check a demo utility and test your card....BUT try to wipe clean the amd stuff and reinstall.

[2017-07-16 01:02] iamcubeman commented on #1173
I've done clean uninstalls and clean reinstalls multiple times, didn't help. This problem also showed up in my last PC (with the exact same card)

[2017-07-16 03:38] adem4ik opened #40 "'Help' button localization variable is missing"
'Help' button localization variable is missing. It would be really nice if you add it into en.lang.
![image](https://user-images.githubusercontent.com/4707112/28244356-b5211f04-69f9-11e7-8a0d-a9eaadb8d929.png)

[2017-07-16 10:16] imrecsoka commented on #1173
i have endless shit with my CGminer it is fucking ridiculous it works then it does not all of a sudden, so yeh i also have shit it is crazy. I dont understand why SGminer abnd CGminer are such shit miners, they never print any error or warning message to tell u why it doesnt want to start mining, it just goes back to the prompt it is really ridiculous. I have tried to use -T and --verbose commands

[2017-07-16 13:39] danielmafya commented on #75
Hi guys! is normal to take these shares?????I am amator to mining!i need help i have 1gpu  r9 390 asus!THX!

![untitled](https://user-images.githubusercontent.com/30213303/28248042-53f5c62a-6a45-11e7-8430-54c863325381.png)
![untitled1](https://user-images.githubusercontent.com/30213303/28248043-53fe688e-6a45-11e7-85d4-1b95f4bbc09f.png)

[2017-07-16 13:46] naomyminer commented on #1169
My NiceHash 2.0.0.8 miner just find my CPU , not me GPU and if I wanna mine with only my CPU i press start and it start but there aren't popingup windows and i have no income. And if I want to mine on my 1.7.5.13 miner it says it dont have soms file shit or somthing en then it deletes itselfs. I have a 980ti, 1070, 960 and 2 i7's

[2017-07-16 13:59] naomyminer commented on #1160
Yea I have the same problem! my CPU was gone too but after reinstalling 5 times the miner and drivers it founs me CPU but if I want to mine with that it just does nothing.

[2017-07-16 14:02] DillonN commented on #40
Thanks, this is added now d1b549a0b959a655833ce91bb6b99ebe7b56747b

[2017-07-16 14:02] #40 closed, assigned to nobody

[2017-07-16 14:04] #30 closed, assigned to nobody

[2017-07-16 14:04] naomyminer commented on #1117
Yea I have the same and cant find an answer

[2017-07-16 14:04] DillonN commented on #23
Thanks I'll be keeping an eye on it, for now we're sticking to the old links though!

[2017-07-16 14:04] #23 closed, assigned to nobody

[2017-07-16 14:05] #26 closed, assigned to nobody

[2017-07-16 14:05] DillonN commented on #26
We're staying with old links for now

[2017-07-16 14:08] DillonN commented on #33
@italianoch since the NHML exe does not do any actual mining you shouldn't have optimize compute enabled for it. You should enable it for the miner exe files, e.g. for Claymore dual enable it for `\bin_3rdparty\claymore_dual\EthDcrMiner64.exe`. If you find having it enabled for NHML helps with your detection speed then keep it on there, but it won't help mining at all.

[2017-07-16 14:10] DillonN commented on #29
At the moment overclocking is not supported from within NHML. This may change in the future, or maybe an ability to launch programs when specific miners are launched (where you could use the Afterburner commands you mentioned).

[2017-07-16 17:05] iamcubeman commented on #1173
I haven't tried windows 7, but I am running Windows 10. And I have tried the card with another computer and a fresh install of Windows 10. This issue happens with all gpu miners that come bundled with NiceHash from what I can tell.

[2017-07-16 19:07] Cryptominer937 commented on #12
Thanks DillonN this miner is far more stable that the V2 releases I have lost over 3 days of mining on V2 due to excavator server bugs but V1.8 is rock solid and actually a little more profitable.

[2017-07-16 22:46] imrecsoka commented on #1173
have u tried SGminer or CGminer alone on a pool .....
Then try Claymore miner for Zcash and Ethereum alone....

[2017-07-17 01:51] XBrav commented on #4
I looked into the ways of doing this. It's more of a question of how far NH and DillonN want to go into it.

Basically, EthDcrMiner64 does not expose the hash rate of the secondary values when benchmarking. As a result, there's a workaround where you actually are mining during the benchmark (Thanks for not putting your own address in there!). So, even though messing with the DCRI values can take a

[2017-07-17 07:34] yojikoff opened #1175 "Not display the vorker"
The program is launched (two different versions) on one of the machines, but in the private office does not display the vorker.
![1](https://user-images.githubusercontent.com/30227511/28258720-50389ae2-6b05-11e7-82d2-c70464110452.jpg)
The address of the wallet is correct!

[2017-07-17 14:33] adem4ik commented on #27
so that ru.lang change was committed https://github.com/nicehash/NiceHashMinerLegacy/commit/61ec01936231afcab15c6cc0572b8f638ad867b9 and it looks like on the screenshot above

If you're not going to change space for wording within UI you may close the issue.

[2017-07-17 15:41] francescocmazza opened #42 "Cannot set miner parameters (ethdcrminer64)"
Hello,
I want to optimize my rigs by setting some additional miner parameters. I am trying to edit miner parameters for ethdcrminer64 (daggerdecred). It seems that whatever I write in the parameters has no effect on the miner. I tried playing around with -powlim settings but nothing seems to happen. For trial purposes I also tried changing the -color 0 setting to just see if the miner was receivin

[2017-07-17 15:49] DillonN commented on #42
NHML has a set list of commands that it supports forwarding to the miner. I'm planning on making a wiki page for this to clear it up, but you can see what's supported for example in ClaymoreDual by opening the `\internals\MinerOptionPackage_ClaymoreDual.json` file.

Specifically for your examples, the proper syntax would be `-powlim 40`, and `-colors` is not supported.

[2017-07-17 15:54] francescocmazza commented on #42
Hello DillonN,
Thank you for your kind and superfast reply.
I saw the json file you pointed out. I am trying to imput a powerlimit of "-50". So my syntax should have been right:
"-powlim -50"
But it doesn't yield any results. that's strange

[2017-07-17 16:00] francescocmazza commented on #42
Ok, trying with -li 10 and it actually changes things. maybe my cards do not support power limiting?
Thank you. I guess this is an issue with my hw more than an issue with NHML.
Thanks againg and keep up the great work!

[2017-07-17 23:12] AlexanderPeters commented on #1098
Go to Nvidia control panel and turn off optimize for compute, then open nicehash without mining, then go back and re-enable optimize for compute, then start mining. This worked for me and I'm pretty sure that the reason why it works after reinstalling the drivers is that it resets that option.

-Best of Luck

[2017-07-18 07:54] #42 closed, assigned to nobody

[2017-07-18 08:04] francescocmazza opened #44 "Mining not profitable does not update"
Hello,
With the current drop of eth and btc prices I use the minimum mining profitability on several rigs that are on 24/7. If the mining profitability goes below the minimum setting the rigs shutdown correctly and NHML displays the related message. If time passes and the profitability goes up again the program does not resume work unless I manually stop the mining process (that is not running due

[2017-07-18 08:06] francescocmazza commented on #12
Yes, thank you!!

[2017-07-18 08:41] artgri opened #45 "AMD GPU's indexed wrong"
According to Claymore's Dual Ethereum AMD GPU Miner v9.6 release notes:
new GPU sorting method for AMD cards. Now GPUs are sorted by physical bus index (it matches AfterBurner list of GPUs). Also the list of temperatures/fans matches the list of GPUs automatically.
Therefore "-di detect" and "-gmap" options are not necessary and not supported anymore.
WARNING: be careful if you use use separate ov

[2017-07-18 09:58] MonaxDK commented on #22
I do the benchmark manually, launching the algorithm on all the same cards, then divide the result by the number of cards and enter the average value for each card. In this way, I get more accurate card performance values. I have different frequencies on different cards, but they all work together on the same algorithm, so it does not matter that one is a little faster and the other slower, the ov

[2017-07-18 10:02] MonaxDK commented on #19
It would also be nice to add the "select all" checkbox to quickly enable / disable all algorithms.

[2017-07-18 12:07] DillonN commented on #45
Thanks for reporting this, this is now fixed as of aae0263

[2017-07-18 12:08] DillonN commented on #44
Thanks for reporting this, there seems to have been a bug where it wasn't recalculating profitability under certain conditions. It should be fixed now as of 8f48b13

[2017-07-18 12:11] DillonN commented on #19
As of 56c15c0 the dual algorithms are now enabled by default. Some others are still left disabled as they are experimental.

@MonaxDK you can select/deselect all by right clicking in the algorithm list

[2017-07-18 14:26] francescocmazza commented on #44
Hello. Thank you very much DillonN, should I replace some file in the program to get this fix applied?
Thank you

[2017-07-18 15:52] WarrenSchultz commented on #652
I see this on a system with 256GB RAM and tons of page file. Tried increasing the amount of page, and still not enough.

[2017-07-18 17:33] iamcubeman commented on #1173
I've tried Claymore by itself on both Ubuntu and Windows on my old machine with this card, and both crash after a second or mining. I'll try SGminer.

[2017-07-18 20:21] DillonN commented on #44
The best option is to wait for the next update (shouldn't be long now)

[2017-07-18 22:39] roDIESEL commented on #652
You must be sure that you have enough space left on your System Drive in order to set such amount of virtual memory. Happened to me once, when my free space on drive C: went below 32 GB (and I had 32 GB virtual memory setup). Until I cleaned my SSD and got something like 36+ free GB space, I was not able to get rid of that annoying error.

[2017-07-19 00:30] iamcubeman commented on #1173
So it just decided to work at of the blue now. Everything seems to be running smoothly. One thing I did change is I lowered the clock speed of my Rx 480 to stock instead of factory overclocked.

[2017-07-19 07:52] francescocmazza commented on #44
Ok thanks!

[2017-07-19 07:53] #44 closed, assigned to nobody

[2017-07-19 13:34] DillonN commented on #45
https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.0.1

[2017-07-19 13:34] #45 closed, assigned to nobody

[2017-07-19 14:38] justsomedudeonthenet commented on #29
The simple generic solution here would be to let us specify pre-launch and post-launch commands in addition to command line arguments for each miner.

[2017-07-19 14:55] siimsuu commented on #853
I have same problem. Do you have patch exe for newer version?

[2017-07-19 16:41] adem4ik opened #46 "Spelling inconsistency - NiceHash Miner Legacy or NiceHashMinerLegacy?"
Walking across the language files I've noticed that there are 2 different spellings used for the program name:
- NiceHash Miner Legacy
- NiceHashMinerLegacy

So I just want to clarify which one of them is legit and should be used globally?

[2017-07-19 19:52] ChriscomIT commented on #46
Yes, that would be great for me too as I am planning to do an English -> German translation and maybe others. I recognized this as well in the language files.

Thanks in advance!

[2017-07-19 19:56] mtone opened #47 "Feature request: Start miner windows minimized"
Would be nice to avoid getting those popups while working or watching videos.

Is an option a possibility? Would something like Start /MIN break communication with the process?

[2017-07-19 19:58] ChriscomIT commented on #47
It's already in the options. Look at the settings for "Hide Mining Windows". Have fun!

[2017-07-19 19:59] mtone commented on #47
Ah, didn't see that. Thanks!

[2017-07-19 19:59] #47 closed, assigned to nobody

[2017-07-19 20:01] ChriscomIT commented on #47
No problemo.

[2017-07-19 21:58] malventano opened #48 "Nist5 clarification on 1.8.0.1 patch notes?"
From the patch notes:
- Nist5 stability

Does this require updating the bin for the miner, or was the fix contained within the NHM update download itself? Asking because the bin and bin_3rdparty downloads still reflect 1.8.0.0.

[2017-07-19 22:50] ChriscomIT commented on #48
As far as I know, it is itself in the NiceHash miner code aka the process exe. This means in detail that the handling of Nist5 mining (launching, starting, profitability switching) was improved. Therefore you don't need to update the bins. Correct me if I am wrong.

[2017-07-20 03:42] tmslacker commented on #12
You get an update and you get an update!  It nice to see updates again.

[2017-07-20 06:09] DillonN commented on #48
There was no update to miner bins. NHML includes multiple different versions of ccminer, since some are better at certain algorithms than others. While most of the forks give the same performance in Nist5, the previous one used would cause some users stability issues and/or rejected shares. In 1.8.0.1 a different version is now used for Nist5 which should resolve most of these issues.

[2017-07-20 16:24] altojungle commented on #969
What do Xencide93 mean whit configure where do i find that?

[2017-07-20 18:44] Stephen-Randall commented on #1179
@timothyco89 Do you have a single card? Are you overclocking? Are you using a PCI-E Riser?

Most of the Driver Stopped Responding messages are due to pushing Core or Mem clocks to far out of specification.

I have found that occasionally my card will drop and the driver will freeze due to a flaky PCI Riser.

I do not suspect that Nicehash Miner is causing this issue.

[2017-07-20 18:46] dogcatchescar commented on #1179
Are you using Multiple GPUs? Riser Cards?

The Display Driver has stopped responding message is usually caused by overclocking. If your Core or Mem is too high consider dropping it back a bit.

I notice that occasionally  my PCIE riser will drop the card completely (No longer shows in Device Manager) and the error message will pop up.

I do not suspect this issue is caused by NiceHash Miner.

[2017-07-20 22:19] UselessGuru commented on #48
Where can I find this new version? The update to 1.8.0.1 does not include any changed miners (dir \bin)

[2017-07-20 22:31] OneOfMany07 commented on #1179
Yeah, I was guessing either overheating eventually causes an error, or not enough power (if supply is underrated for the load).

[2017-07-20 22:34] OneOfMany07 commented on #1177
Just an interested user here, but I didn't see anything obvious in the log.  Does your system crash under other large loads?  Like what if you ran Prime95 for a while?  Or way back to stress a GPU you could run "furmark".  I'll bet there are plenty of other ways, but first make sure your system is stable when running as fast as possible.

Also you might check in the Windows Event Log for the cause

[2017-07-20 22:37] OneOfMany07 commented on #1176
Yeah, I saw the same thing at first.  I ended up re-downloading and playing around with settings.  I can't say if it was my changes that made things work or just waiting (maybe a server came up?), but eventually I'm running now.

Might try an older version.  Or changing the Service location.

Also I had issues from my antivirus program quarantining the files the app downloaded for each crypto mini

[2017-07-20 22:37] OneOfMany07 commented on #1175
Maybe it took a bit of time to update?  Just guessing that often programs aren't immediately able to show all work you just started.

[2017-07-20 22:41] OneOfMany07 commented on #1174
According to wikipedia "Release date | June 2005–2006" so yep, pretty old now.  I think it retails for $35 from at least one place on Google.  I'm guessing current NVidia software doesn't support a card that old.

At least it isn't listed on the CUDA supported page.  https://developer.nvidia.com/cuda-gpus

Think you're out of luck.  Sorry.

[2017-07-20 22:44] OneOfMany07 commented on #1170
The fix is to submit these files to the AV companies and tell them the non-virus purpose.  They need to tune their software to know these programs aren't only (but sometimes are) part of a virus.

I already tried to submit and describe them with a number of flagged files through BitDefender (what I have installed).  I have no idea if they'll ever fix this, but for now I whitelisted the directory (

[2017-07-20 22:45] OneOfMany07 commented on #1170
Also from their troubleshooting section on here (github)...

"My anti-virus is blocking the application

Some anti-virus software might block NiceHash Miner as well as supporting back-end programs (cpuminer, ccminer, sgminer) due to false-positive matches. All software, included into NiceHash Miner has been verified and checked by our team and is absolutely virus/trojan free. Our service is well e

[2017-07-20 22:51] OneOfMany07 commented on #1172
I'm not a NiceHashMiner developer, but I do write software.  And I can't follow what you're asking for.  Or what the issue is.

So you change the maximum temperature you let your GPU to go up to periodically?  If yes, why?  A change in hardware capabilities means you must re-benchmark to find out how fast it can run now, right?  Running the same hardware faster can't be 100% guessed at by knowing

[2017-07-20 22:54] OneOfMany07 commented on #1171
(random interested guy)

If either of the miners needs "all" the hardware then you might not be able to run 2 miners simultaneously, right?  And some older cards cannot support running 2 things at the same time easily.

I think I understand the goal, but I'm not sure how much would be gained and by how many users.  I shifted my profitability threshold from the default 5% to 1%, so something like t

[2017-07-20 22:57] OneOfMany07 commented on #1169
From..
https://github.com/nicehash/NiceHashMiner#run
https://github.com/nicehash/NiceHashMiner/releases

The 2.0.0.0 release area says "Work in progress. Not for public use"  Is that statement not true anymore?

I'd be game to try running briefly to see if I can trigger a bug (or get an OK result too).

And to naomyminer - is an antivirus program hiding the crypto mining files?  BitDefender was fo

[2017-07-20 22:58] microtechies commented on #1171
OMG Joe you are filling up my inbox with ideas and suggestion of what i can only state is from a mining noob. Please do some more research and gain some more experience before flooding github with ideas which have A) been suggested before, B) or are a nice idea but not a possibility in practice

[2017-07-20 22:58] microtechies commented on #1169
http://new.nicehash.com/

God do some research

[2017-07-20 22:59] OneOfMany07 commented on #1162
Is it switching algorithms a lot?  There is probably some down time when that happens.  Like "loading the DAG file for daggerhashimoto" (or so I've read on here for a feature enhancement request to try to overlap the miners more).

[2017-07-20 23:01] OneOfMany07 commented on #1160
Note laptop parts have traditionally be different from desktop parts (even with the same model number), but I think with the 10 series they got rid of that.

You might look in device manager for an entry with a yellow ! or red X.  Then try to fix it (often just removing and re-detecting can help).

[2017-07-20 23:01] microtechies commented on #1162
The mining programs run for approx that time as a fee for themselves as you will see with most mining programs. There are some that don't take mining time for fees but they don't mine as successfully

[2017-07-20 23:02] OneOfMany07 commented on #1153
Duplicate of https://github.com/nicehash/NiceHashMiner/issues/1152 ?

[2017-07-20 23:02] OneOfMany07 commented on #1152
Where did you see/hear about it?  The name is new to me.

[2017-07-20 23:03] OneOfMany07 commented on #1143
Isn't there a setting to turn off the debug handler or something?  I wonder if that is disabling any helpful warning messages on the crash too.

[2017-07-20 23:03] microtechies commented on #1152
https://github.com/nicehash/NiceHashMinerLegacy/releases

Joe please don't use it, can't deal with more spam

[2017-07-20 23:04] OneOfMany07 commented on #1138
https://github.com/nicehash/NiceHashMiner#troubleshooting

[2017-07-20 23:06] OneOfMany07 commented on #1150
Yep, you'll have "earned" some money, but since each transaction has a cost the server/host/pool waits to pay out until you have a good sized chunk.  I'm pretty sure you pay the transaction costs from the money you make so even if it lets you force a payout it often isn't a good idea (you'll lose more money that way).

[2017-07-20 23:10] OneOfMany07 commented on #1151
If you can't ping the address there isn't anything we can do.  You might be behind a firewall/proxy server you'd need to configure the program to use.

Also I've seen a few failures to connect to the pool servers, but when I left it alone eventually things worked.  No idea how long you waited (I'd only wait 5-10 minutes at most personally).

Here is an example of me confirming I can likely reach t

[2017-07-20 23:11] OneOfMany07 commented on #1122
Hopefully there is a log file you can look inside to read what happens.  I think without a specific error message it'll be almost impossible for one of us to help.

[2017-07-20 23:14] OneOfMany07 commented on #1123
Does this help?  Almost sounds like there is something using the system too much and that makes the OS think your computer is hung.  So it reboots/crashes.

https://forums.geforce.com/default/topic/413110/the-nvlddmkm-error-what-is-it-an-fyi-for-those-seeing-this-issue/

"As a starting note, this is not an nVidia issue. It is not an ATI issue either. These errors are triggered by a Windows service

[2017-07-20 23:16] OneOfMany07 commented on #1131
Yeah, guessing that list would be VERY long.  I'd start with CUDA compatible cards if NVidia oriented.  No idea about AMD valid cards to use.

https://developer.nvidia.com/cuda-gpus

[2017-07-21 00:44] JHGitty commented on #1099
meanwhile 9.7 is out: https://github.com/nanopool/Claymore-Dual-Miner/releases

[2017-07-21 05:33] drkskwlkr commented on #48
@UselessGuru: For every project on GitHub, latest release is always found under 'Code->Releases'.
In this case:
[NiceHash Legacy Latest Version](https://github.com/nicehash/NiceHashMinerLegacy/releases)

If you have 1.8.0 already installed, you _don't need_ to download `bin.zip` or `bin_3rdparty.zip`.
Just get `NHML-1.8.0.1.zip`, decompress on top of your old install & run.

[2017-07-21 06:07] DillonN commented on #48
Yes as @drkskwlkr says, the proper miners are already installed when you first run NHML. In this case there were no new miner additions, as the new selected version for Nist5 was already included for some other algorithms. So nothing more is required from your end.

[2017-07-21 06:20] DillonN commented on #46
In general, the two can be interchangeable as there are some situations where not having spaces is helpful (for coding reasons). I don't want to say that NiceHashMinerLegacy is the "non-legit" way, but for proper display the most used version should be with spaces, i.e. NiceHash Miner Legacy. I've been planning on going through the translation files and updating to this

[2017-07-21 06:23] NicerRolo commented on #1123
Thanks, i solved the problem otherwise. Since two week i´m just running Equihash. I found out, that the problem ist switching between the miners (ccminer etc.). So since im running just one miner, i dont have any crashing problems.

[2017-07-21 07:24] pzacheo commented on #789
I have analyzed the charts and they seem to go up and down only with big swings in Ethereum price. Seems like when crowds are attracted by the increasing value it will pay more.
It's all about attracting more people to the NH marketplace, only a big price jump can do that now.

[2017-07-21 07:59] yojikoff commented on #1175
No! The program has been updated! I watched what was happening for two days ...

[2017-07-21 08:03] tcm5025 commented on #1123
My issue was resolved by disabling SLI. Once I disabled that, no more nvrm errors or crashes. It would be nice to not have to switch back and forth between SLI like that though if there were a fix possible. I could provide more information on that if it helps.

[2017-07-21 10:11] timothyco89 commented on #1179
single gpu
no riser card
no overclock
750w power supply seasonic 80gold

[2017-07-21 11:12] Pizzaguy1234 commented on #1181
It's shuts off the Auto fan and you you have to turn it back on in Afterburner. But then your done and can't benchmark on 470.s and 480. prob all Amd cards. No drivers I've tried seem to correct it.

[2017-07-21 11:40] theerawatra opened #49 "Power consumtion"
I observe version 1.8 take more power consumption about 10% when compare to version 1.7.
I shut down version 1.7 at 13:00 and start version 1.8 at 15:00.
![20251221_1525551340835303_1082318129_o](https://user-images.githubusercontent.com/30343358/28462086-d43f7202-6e43-11e7-86c0-4510bc7edc78.png)

[2017-07-21 11:53] nerdatwork commented on #49
How do you measure power ? Could you share your setup ? That looks like an app on your phone.

[2017-07-21 12:14] theerawatra commented on #49
I use Smart Power Monitor Outlet to monitor comsumption of my rig over the internet and I did VNC remote my rig to stop V1.7 and install V1.8 also over the internet as well.

[2017-07-21 12:23] cfDroid opened #50 "Internet lose from storm (No power lose to computer)"
This morning I had noticed the miner had stopped via checking my phone and when I went to check the computer the was a dialog box saying the miner needed internet connection to work. I had to hit the OK button for it to continue, after which it, immediately started. Is there a way to prevent that dialog box from appearing so the miner can continue on it's own automatically once the internet connec

[2017-07-21 12:46] drkskwlkr commented on #50
@cfDroid: There are two things you should do to allow unattended operation.

1. Click on 'Settings' and check `Disable Windows Error Reporting`.
2. In the same panel make sure `Idle when no Internet access` is enabled.

Also, please note that unless you have done both and the problem persists, this is not an issue with the program but a 'how to' question. For 'how to use' cases, you are kindly inv

[2017-07-21 12:51] cfDroid commented on #50
Thanks very much and apologies for using the wrong forum. Noob problems.

[2017-07-21 12:51] #50 closed, assigned to nobody

[2017-07-21 15:04] AlexanderPeters commented on #1160
Also disabling and then reenabling the gpu will sometimes work in conjunction with detect new hardware to solve any detection issues.

[2017-07-21 20:47] DillonN commented on #49
This is likely a byproduct of the new miner options that are more profitable for you. E.g., ClaymoreDual running in dual mode can use quite a bit more power than just mining Ethereum by itself. If the gained profits in those algorithms are less than your increased electricity costs, you're best to disable them. As it stands NHML does not take different power consumption of various miners into acco

[2017-07-21 21:11] iamcubeman commented on #1173
It also seems that only running one monitor helps with stability.

[2017-07-21 21:43] drkskwlkr opened #51 "Feature Request: Support for Virtual Desktops"
Windows 10 has the ability to create a number of virtual desktops and switch easily between them, thus enabling different 'contexts' like work, casual browsing, gaming, etc.

With this feature enabled, one can group any NiceHash Miner related windows (e.g. main window, console window, OC utility, load monitor...) into a separate virtual desktop and quickly recall them for a quick look before getti

[2017-07-21 23:16] WarrenSchultz opened #52 "DCRI parameter not being passed?"
Tell me if I'm using it wrong :)

(Example, not looking at the specific values right now)
I put -dcri 105 in the parameter field for daggerpascal for both 1070s. When I check taskmanager, it lists in the command line field -dcri 35,35. Should I be passing 105,105 or am I doing it wrong?

[2017-07-22 09:36] HyperCriSiS opened #53 "Payout not in BTC"
Hi,

can I configure NHM to act as "normal miner", so I just get the certain coins and they are not converted to BTC?

Thanks,
Hyper

[2017-07-22 11:07] ChriscomIT commented on #53
Nope just get the standalone miners for that and configure the pool you want to use. This programs solely purpose is to provide hash power for the NiceHash pool which NH pays you out for but only in BTCs as you already know. But I know they looking into the matter of payout in other alt cryptos. But I don't have any ETA or something like that.

[2017-07-22 20:56] billmcilhargey opened #54 "Auto Start on Login - UAC"
Thank you for adding the auto start on login!!

For those that need to the Miner to run as an Admin (for example Nvidia P0 State is enabled), if the miner autostarts on login UAC will prompt asking to hit yes for the command prompt window to adjust this setting.

Workaround: Turn UAC completely off (not recommended)

Still researching some solutions

[2017-07-22 21:01] billmcilhargey commented on #54
I am not sure how you auto start the miner today but you can create a scheduled task with run at highest privileges checked and this will ignore the UAC prompt

https://www.sevenforums.com/tutorials/67503-task-create-run-program-startup-log.html

[2017-07-22 21:04] billmcilhargey commented on #19
Ok thank you!  was going to mention two are left unchecked and everything else is checked

Thanks! closing this up

[2017-07-22 21:04] #19 closed, assigned to nobody

[2017-07-22 21:37] VincentDatrier opened #55 "Newer Excavator version?"
Hi,

In your previous repo, you stated you cannot update Excavator, since you are not allowed to redistribute it.

Now, since NHML is distributed by NiceHash themselves, is there a hope you could bundle it?

Thanks for all the work, keep it up!

[2017-07-22 21:45] billmcilhargey opened #56 "Nvidia Tesla K80"
Equihash (nheqminer)
X11Ghost (ccminer_alexis)

Both terminate when attempting to benchmark on an Nvidia Tesla K80 (tried precise/standard/quick)

[2017-07-22 21:52] billmcilhargey commented on #56
If I manually run nheqminer seems to run fine and obtain shares

[2017-07-22 21:54] billmcilhargey commented on #56
Sia (ccminer)  sometimes works during precise benchmark and other times it times out or says terminated

[2017-07-22 22:19] billmcilhargey opened #57 "Benchmark - Algorithm - Uncheck - Blue Stays"
When you uncheck a miner algorithm in the benchmark screen the blue highlight stays rather than going to grey

If you check an algorithm thats grey it highlights blue

The blue does disappear once you hit start however

[2017-07-23 02:38] tmslacker opened #58 "How does someone build clone source?"
This is a real problem as I don't know how to build.  Anyone Wanna help me?

[2017-07-23 03:58] andrespaz9221 commented on #1123
Sorry what mean SLI and how can I disable it

[2017-07-23 04:00] andrespaz9221 commented on #1123
I am a beginer

[2017-07-23 05:39] GoldenFroze commented on #1183
Website under maintenance.
Please closed this issue.

[2017-07-23 06:08] glefs commented on #1184
CryptoNight says Needs Benchmark. If you click benchmark, it runs but then just goes back to saying it needs benchmark, Same for all the algorithms under the GPU.

[2017-07-23 06:17] DillonN commented on #53
Yes this software is only for the NiceHash platform, which pays in BTC

[2017-07-23 06:17] #53 closed, assigned to nobody

[2017-07-23 06:17] DillonN commented on #52
Putting -dcri 105 in each of the devices is the correct way of doing it. Could you post your logs for when this happens?

[2017-07-23 06:20] DillonN commented on #51
I agree it would be nice to be able to get the miner consoles to run on a separate VD, as well as prevent pop-up of miners interrupting tasks (can be very annoying if using your PC for gaming/videos, currently the only workaround is to hide miner windows altogether). I'll look into this.

[2017-07-23 06:22] DillonN commented on #58
You can build the main program in Visual Studio 2017, [more detailed instructions here](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Development)

[2017-07-23 07:09] tcm5025 commented on #1123
It's a setting you can use when you have two nvidia graphics cards connected together using a hardware bridge. If you don't know about it, then you probably don't have it as an option.

[2017-07-23 08:06] #58 closed, assigned to nobody

[2017-07-23 10:32] hannesb264 commented on #1182
@psychocrypt @fireice_uk Any advice?

[2017-07-23 13:17] 008 commented on #1182
config_0.txt
and make it read only

[2017-07-23 14:15] p1r473 opened #59 "1.8.0.1 Equihash ewbf never finishes benchmark"
Hi, having an issue when trying to benchmark Equihash ewbf on 1.8.0.1 it goes forever. Anyone else having this issue?

[2017-07-23 14:16] dacrypt commented on #960
I also request the dialog be removed and to put constant internet checks. The option to disable window dialog errors are indeed present but it's only for the miners. Just keep trying every 30s or so.

[2017-07-23 14:43] xChackOx opened #60 "Request: Enable SHA-3 algo for GPUs"
Hi! Just a request. I've been experimenting with Awesome Miner and the NiceHash service and noticed that Awesome Miner switches to SHA-3 algo from time to time, giving good profits (higher than ClaymoreDual). Is there a chance that it could be enabled in NHML for the next version? I'm using nVidia GPUs.

AM is calling CcMiner SP-mod 1.5.81 for this algo.

![untitled-1](https://user-images.githubus

[2017-07-23 14:51] xChackOx commented on #55
Was also wondering this. IMHO NHM and NHML should include the same proprietary miners.

[2017-07-23 15:01] #59 closed, assigned to nobody

[2017-07-23 15:45] t3t3 opened #61 "miner startup when nicehash *website* is down"
results in

1. a warning, what means autostart mining isn't working
2. a .net crash when trying to start mining, or open settings, or open benchmarks

ideally there shouldn't be a crash (obviously ;) and it should be able to start mining, since unavailability of only the nh website won't necessarily affect miners (as long as stratums are still up)...

[2017-07-23 15:55] xChackOx commented on #60
After tweaking hashrates values and using the same ones provided by NHML benchmarks, SHA-3 is definitely more profitable than ClaymoreDual. I manually benchmarked keccak with ccminer.

![image](https://user-images.githubusercontent.com/29616824/28500827-80ac1cca-6f9d-11e7-8a18-270a0e6e3058.png)

[2017-07-23 16:10] billmcilhargey commented on #60
Nice yes dont see a reason Keccak couldnt be enabled since it is supported for AMD and Nvidia GPUs and already using ccminer as part of the build (just needs added)

Also on the profitability page https://www.nicehash.com/?p=calc Keccak scores will need to be added (at least when I looked for Nvidia 1080 Ti GTX

[2017-07-23 16:13] ChriscomIT commented on #60
Would be very nice to see this addition.

[2017-07-23 18:55] selimserdengecti commented on #1088
same problem.
can you please resolve this issue.
i have some 280x but couldn't work on it.
restarts nearly every 20 minutes and so annoying

[2017-07-23 19:02] DillonN commented on #60
Thanks for posting! It looks more profitable for me too on 1080 Tis, I'll look into getting this in an update ASAP.

[2017-07-23 19:16] ChriscomIT commented on #60
Great news! Thank you @DillonN !

[2017-07-23 21:31] hannesb264 commented on #1182
@008 i changed the config_0.txt read only and  nothing changed. Still getting the single thread no affinity issues

[2017-07-23 21:36] hannesb264 commented on #1182
@008 wait i understood now and it now says starting double thread and affines the cores but still no stable hashrate.. that normal?

[2017-07-23 21:52] DillonN commented on #60
Activated for AMD and NVIDIA as of 67cebce9eb59a58683a5e0a026a18608bf120c93, will do some testing and it should be live in the next release

[2017-07-23 22:11] ChriscomIT commented on #60
Wui that was fast! Looks very good! Thanks again. Looking forward to the next release!

[2017-07-23 22:53] xChackOx commented on #60
Excellent @DillonN That was fast! Thanks!

[2017-07-23 22:57] xChackOx commented on #60
Closed issue by mistake. I'll leave that to you @DillonN

[2017-07-23 23:17] francescocmazza commented on #60
Looking forward this update too!!
Great work guys for finding this out and thank you DillonN for working on implementing it!

[2017-07-24 02:27] billmcilhargey commented on #60
Thanks so much!

[2017-07-24 03:37] tmslacker opened #62 "$$ Anyone good at tweaking the setup or Optimizing $$"
EMail: Support @ E z T e c h . P r o

[2017-07-24 10:01] gacopl opened #63 "Building problem"
Hi Dillon  i have hard time building NHML

Severity	Code	Description	Project	File	Line
Error	CS0234	The type or namespace name 'Extension' does not exist in the namespace 'MyDownloader' (are you missing an assembly reference?)	NiceHashMinerLegacy	C:\Users\gaco\Desktop\NiceHashMinerLegacy\NiceHashMiner\Utils\MinersDownloader.cs	16

VS2015 .net 4.5

Original nhm 1.7.13 builds without a problem

[2017-07-24 11:38] batishchevv opened #64 "Benchmark terminates on dual agorithms"
Please help with benchmark error on all dual algorithms. It's terminate.
Log in attach.

![dual miner log](https://user-images.githubusercontent.com/20699899/28521746-b44af692-707d-11e7-94f2-1ac8c1a3bc6e.jpg)

[2017-07-24 16:55] Timoulis commented on #1187
No problem. Bitcoin use 100% of gpu to us all. That's why gpus die so soon. :-)

[2017-07-24 18:42] DillonN commented on #62
Sorry are you asking for help? NHML already has many optimizations and you can find lots online and add them in extra launch parameters.

[2017-07-24 18:44] DillonN commented on #63
I haven't set a flag for the extensions project to build yet, you have to build the `MyDownloader.Extensions` project and/or copy its dll from that output to the NHML output folder

[2017-07-24 18:49] DillonN commented on #64
The startup command looks good, but the miner seems to be crashing. Are you able to run ClaymoreDual manually (as in, disable other algos then set a fake speed for ClaymoreDual and start mining)? Also what card are you using?

[2017-07-24 21:45] DillonN commented on #63
This should be fixed with 6dfcd8a66bcd35a2938b7cbd12b64e228f17e7ac

[2017-07-24 21:46] gacopl commented on #63
yeah in the meantime i added reference manually but thanks !

[2017-07-24 21:47] DillonN commented on #63
Good to hear, I'll close this now

[2017-07-24 21:47] #63 closed, assigned to nobody

[2017-07-24 22:53] #62 closed, assigned to nobody

[2017-07-25 02:09] indoorsNB commented on #1173
same, I use rx560 and I believe this is sgminer's bug

[2017-07-25 02:21] billmcilhargey commented on #55
Based on the commits it looks like you decided to remove excavator altogether?

@DillonN

[2017-07-25 06:14] batishchevv commented on #64
I've tried to run ClaymoreDual manually. It crashes with error that remote computer rejected connection.
![claymore](https://user-images.githubusercontent.com/20699899/28558169-532ff118-7119-11e7-8ac4-5c5437e45e40.png)

I use palit gtx 1060 Dual cards But i have one other the same configuration unit, that works fine.

[2017-07-25 07:39] DillonN commented on #55
@computeronix It was temporarily removed but that was reverted. In the next release nothing will change re. Excavator

At the moment we are keeping Excavator at the current version. Other performance updates coming soon though!

[2017-07-25 10:31] microtechies commented on #56
What ive noticed is with more than 8x K80s Nicehash gets stuck on checking AMD OpenCL Gpus

[2017-07-19 11:49:51] [INFO] [ComputeDeviceManager.Query] QueryOpenCLDevices END
[2017-07-19 11:49:51] [INFO] [ComputeDeviceManager.Query] QueryAMD START
[2017-07-19 11:49:51] [INFO] [ComputeDeviceManager.Query] Checking AMD device (driver): Microsoft Basic Display Adapter (10.0.14393.0)
[2017-07-19 11:49:5

[2017-07-25 11:47] ImaginaryPie opened #67 "OpenCL fails"
1.8.0.1 runs for about an hour to two hours before the computer freezes. The first freeze I couldn't tell what caused the failure due to a second ETH miner window opening over the claymore window. The second freeze had 2 error messages before freezing stating that GPU 3 OpenCL failed to reboot.

Running 6 RX480s on 16.9.2 drivers. I've been running the latest official NH version for about a month

[2017-07-25 13:19] Varjo1 commented on #4
This would be great! I don't think overthinking it makes sense. Just offer a 24hour "mining benchmark" option that cycles through increments of 10 DCRI for common miners.

After benchmarking these can be used to estimate profitably and miners with dynamic adjustment can be tweaked online (think gradient decent, the shape of the function is nice and smooth after all).

[2017-07-26 01:10] DillonN commented on #64
Is the rejected connection error in NHML or Claymore itself? NHML will throw that error if the miner crashes, because it will try to access its API port which isn't open (since the miner didn't open).

Do you see any log files in your `bin_3rdparty\claymore_dual` folder? If so could you post them?

[2017-07-26 02:46] tmslacker commented on #12
Thank You for help with my build question!  Nice!  DillonN!

[2017-07-26 12:13] foxwarernd opened #69 "Keccak NHML 1.8.0.2 GTX 970 Win10"
For mining eth, based on my conditions (GTX 970 and Win10) included the DSR (1.2) and the Optimize for calculations option in the nvidia DSR settings. With these settings, there was a full hash on eth and no problems with other algoes.
Now, with the new Keccak algorithm, with these options enabled, the error pops up: "Cuda error in func 'keccak256_cpu_init' at line 301: all CUDA-capable devices ar

[2017-07-26 16:27] Mumbis commented on #1007
This video fixed my memory alloc problem but still getting socker error when trying to set all 3 to true.

https://youtu.be/PpOAXpHWObw

[2017-07-26 16:27] Mumbis commented on #1163
Same for me since several versions back.

[2017-07-26 17:14] doug-sw opened #70 "[Request] Add Settings Toggle to Disable Warning for Unbenchmarked Algorithms"
There are a few algorithms that do not benchmark correctly. Coincidentally, I do not want to mine these algorithms. I have disabled them from the allowed algorithms in the settings, however I am still met with a prompt saying that there are unbenchmarked algorithms.

Would it be possible to add a toggle to the settings to skip this pop up for disabled algorithms? Thank you.

[Edit] This was meant

[2017-07-26 17:15] #70 closed, assigned to nobody

[2017-07-26 19:29] abdwyer commented on #17
I agree that framework should be retargeted to at least 4.5, supporting Win7+. Nvidia does not offer XP/Vista drivers for 10 series cards, and support from AMD seems to have ended at R9 series.  I can't make a good argument to keep support for XP/Vista in.

Retargeting seems to have no adverse effects, and allows the elimination of the Net20_backport code hacks.

[2017-07-26 19:32] billmcilhargey opened #71 "Question: 1.8.0.2 - Keccak Nvidia"
@DillonN  (or anyone that is able to answer)

In the release notes you mentioned

If you use NVIDIA Inspector's Multi Display Power Saver feature it may cause the benchmark to display low speeds

Is this a special setting you set within the Nvidia application or does this relate to the Nvidia P0 state in NHML?

[2017-07-26 19:39] billmcilhargey opened #72 "1.8.0.2 - GUI - Settings Cut off"
In previous versions I did not have the problem mentioned below

My resolution is 1024 x 768

When I open settings, the settings screen is cut off

![capture](https://user-images.githubusercontent.com/19168174/28640108-a3daa644-7218-11e7-91f9-36e8fa36b5d4.PNG)

[2017-07-26 19:43] billmcilhargey commented on #60
This update has been released

https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.0.2

Feel free to close @DillonN

[2017-07-26 19:43] microtechies commented on #72
Same with all of my machines

[2017-07-26 19:45] billmcilhargey commented on #67
I referenced this in another case too

As workaround, copy the OpenCL.dll from .\bin\ethminer to
.\bin_3rdparty\claymore_dual

See if this helps and let us know

https://github.com/nicehash/NiceHashMinerLegacy/issues/32

[2017-07-26 19:47] billmcilhargey commented on #48
this can now be closed @DillonN

[2017-07-26 19:48] billmcilhargey commented on #24
This has been corrected in #38, closing

[2017-07-26 19:48] #24 closed, assigned to nobody

[2017-07-26 19:56] billmcilhargey commented on #17
All true!  Most of the miners, algorithms, and the latest drivers are all targeted for Windows 10 anyways and seem to work best in the latest build of Windows 10

[2017-07-26 20:07] DillonN commented on #17
I have upgraded to 4.5 in the sma_socket branch (a new feature coming soon). I didn't say anything because NHM has had problems in the past with 4.5, but for the moment the plan is the main branch will be updated when this feature is merged.

[2017-07-26 20:07] #48 closed, assigned to nobody

[2017-07-26 20:07] #60 closed, assigned to nobody

[2017-07-26 20:09] DillonN commented on #67
I don't think I saw that issue before it got closed, next time I update bins I will put a copy of OpenCL.dll there.

[2017-07-26 20:11] DillonN commented on #71
Neither, NVIDIA Inspector is a third party tool that lets you edit some hardware options for NV GPUs. This feature specifically lets your GPU clock down when you have more then one display (NV default is to run at 3D clocks which sucks a lot of power at idle). It seemed to cause some issues for the benchmark for me so I put the warning there

[2017-07-26 20:14] DillonN commented on #72
I think this may be related to Visual Studio trying to offload my screen's DPI to the interface editor. I'll work on a fix for this now

[2017-07-26 20:18] NameUnavailable opened #73 "NiceHash 1.8.0.2 issues"
So we used nicehash until today without any problems.. now we have some issues ; we're running 5x gtx 1070 oc and 1x gtx 1080 a8c. This morning, nicehash crashed and our computer rebooted. On reboot nicehash offered to upgrade to the new version, so we downloaded the update. Now we have to redo all benchmarks but running the benchmark, it crashes. It's impossible to do the benchmarks even algorith

[2017-07-26 20:20] billmcilhargey commented on #17
Ok nice!  excited to see what that branch is all about once released!

Thanks!

Will close this out since it has been implemented (just in a later branch)

https://github.com/nicehash/NiceHashMinerLegacy/commits/sma_socket

[2017-07-26 20:20] #17 closed, assigned to nobody

[2017-07-26 20:20] billmcilhargey commented on #71
aww thanks!!

closing!

[2017-07-26 20:20] #71 closed, assigned to nobody

[2017-07-26 20:21] batishchevv commented on #64
I think it's NHML. There is no any logs in claymore_dual folder.

I'm fully reinstall system and it works. So i don't have option to troubleshoot it oner more time =(

[2017-07-26 20:21] DillonN commented on #73
Hello @NameUnavailable, sorry you're having issues with NHML.

Instead of rebenchmarking all your algorithms, you can copy the `configs` folder from your old NHML 1.8.0.1 folder into the new one. That will retain almost all of your settings.

If when you have your benchmark info back you still get errors on launching algorithms, please post back here with the log file found in the `logs` folder.

[2017-07-26 20:21] billmcilhargey commented on #7
@DillonN
Can you target the sma_socket for this too?

[2017-07-26 20:23] billmcilhargey commented on #5
any expectations on when code signing the main exe will happen or will not be able to happen with nicehash code signing cert?

@DillonN

[2017-07-26 20:25] billmcilhargey commented on #67
ok thanks!

[2017-07-26 20:33] NameUnavailable commented on #73
![untitled](https://user-images.githubusercontent.com/30479416/28642345-1d469acc-7220-11e7-9408-9a47ccf5bf0c.jpg)

[2017-07-26 20:34] DillonN commented on #7
Sorry I also didn't mention, sma_socket does target x64 (although, that change hasn't been pushed yet)

[2017-07-26 20:36] billmcilhargey commented on #7
ok nice!  Thanks again!

Will close once the change is pushed through a commit in that branch

https://github.com/nicehash/NiceHashMinerLegacy/tree/sma_socket

[2017-07-26 20:59] DillonN commented on #73
That notice is standard when copying over your configs. The previous configs will be set that miners have downloaded, but the new folder won't have them downloaded. You can just hit Yes and it will download automatically still.

[2017-07-26 22:38] rchadry commented on #1194
message says, "nicehash mincer cannot start mining. Make sure you have at least one enabled device that has at least one enabled and benchmarked algorithm".

[2017-07-27 02:42] erwinfauzirais commented on #72
same with my machines, i can't save my setting ... how to fix it??

[2017-07-27 02:44] billmcilhargey commented on #72
ALT+S

[2017-07-27 02:52] erwinfauzirais commented on #72
thx

[2017-07-27 04:09] Frageron opened #74 "Pressing "STOP" crashes display driver on some algorithms"
I'm running NHML 1.8.0.2 on Windows 7 x64, 5х1070 GPU, driver 384.76.

When I press "STOP" or when NHML switch from one of this algorithms: Keccak, Nist5, NeoScript, DaggerHashimoto (any dual) the display driver crashes ("Display driver stopped responding and has recovered") and i have to restart my system to put it to work again.

Now i'm runnig only Lbry, Equihash (EWBF) algorithms, they work pe

[2017-07-27 04:14] DillonN commented on #72
@computeronix would you mind trying a build with the latest commit (6601bd3c0a05f60a57439ab2f94c204d2eaa3e19)? It's now working for me on an 800x600 screen

[2017-07-27 04:15] DillonN commented on #7
The change has been pushed, however I would not recommend building off of that branch just yet. It isn't ready for production

[2017-07-27 04:18] frazier345 opened #75 "Did not destroying miner caused crash of system 1.8.0.2"
I left my miner running tonight and it stopped mining.  The screen had multiple instances (5-6 of the miner comand box open on the screen.  The computer was frozen and I had to do a hard reboot.  The last Miner command box open on the screen was ccminer_sp\ccminer.exe however it only had the title information on the screen. The last non-ccminer logged is EWBF_Equihash at 17:56

This is the end of

[2017-07-27 04:18] ALEXEY-SOFT commented on #72
The window in the resolution 1024 * 768 is cut off in the algorithm selection field. As a result, it is impossible to save the results.
![2017-07-27_075901](https://user-images.githubusercontent.com/8391898/28654260-fd8aeee8-72a3-11e7-9816-f7182214f8a2.png)

[2017-07-27 04:21] billmcilhargey commented on #72
ALT+S

Yes still cut off  the Algorithms screen was fine after the commit the Algorithms screen is adjusted now

[2017-07-27 04:22] billmcilhargey commented on #7
Implemented in new branch, closing

[2017-07-27 04:22] #7 closed, assigned to nobody

[2017-07-27 04:22] ALEXEY-SOFT opened #76 "EWBF Miner does not work concurrently with Claymore"
On the 1050 map, the EBWF is launched, and the second card 1060 in the dual is launched by Claymore. As a result, Claymore does not understand that 1050 does not participate in dualmining.
![2017-07-27_080311](https://user-images.githubusercontent.com/8391898/28654362-b1b63fda-72a4-11e7-9afe-9d8354bb619d.png)

[2017-07-27 04:25] billmcilhargey commented on #55
This should be able to be closed now as its integrated in the latest versions

@DillonN

[2017-07-27 04:28] DillonN commented on #76
Can you scroll up in the ClaymoreDual window and see what GPU it starts mining with? It should show either 1050 or 1060

Also please post your log file from the logs folder

[2017-07-27 04:31] ALEXEY-SOFT opened #78 "Turning off cards 1060"
Farm of 5 GTX 1060 cards. In the process of mining by claymore miner in dual mode - one of the video cards disappears from the system.

[2017-07-27 04:38] ALEXEY-SOFT commented on #76
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1178827/log.txt)
![2017-07-27_083449](https://user-images.githubusercontent.com/8391898/28654643-05fa866c-72a7-11e7-9ed8-ef5f4d684059.png)

[2017-07-27 04:39] DillonN commented on #75
Are you able to post further back from the log, or just upload the file?

[2017-07-27 04:42] ALEXEY-SOFT commented on #76
Such a problem is only if one of the cards starts mining by the EBWF miner. If EBWF is excluded, removing it in the settings, then everything works fine.

[2017-07-27 04:48] frazier345 commented on #75
[log.1old.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1178843/log.1old.txt)

[2017-07-27 04:53] DillonN commented on #76
It looks like ClaymoreDual is correctly using only the 1060. It's not able to generate the DAG though (probably because EWBF is taking too much memory already). You can try increasing your pagefile size

[2017-07-27 04:58] ALEXEY-SOFT commented on #76
I think for a farm in which only 2 video cards such a paging file volume is more than sufficient?
![2017-07-27_085618](https://user-images.githubusercontent.com/8391898/28654990-948d5e02-72a9-11e7-8ff7-b7ebbd380d3e.png)

[2017-07-27 04:59] angelics opened #82 "unhandled exception"
if continue without internet and try to benchmark
[https://prnt.sc/g0tjk9](url)

[2017-07-27 04:59] ALEXEY-SOFT commented on #76
In general, it's not the size of the swap file - obviously!

[2017-07-27 05:07] frazier345 commented on #75
[logold2.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1178863/logold2.txt)

Now it stopped mining all together the windows pop up for a second and then shut down.

[2017-07-26 23:30:10] [INFO] [ERROR] Error converting value -1 to type 'System.UInt32'. Path 'result[0].solver', line 1, position 273.
[2017-07-26 23:30:10] [INFO] [ERROR] Error converting value -1 to type 'System.UInt32'.

[2017-07-27 05:42] DillonN commented on #75
Thanks for posting that, been chasing that down for a bit and it seems EWBF's documentation was a bit off for the API (sometimes pushes -1 for a value that should be an unsigned int).

I've fixed that now, but I don't think that will help with your problem unfortunately. It seems like you had a miner not get destroyed, I will try to reproduce that

[2017-07-27 06:02] momodigital opened #83 "cannot save option 1.8.0.2"
why the option window open not fully? cant see the save button.
thanks

[2017-07-27 06:03] DillonN commented on #83
Hello, this is addressed in issue #72. A fix is in the works, for now you can save by using Alt+S.

[2017-07-27 06:25] mime29 commented on #929
I'm testing without SLI now ! Very happy that you found that @aLeX1443 !

[2017-07-27 06:28] p1r473 opened #84 "Nist efficiency problems"
Having an issue where Nist is not using much GPU usage, causing low hash rates.
All other algorithms work.
Works fine on my 2x 1080TI rig but not my 6x 1080TI rig.

![image](https://user-images.githubusercontent.com/9235633/28657036-1da0cf12-7273-11e7-86be-10df3456e926.png)

[2017-07-27 06:40] p1r473 commented on #74
My system freezes as well when I press stop

[2017-07-27 06:58] Frageron commented on #74
My system does not freeze, just losing 1 (sometimes 2) GPU, so others can't mine (giving errors on algorithms). Only system restart can put them all to work again.

[2017-07-27 07:31] luongk commented on #55
@computeronix The version of excavator distributed with NHML is still a bit behind though eh - 1.1.4a

[2017-07-27 07:45] owen29338 opened #85 "Can't run NiceHashMinerLegacy v1.8.0.2"
I have download NiceHashMinerLegacy v1.8.0.2 from link : https://github.com/nicehash/NiceHashMinerLegacy/releases
But show error as picture in attached file.

Hardware : NVIDIA 1080 ti
![error nicehash](https://user-images.githubusercontent.com/30491715/28659562-2645eb72-72da-11e7-84e0-06cacf48a5aa.jpg)

[2017-07-27 07:47] drkskwlkr commented on #85
@owen29338: See if #32 fix will help?

[2017-07-27 07:53] DillonN commented on #85
Like @drkskwlkr said you can try copying OpenCL.dll from the ethminer directory into the same directory as NiceHashMinerLegacy.exe

You can also edit `\configs\General.json` and changing `"DisableDetectionAMD": false,` to `"DisableDetectionAMD": true,` since you aren't using AMD devices.

[2017-07-27 07:56] DillonN commented on #84
This seems to happen when using many GPUs with Nist5. You can try tweaking `-i <##>` values in the Extra Launch Parameters

I would also be interested if this happens if the GPUs are split between two miner instances. You could try this by opening a second instance of NHML and having half of the GPUs on each

[2017-07-27 07:57] DillonN commented on #82
At the moment benchmarking isn't supported offline since many miners require a connection to be benched properly. I will make a fix so there is no crash, but many of the algorithms will fail still

[2017-07-27 08:01] DillonN commented on #76
Yes that is a lot of virtual memory, assuming not much else is hogging RAM on the system. Does the problem exist when you run ClaymoreDual without a second algorithm? And does it still happen if you manually open a CD miner while EWBF is running?

[2017-07-27 08:05] DillonN commented on #69
Having the Optimize For Compute option enabled can cause issues with programs accessing CUDA devices. You can try disabling it globally and adding program specific rules for the ethereum miners, only turning it on for them

For more details you can see my comment here https://github.com/nicehash/NiceHashMinerLegacy/issues/33#issuecomment-315279151

[2017-07-27 08:09] DillonN commented on #74
I've had this problem with some miners before, usually after an update to drivers or the miner. For me it would happen even when running the miners manually so there wasn't anything I could do to NHML to help other than disable them, is it the same for you? If you have any overclocks/undervolts trying without that might help as well

[2017-07-27 08:12] DillonN commented on #61
Yes I agree there shouldn't be crashes. Right now though there is no logic for NHML to pick which algo to mine while NH API is down. There is a totally new connection method to NH servers in the works though

[2017-07-27 08:20] owen29338 commented on #85
I try to do already then show this message is ok?

![image](https://user-images.githubusercontent.com/30491715/28660913-1cb5134e-72df-11e7-850e-27514f8dcbe0.png)

[2017-07-27 08:21] DillonN commented on #85
Yes it's just a check that you have enough free RAM. With the 1080 Ti's large VRAM size it comes up too often, will be adjusted soon. You can click OK and all should work

[2017-07-27 10:03] owen29338 commented on #85
Why I can't benchmark success is show message as below ,plz help
![image](https://user-images.githubusercontent.com/30491715/28665312-7556e35c-72ed-11e7-946d-319d7fd18c25.png)

[2017-07-27 10:15] drkskwlkr commented on #85
@owen29338 It happens from time to time. Just click retry and the rest of the benchmarks will probably complete.

[2017-07-27 11:11] aganorian opened #86 "Keccak Performance"
Hello, can you tell me the expected prformance of the Keccak  algo for the 1080ti?

I'm having less performance using it instead of other algo's. I'm getting around 1.38GH/s.
I cannot find the NVIDIA Inspector's Multi Display Power Saver option, only the MultiDisplay/Mixed-GPU Acceletarion. Is this the option?

[2017-07-27 11:14] DillonN commented on #86
That's about what I get on 1080 Tis. Nv inspector is a third party took some people use to control GPUs

Keccak seemed to spike quite a bit, but it has gone down

[2017-07-27 11:17] aganorian commented on #86
Great, now i know its a expected value :+1:

[2017-07-27 11:17] #86 closed, assigned to nobody

[2017-07-27 11:23] owen29338 commented on #85
Why show only 1 algorithm ,another people show many algorithm ,plz help again
![image](https://user-images.githubusercontent.com/30491715/28668126-ad530b86-72f8-11e7-9e7d-48fd74246771.png)

[2017-07-27 11:32] drkskwlkr commented on #85
@owen29338 Dude, do you even know how lists work? You've selected your CPU in the top list and the bottom list shows algos available for the CPU. Click on a video card and the list below will display the algos available for video cards. It's all written in the interface.

[2017-07-27 11:41] owen29338 commented on #85
5555 Thx @drkskwlkr

[2017-07-27 11:43] owen29338 commented on #85
Solution of #32 is solution for my issue ,thank your guys @drkskwlkr @DillonN

[2017-07-27 11:43] #85 closed, assigned to nobody

[2017-07-27 11:57] koraybilgi commented on #15
Wifi or not, if internet drops out for a period of time and comes back online, Nicehash does nothing until the user clicks one of the buttons. It's a big issue especially for remote machines.

Could you at least make it optional to display the warning messagebox. And let the app try to connect every 2 minutes in background?

Thx.

[2017-07-27 12:02] rakanishu82 opened #87 "Less perfomance XmrStackCPU on all versions above 1.7.5.13"
For i7 2600k CryptoNight(XmrStackCPU (v140)) with 4 less threads option shows around 325Kh/s with 1.7.5.13 miner.  All versions of miner above shows ~210-250 KH/s at the same settings and reports memory alloc failed in prompt.
2600k 4.9GHz (stable), 16Gb RAM, swap-file is unlimited, win 10
![1 7 5 13](https://user-images.githubusercontent.com/30497578/28669278-4e287edc-72dc-11e7-8b76-5691bb06c082.

[2017-07-27 15:33] frazier345 commented on #75
I have turned off Cryptonight (750 tis) and Lbry (all) and it has not crashed since.  So about 10 hours with no issues.  granted I moved the change algo diff up to .08 so not as many switches.

[2017-07-27 16:14] p1r473 commented on #84
I have no idea what extra launch parameter would fix this

I split cards 1-3 and 4-6 into separate instances and have the same issue

Ignore the colors: I took a screenshot of an RDP session and somehow the colors seem messed up... it looks fine... its not actually red...
![image](https://user-images.githubusercontent.com/9235633/28680720-30395462-72c5-11e7-94f9-5266a84a0f2f.png)

[2017-07-27 17:30] p1r473 commented on #84
Also weird is I enabled Nist for 2 cards, and the other 4 were on a normal algorithm, and I was experiencing the same issue. Not full card usage on ALL cards even when Nist enabled on only 2/6 cards. (Using single instance of NH for this test)

[2017-07-27 21:06] XnetLoL commented on #1186
Same problem here, is there are solution?

[2017-07-28 05:09] Frageron commented on #74
I have tried without overclock, it's the same. Thank you anyway.

[2017-07-28 06:34] utc99 opened #88 "Idle state mining when multiple accounts are being used."
I have an issue with idle state mining. This could count as improvement i guess if it could be implemented, or at least an instruction or help with code that need to be changed of how could i achieve this on my local version, not on the NHML release.

I run NHML from one account, which i guess has all the privileges, LocalSystem, and I want that it would run only, when no other user on computer is

[2017-07-28 07:55] adem4ik opened #89 "Missing translation for Retry & Cancel buttons in FormBenchmark_Benchmark_Finish_Fail_MsgBox_Msg"
1) Start benchmark
2) Benchmark should be finished with fail for some algorithms
3) "FormBenchmark_Benchmark_Finish_Fail_MsgBox_Msg" window appears

Result: There is no translation for 'Retry' & 'Cancel' buttons
![image](https://user-images.githubusercontent.com/4707112/28708021-9a50b5c2-738b-11e7-8405-d91bc71894f4.png)

There are no source strings for those buttons in *en.lang*.

[2017-07-28 09:25] ALEXEY-SOFT commented on #76
The problem only occurs when EWBF is started on 1050 2GB, and any version of the Claymore Miner is started at 1060. Other miners, for example Ethminer (1060) + EWBF (1050) works without problems.

[2017-07-28 09:48] ALEXEY-SOFT commented on #76
[Bug EWBF miner
](https://youtu.be/w59ZEq0vO-I)

[2017-07-28 11:55] scavern opened #91 "intensity parameter incorrect for keccak"
The intensity paramater for keccak is incorrectly set as -- intensity 15 instead of --intensity 15. The additional space results in nothing further being parsed correctly.

[13:52:10] [ExtraLaunchParametersParser] ExtraLaunch params " --remove-disabled --keccak-unroll 0 --hamsi-expand-big 4 --remove-disabled  -- intensity 15" for device UUID PCI_VEN_1002&DEV_67DF_578C236
[13:52:10] [ExtraLaunchPar

[2017-07-28 14:16] miesdr commented on #78
i'm also having the same problem and most of the time it will cause my pc to hung state. revert back to v1.8.0.1. no more issue.

[2017-07-28 15:35] p1r473 opened #93 "Keccak stratum connection problems"
Receiving stratum problems on both of my rigs that were trying Keccak
It works for a bit then breaks

![image](https://user-images.githubusercontent.com/9235633/28724655-ca08e684-7388-11e7-9101-bc4f8545365a.png)

[2017-07-28 17:38] p1r473 commented on #54
I use www.r2.com.au/page/products/show/startup-delayer/

[2017-07-28 19:43] #61 closed, assigned to nobody

[2017-07-28 20:38] Spoob opened #94 "1.8.0.2 Simultaneously restarts all algorithms"
The version of Naisheesh 1.8.0.2. Often restarts algorithms, from minutes to 15 minutes, once saw work 1.5 hours. The main issue is not this. And in that even if the system works, and for example to close one of the windows of miners, the nicehash opens it again, then both windows are closed and opened again. Those. When you change the algorithm of one, nicehash restarts and the second one too, bu

[2017-07-28 20:47] Spoob commented on #94
[2017-07-28 23:38:56] [INFO] [MiningSession] Current Global profit: 10.59002333 USD/Day
[2017-07-28 23:38:56] [INFO] [MiningSession] Current Global profit: IS PROFITABLE MinProfit mine always regardless of profit
[2017-07-28 23:38:56] [INFO] [MiningSession] PrevStateProfit 0.00251449709626258, CurrentProfit 0.00382518451352121
[2017-07-28 23:38:56] [INFO] [MiningSession] Will SWITCH profit diff is

[2017-07-29 02:05] ImaginaryPie commented on #67
This fix worked thanks

[2017-07-29 05:59] billmcilhargey commented on #56
@DillonN  if you would like a Tesla K80 to test with I can provide a VM for a small period of time as needed

[2017-07-29 06:41] markomoisa opened #95 "SMA get failed .. retrying"
Cant use Legacy version. Only NiceHas Miner 2 is working fine.
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1184702/log.txt)

[2017-07-29 11:04] lmlim commented on #1031
how do i disable it via nicehash GUI? anyone? i tried putting -mport option in extra launch parameters, and it didnt work.... last week i lost 2.5 hours, as someone hacked into the port....

please help

[2017-07-29 11:34] lmlim opened #96 "I was hacked, management port on Claymore miner open by default. DAMN!!!"
Please put the management port diabled/read only by default.
I was hacked last week. my wallet was replaced for 2.5 hrs and reverted back. all of my rigs produce 0 btc during that time....

temporary solution was to disable UPnP in my router.

how do i disable it? putting it in extra launch param didnt work for me....

[2017-07-29 13:00] lmlim commented on #74
undervolting usually had the same problem. i have to zero out undervolting before stopping.

[2017-07-29 13:45] webdevelopmentgroup commented on #1199
We performed ddu multiple times and have the latest drivers.

[2017-07-29 13:47] lmlim commented on #94
yes, logically just close what is less profitable and run more profitable algo and ignore the other algos.

[2017-07-29 13:59] Spoob commented on #94
Yes, that's right, on other versions, for example on the classic Nicehash worked 2 algorithms in two windows. Each window was restarted separately, regardless of each other. Radeons for example do not switch anywhere, they can dig the same thing for more than a day, and even if they restart it, it still starts what it was. Now they are jerking along with the cards. I tried version 1.8.0.1 - all th

[2017-07-29 13:59] webdevelopmentgroup commented on #1199
Now after checking bug within the app it says: cuda nvidia/cudia device count bad!!!

[2017-07-29 14:15] webdevelopmentgroup commented on #1087
same thing is happening to us we have 4 GTX 1080's computer shows 4 but nice has picks up 3? even with the latest drivers etc.

[2017-07-29 16:05] webdevelopmentgroup commented on #1199
software still crashes GPU even with 3 GPUS

[2017-07-29 16:07] webdevelopmentgroup commented on #1200
same issue here still no replies from nice hash.

[2017-07-29 16:11] webdevelopmentgroup commented on #1199
Now after mining lbry it crashes...

[2017-07-29 19:54] billmcilhargey opened #97 "BCC Support (assuming NiceHash supports?)"
If NiceHash decides to create a pool for Sellers to sell their hashing power to.  Will support be added for BCC?

Since BCC is going to be considered another altcoin my guess is the difficulty may be pretty low compared to BTC.  So it may be profitable to mine?  (Of course wont know till this happens)

https://new.nicehash.com/news/193

Mentions you can use NiceHash to mine BCC (for buyers) I am w

[2017-07-29 19:55] billmcilhargey commented on #96
Side question but even if the management port was opened in the client the port would need to be Port Forwarded through your network firewall (assuming you have a standard wireless router at home). If the port is not forwarded and you are behind a NAT'd device then no one would have been able to connect to this port even if the client has it opened

I guess what I am saying here is if you are not

[2017-07-29 19:57] billmcilhargey commented on #96
Also with Claymore, remember a certain percentage of time is mined towards Claymore's wallet as his fee.

My guess is this is what is really going on here

[2017-07-29 20:08] drkskwlkr commented on #96
@lmlim I was about to say the same as @computeronix. Claymore (like other miners) binds to localhost address only. This is not normally accessible from outside the router. In order to get exploited, you need to have your router set up to allow port forwarding; then somebody on the outside needs to know your IP address in order to access the admin interface on your rig.

Obviously, this can't happe

[2017-07-29 20:14] gpcola commented on #96
Over the course of a week that could be ~2.5 hrs

[2017-07-29 20:25] drkskwlkr commented on #96
@gpcola Ah, good point :) From the original post it wasn't clear whether these 2.5 hours are a single period of time or accumulated over a longer period.

[2017-07-29 21:43] ChriscomIT commented on #97
They must support BCC for sellers, not forcibly for NHML or v2 but at least for standalone miners. That's how NH works. If nobody sells BCC hashing power then nobody can buy BCC hashing power on NiceHash.

[2017-07-29 22:53] luongk commented on #94
I didn't quite understand Spoob's initial comment, but I think I'm seeting the same behaviour - in a multi-GPU setup (I have a 1080ti and a 980) both miners seem to be restarted even if one of them is still mining the same coin after the restart

e.g. 1080ti mining Blake2s, 980 mining DaggerPascal
Blake2s profitability drops, 1080ti changes to Equihash but 980 miner also gets restarted (mining the

[2017-07-29 23:56] lmlim commented on #96
Thanks everyone for replying,

the incident happened from ~1.45AM to ~4.15AM july 24th. my mining work was 0 from all of my rigs during that time. but all rigs was running ok(no crash, no freeze, nothing), when i woke up that morning. seems like my wallet has been replaced temporarily for 2.5hrs, and then reverted back. I am not pointing fingers to claymore/nicehash fault. it's not 2.5hrs of devfe

[2017-07-30 00:02] billmcilhargey commented on #97
True and good point

They confirmed yes the sha256 mining pool will be able to target the fork, makes sense after all its the same algorithm :)

On that note then is there a sha256 miner for GPUs available?  I know the sha256 algorithm is not used in nicehash today or is it?

Of course this assumes BCC is worth mining the sha-256   depends on the difficulty and if a good chunk of asic devices star

[2017-07-30 00:18] DillonN commented on #89
Thanks for pointing this out, I will look into it

[2017-07-30 00:44] DillonN commented on #96
Which Claymore miner were you using? By default they bind to localhost, i.e. 127.0.0.1. With that it would be impossible to "hack" into the remote management port unless they had access to your actual computer. A port bound to localhost cannot be accessed even from computers on your local network (unless you've modified your Windows install to allow remote localhost access), let alone remote PCs (

[2017-07-30 00:49] DillonN commented on #97
From what I can tell BCC is an altcoin that works off the same algorithm as BCC? Since NH sellers sell through *algorithms* and not coins themselves, NHML is irrespective to actual altcoins. The buyers buy the algorithm hashing power and use it for which coin they like, so selling is impartial to which coin is used.

Regarding SHA256 support, last time I checked it is vastly unprofitable for GPUs

[2017-07-30 01:13] lmlim commented on #96
thanks for replying Mr Dillon,

i am using the latest one ver 9.7 that comes with NHML 1.8.0.2.
also, i am using nicehash viewer app on on android as a tool to monitor my rigs. this app, i believe it's not official from nicehash. (it made me somewhat worried)
is there any official nicehash app on android for monitoring purposes?

===

[2017-07-30 01:31] ChriscomIT commented on #97
Yeah right, that's the correct logic. Thanks for the clarification. In the end, it means it will be supported when I got everything correct.

[2017-07-30 02:11] p1r473 opened #98 "Reboot rig if no mining detected"
Would love an option to reboot rig if no mining is detected. Being caused by gfx driver crashes or Ethernet adapter problems for me. Reset fixes it.

[2017-07-30 02:15] anonymous7537793759834 commented on #97
I do not agree on the Nicehash make available the BCC algo ,or as I like to call BCS (bitcoin scheme)
Furthermore, if that currency starts to the market,It will not last very long time.
If still Nicehash decide to support BCS I'll turn off that algorithm.
And you three go FORK OFF with that idea.

[2017-07-30 02:46] anonymous7537793759834 commented on #97
If that coin BCC (bitcoin scheme) exists, it will be fun because all the wallets and exchanges and also pools that support BCC will be hacked at all minute, because it is not a decentralized currency, as such it will be easy to hack, if you understand infoSec you knew this.

[2017-07-30 02:52] anonymous7537793759834 commented on #97
Never forget that BITCOIN (BTC) was written by cypherpunks.
Do you want to know why there is a punk?
Attack the BTC and see what happens.
https://www.youtube.com/watch?v=dHfomnOhvZc

[2017-07-30 02:55] billmcilhargey commented on #97
closing this as the issue was answered and the rants are not productive

[2017-07-30 02:55] #97 closed, assigned to nobody

[2017-07-30 04:32] sabaruddin opened #99 "Display Incorrectly - on Setting Window"
![image](https://user-images.githubusercontent.com/15374213/28750597-b7645054-7522-11e7-8b25-9d34c9b7015d.png)

The max res of the layout can't show all the contents, lost the buttons..:), should be expanding

btw, happened to me only or others also experienced it?

thanks!

[2017-07-30 04:44] #99 closed, assigned to nobody

[2017-07-30 04:44] sabaruddin commented on #99
closing duplicate issue

[2017-07-30 04:49] ChriscomIT commented on #97
@anonymous7537793759834  Haha haha dude go back to where you came from. Behind the moon. BTW do you even understand the content of the video you posted or watched it until the end?? Thanks!

[2017-07-30 06:45] mgwojcik commented on #725
Got the same problem. Mining goes for hours, but finally always crashes due to too many rejection. Any downclocking an downvolting is not helpful...

[2017-07-30 08:06] drkskwlkr commented on #96
NHM apps rely on the [NiceHash API](https://www.nicehash.com/?p=api) to get information. As far as hash power sellers are concerned, this API is read-only and allows access to a subset of the information that NiceHash keeps about your mining process. The monitor app does not communicate with your rig and the API cannot be used to switch BTC addresses. The breach is highly unlikely to have come thr

[2017-07-30 09:09] HailHEN commented on #1201
I think its due to the uncertainty caused by the Fork on August 1 by Bitcoin. Its affecting all miners

[2017-07-30 12:00] Spoob commented on #94
Yes exactly. Previously, each algorithm worked by itself, now if 1080ti is necessary to switch to another algorithm, then it also restarts the RX570. Although the RX570 did not need to be restarted, and they start again on the same algorithm as before.

[2017-07-30 12:14] Joern85 commented on #94
i'm using a rx480 and gtx 970. everytime the algo for the gtx970 changes the miner for the rx480 is also being restarted. but the algo for the rx480doesn't change, it's always dagger decred

[2017-07-30 15:23] lmlim commented on #96
@drkskwlkr

thanks for the enlightment re: android apps.

yes, i think it looked my wallet was replaced for 2.5hrs, because my balance was not increased and mining was still running during that time. my wallet was intact and mining is still running when i saw my computer, i did not change the wallet back nor do i see some other wallet number. sorry, i may have jumped to a wrong conclusion, but rea

[2017-07-30 15:33] ChriscomIT commented on #96
Hi, just a wild and simple guess but could it be that you had an internet connection loss for 2.5h ??

[2017-07-30 15:34] gpcola commented on #96
Perhaps the miner crashed and was subsequently restarted or as @ChriscomIT says, you had no internet for those 2.5hrs?

[2017-07-30 18:51] andzur opened #100 "0xc000007b error in EthDcrMiner64"
![przechwytywanie2](https://user-images.githubusercontent.com/29987133/28756125-baf5635c-7568-11e7-9227-78b7bb77320d.PNG)

Only Claymore dual has a problem - other miner working ok.
Any ideas?

[2017-07-31 00:06] RealityRipple commented on #652
I was having this problem even with lots of free space and RAM, but after a bit of searching, I found a helpful utility, from Microsoft of all people: RAMMap [https://docs.microsoft.com/en-us/sysinternals/downloads/rammap](url).
Just use the Empty menu to clear everything. It might take a few extra minutes before the problem really clears, but it does work eventually.

[2017-07-31 00:11] DillonN commented on #94
Thanks for sharing this, it isn't the intended behaviour. Just to be clear, is there anyone experiencing this without at least one of the algorithms involved being a ClaymoreDual one?

[2017-07-31 00:12] DillonN commented on #95
NHML looks like it isn't able to contact the NH servers. Have you tried allowing it through your firewall?

[2017-07-31 00:16] luongk commented on #94
My rig just went from 1080ti mining keccak + 980 mining Equihash to both mining equihash (with both miners restarting to reload in a single window), but I imagine that's intended behaviour.

[2017-07-31 00:16] DillonN commented on #100
It looks like ClaymoreDual is unable to open on your computer. Do you have a 64 bit OS? There may also be a disk problem - you could try running chkdsk

[2017-07-31 00:17] DillonN commented on #94
Yes in some scenarios a restart of the miner is necessary - mainly in situations like that (where the changing device is switching to the same algo as the non-changing one)

[2017-07-31 00:51] luongk commented on #94
That being said it's not consistent - just went from 1080ti mining keccak + 980 mining equihash to 1080ti/x11gost and 980/equihash, the equihash miner didn't restart.

[2017-07-31 02:07] p1r473 commented on #84
What parameters can I pass to the algorithm to fix it?

[2017-07-31 03:44] ChriscomIT commented on #93
Seems it was just a short and temporary downtime of the server. I recognized the same. It was up again some minutes later.

[2017-07-31 04:04] rbj325 commented on #1201
Because of the upcoming fork there were a few major spikes over the past week or so.  The numbers you are seeing now are more accurate to what you should see with your equipment.

https://www.nicehash.com/?p=calc

[2017-07-31 04:23] SamadKhan123 opened #101 "Keccak algorith not working"
Hello guys i am having issues with NHML keccak algorithm not working it shows retry in 30 seconds and i sitched off keccak please help.

[2017-07-31 05:00] markomoisa commented on #95
you have right. I disabled firewall and after that nicehash is working again.

[2017-07-31 05:00] #95 closed, assigned to nobody

[2017-07-31 07:33] Spoob commented on #94
I'm currently using dual mode on the RX570 and 1080TI. It is the same miner but in different windows. When restarting one of them, the second one of course can also restart.
Before that, RX570 only got a dagger + decred, and 1080 ekvihesh / lbr / keccak and others. If 1080ti was restarted to change the algorithm, the RX570 was also restarted. RX570 ran the same algorithm as before. In other words,

[2017-07-31 08:18] johnmilanoski commented on #969
On Windows, this is what i did.

stop mining, go to configure > advance > See warning, don't care > open config file. that will take you into the \nhm2\configs directory.

Keep this directory open and close nicehash.  After closing nicehash, go back to directory you left open \nhm2\configs.

You'll see the benchmark files for your GPU's ( benchmark_GPU-XXXXXXXX....json ) and CPU ( benchmark_GEN-XX

[2017-07-31 10:52] nicehashdev commented on #101
This may happen when all orders are full. Unfortunately, nobody dared to put unlimited bottom order for low price (hint for buyers - do this and you may profit $$$). This is nothing NHML can do about it, but if you wish to prevent this from happening, just disable keccak.

[2017-07-31 10:53] nicehashdev commented on #100
This looks like an issue with OpenCL.dll (being 32bit version instead of 64bit). Copy 64bit version of OpenCL.dll into the folder where you have claymore miner.

You can read more about OpenCL.dll mess here: https://github.com/nicehash/excavator/issues/1

[2017-07-31 12:52] andzur commented on #100
OpenCL.dll was the problem.
Copy 64bit version and problem is solved.
Thnx

[2017-07-31 12:52] #100 closed, assigned to nobody

[2017-07-31 17:53] kenman345 commented on #98
I think an option like this should only be able to be enabled when the option to start on boot is selected so that we avoid unintentional behavior.

[2017-07-31 17:58] andzur opened #102 "GetSummary exception: (...) refused it 127.0.0.1:400x"
Getting the following msg in console of NHML:

[19:36:08] [ClaymoreDual-MINER_ID(1095)-DEVICE_IDs(1,2,3)] No connection could be made because the target machine actively refused it 127.0.0.1:4003

and similar with ccminer, ewbf, ...

Miners are working OK.

Is it a problem?

[2017-07-31 18:10] lorilian1 opened #103 "not enough resorces when i know i have enough this is so odd"
my HP omen 15 with gtx 960m has had trouble starting about 5 differnt versions of nicehash never works right for more then a tiny bit

[2017-07-31 18:30] Arcandel opened #104 "Claymore performance went from 29mh/s to 4 mh/s on all 6 xrx580 8gb graphic cards"
Claymore performance went from 29mh/s to 4 mh/s on all 6 xrx580 8gb graphic any idea why it only went windows update ;/

[2017-07-31 21:55] DillonN commented on #102
This can happen when miners are starting up, it's nothing to worry about. Basically NHML is trying to contact the miner to get speed info, but the miner is not yet ready for connections so it is denied. Once the miner is finished starting up the messages should stop.

[2017-07-31 21:57] DillonN commented on #103
Which algorithms are you trying to mine with? Some may not work well on a 960m since it has only 2GB of VRAM

[2017-08-01 00:56] C1BERUS commented on #1197
weekly if your balance above 0.01BTC, if not u it will accumulate until above 0.01BTC on the next weeks.

[2017-08-01 07:13] malventano opened #105 "Settings window cropped too small to use at lower resolutions"
1024x768. See photo.
![nicehash-bug](https://user-images.githubusercontent.com/29584411/28813471-60c82ac2-7667-11e7-99d2-3081cf37293a.png)

[2017-08-01 07:20] malventano commented on #105
In addition to this issue, if the NiceHash window is at the top of the screen, the Settings window will be drawn with its title bar above the clickable range of the screen (so the window can not be dragged/moved).

[2017-08-01 08:29] DillonN commented on #72
Sorry @computeronix, do you mean you still had the issue present?

[2017-08-01 08:30] DillonN commented on #105
Thanks @malventano, this will be fixed in the next update. For now as a workaround you can use ALT+S to save the settings.

[2017-08-01 09:04] UselessGuru commented on #1188
nist5 and keccak are supported with NHML 1.8.0.2

[2017-08-01 09:31] p1r473 commented on #98
I'm using a different method to start on boot so I would not like these 2 settings tied to each other. I am using a third party program called startup delayer but I also know some people are using task scheduler. The advantage of these programs is you can select a startup delay time instead of right at boot. I wait till all startup programs are loaded (I wait 45 seconds) before launching NHML, so

[2017-08-01 09:32] #93 closed, assigned to nobody

[2017-08-01 09:33] p1r473 commented on #93
It happened 2 different days for me so far. Hopefully won't happen again..

[2017-08-01 09:35] p1r473 commented on #96
Highly doubt someone hacked you for 2.5hours then reverted it. Your computer just messed up. I get it too. Sometimes dns issues. Could be anything.

[2017-08-01 10:25] Krotain commented on #1200
Same issue here, also with Lyra2REv2, I've just disabled both of them at this point.

[2017-08-01 11:20] UselessGuru commented on #25
For GTX 1080ti there is a very good reason to disable P2 state: You can overclock the memory to the max :-)
To prevent the card to fall back to P2 I use NVIDIA Prefile Infector 2.1.3.9 and set '5 - common' / 'CUDA -
 Force P2 state' = off (not all versions can do this). Attached the corresponding setting as file - rename it to .nip.
[SetPstate0_rename2.nip.txt](https://github.com/nicehash/NiceHash

[2017-08-01 12:48] andzur commented on #102
Thnx for info

[2017-08-01 12:48] #102 closed, assigned to nobody

[2017-08-01 14:03] ChriscomIT commented on #93
Please don't reopen this again and again. It's no fault of the application itself.

[2017-08-01 14:04] nicehashdev commented on #93
There is nothing to fix. There are simply not enough orders (no unlimited order) by buyers so not all of you are able to mine keccak all the time.

[2017-08-01 14:06] ChriscomIT commented on #93
@nicehashdev Ah ok good to know. Never did notice that. So when there are no orders we simply can't connect to the server?

[2017-08-01 14:07] nicehashdev commented on #93
Of course. Usually, buyers put bottom wall for very low price and make it unlimited. But in this case, nobody did this. This is also a hint for someone to pull quite some almost free money if being done.

[2017-08-01 14:09] ChriscomIT commented on #93
Ok, thanks for the clarification. Sounds good. Yeah if I had enough crypto at the moment I sure would give it a shot. But I can't afford to lose something right now so I better don't test my luck. :D One thing I still don't get is why the profitability of keccak sometimes the highest even if there are not enough or no orders at all? Does that rely on the latest profitability keccak had before runn

[2017-08-01 15:34] XnetLoL commented on #1186
Why there's no answer:/ Many people have the same problem.

[2017-08-01 15:36] microtechies commented on #1202
Have you checked your bitcoin wallet? you might have been paid out

[2017-08-01 16:08] MonaxDK commented on #74
I occasionally have this problem, this is due to the fact that during mining process the memory frequency is reduced below the nominal value (NVIDIA). Therefore in MSI Afterburner it is necessary to increase frequency of memory to reach even nominal frequency. When you press the stop button, the overclocked cards do not have time to lower the frequencies and for a while (1-2 seconds) they work at

[2017-08-01 19:45] DillonN commented on #91
Thanks for pointing out, this is now fixed in commit 7d3eb02f27f5cb467086b6d9b9a0fce05f606730 and will be in the next release

[2017-08-01 19:59] DillonN commented on #84
You can pass `-i <##>` to each GPU's extra launch params for Nist5, and put a number around 20 for `<##>`. You can tweak this up or down to see if it helps.

[2017-08-01 20:23] scavern commented on #104
Latest AMD graphics driver could have caused this.

[2017-08-01 20:24] #91 closed, assigned to nobody

[2017-08-01 23:18] undefy opened #107 "6th card half speed?"
Hello,

On my rig i have 6 cards, 2 x 480s and 4 x 470s
Windows 10, 8 gig ram, 60gb SSD.
miner v1.8.0.2

For some reason my 6th card mines at half the speed... Any ideas? Benchmark was standard and all the speed are the same

[2017-08-01 23:58] koalana opened #108 "GPU 1080ti not detected"
Yesterday my miner stopped detecting my GPU

[2017-08-02 05:42] PhatWheZ commented on #1204
This would help me also,

I got a lot of dumb PCs that could churn over a threads worth of work daily.
Might not be alot but its something

On 2 August 2017 at 06:00, Sergey <notifications@github.com> wrote:

[2017-08-02 07:52] Mystere opened #109 "NHLM doesn't seem to support some extra launch parameters"
[02:34:49] [ExtraLaunchParametersParser] Cannot parse "auto", not supported, set to ignore, or wrong extra launch parameter settings
[02:34:49] [ExtraLaunchParametersParser] ExtraLaunch params "--cuda-schedule=auto" for device UUID GPU-38f31aff-8e95-341d-a6dc-9b909aa21bc9

Is this a general --parameter issue?  Or is it because it's a non-numeric value?

[2017-08-02 09:33] n00bhax commented on #397
Found a way to fix it without fucking your internet by completely disabling ipv4 or ipv6:

- Go to your windows firewall settings
- Make new rules for incoming and outgoing traffic
- Choose program and allow the internet connection
- Right click on the rule you just made and go to properties
- Now go to the tab 'protocols and ports'
- Change the type to ip6

Now will NiceHash only use ipv6

1NhkNM

[2017-08-02 09:56] DillonN commented on #109
Hello @Mystere, which miner are you trying to use the parameter with?

[2017-08-02 09:57] DillonN commented on #107
Does it run at half speed for every algorithm or is it only one?

[2017-08-02 10:06] undefy commented on #107
for every algorithm.
UPDATE: I did a precise bench mark over night for all gpus and the 6th gpu (470) turned up all the algorithms @ 1/2 speed. HOWEVER when i started mining i disabled dagger/sia combo and worked fine for while i.e. full speeds on all cards.

[2017-08-02 10:11] DillonN commented on #107
Could you post your log file for when you run with the daggersia enabled? Also when you run do you see any other mining windows open other than what NHML says it is using?

[2017-08-02 11:46] Balayashi commented on #1206
solved.

[2017-08-02 14:50] sabaruddin opened #110 "ETH Share Rejected"
keeps happening even I manually updated with latest claymore_dual v9.8 and switch to another server location

[2017-08-02 15:15] AstarothPoD commented on #1104
This is important, there are many MH/s to be gained by implementing the new ethminer. Anyone looked at it?

[2017-08-02 20:17] JerryC564 commented on #105
You are luckier than me, I can't even see the buttons. Please fix it @DillonN
![20170802141409](https://user-images.githubusercontent.com/28459583/28893007-2799f88a-778d-11e7-90ca-1bf2f35cb7fa.png)

[2017-08-02 20:47] FritzHp commented on #1188
but still is there a version that has all available algos that are listed on "get started" page? https://www.nicehash.com/?p=gstarted
Thanks.

[2017-08-03 01:44] ChriscomIT commented on #72
I understand as its fixed with the commit but just @computeronix can really confirm.

[2017-08-03 02:40] gohpuikye commented on #1125
i have the same problem like u. I even tried with 1500watt psu and it doesnt solve the restart problem.

[2017-08-03 02:42] makitoki commented on #1125
I think it's their miner, I have since switched to ewbfs zcash miner and
zero issues been mining for 18+ days

On Aug 2, 2017 7:40 PM, "gohpuikye" <notifications@github.com> wrote:

[2017-08-03 04:21] JerryC564 commented on #6
You can add an option "don't ask me again", DillonN

[2017-08-03 05:27] StrobFX opened #1208 "CPU xeon X56xx series not detected"
Hi,
I have many computers with dual xeon x56 series (they have AES / AES-NI) and I installed intel opencl for xeon cpu but still my cpu are not detected by nicehash.

What else could it be?

[2017-08-03 07:55] DillonN commented on #72
I have made a pre-release with the fix, if others that are experiencing the issue could try it out I'd appreciate it. Just copy the .exe file over the current one

https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.0.3-Pre

[2017-08-03 07:55] DillonN commented on #105
Please see [this comment](https://github.com/nicehash/NiceHashMinerLegacy/issues/72#issuecomment-319896598)

[2017-08-03 08:38] DillonN commented on #110
When you watch the miner window does it give you a reason why the shares are rejected?

Rejected shares can happen for a variety of reasons, but most common are a poor connection to the pool or hardware instability (overclocks/undervolts/failures). A small percentage of rejected is not abnormal, especially when dual mining claymore dual

[2017-08-03 09:15] DillonN commented on #89
@adem4ik, this is added in commit acd6f9d3931105ab5ac1239c567add49268b0194. Please not the '&' character, which denotes which letter will be the keyboard shortcut when ALT is pressed (the buttons should all have different shortcut letters)

[2017-08-03 09:19] microtechies commented on #56
Any ideas @DillonN ?

[2017-08-03 10:16] DillonN commented on #56
Sorry @computeronix I did not see your last comment. I was thinking of ways to help without access to a K80 so VM access would help immensely (it would have to wait until next week though). In the meantime if you could post logs from during the benchmarking I could maybe walk you through the troubleshooting (provided you can get Visual Studio installed on the VM) or get a better idea of the proble

[2017-08-03 10:27] DillonN commented on #104
As @scavern said this might have been caused by a driver update from Windows Update. Sometimes WU can even give you older drivers than what you had installed if Windows wrongly believes they're newer.

[2017-08-03 10:31] DillonN commented on #98
Thanks for the suggestion, I'll look into implementing this in the future

[2017-08-03 10:39] DillonN commented on #87
Interesting, there haven't been any changes to XmrStackCPU. It would seem the issue stems from the memory alloc failed, there are [some suggestions](https://github.com/nicehash/NiceHashMiner/issues/652) on the old repo you can try

[2017-08-03 10:40] DillonN commented on #88
Thanks for the suggestion @utc99, I will look into this in the future it sounds like a useful feature.

[2017-08-03 11:05] rakanishu82 commented on #87
Already got all suggestions on from old repo - nothing changed for me.
Noticed that NH 1.7.5.13 run as administrator by default and 1.8.0.2 isn't.
Tried to run newer versions as admin and the problem is gone, just that simple.

[2017-08-03 11:16] #87 closed, assigned to nobody

[2017-08-03 11:39] microtechies commented on #56
@DillonN there is no prob with 8 but probs with 16, I can provide a VM also with vs, just tell me what version you want and I'll install (I have msdn)

[2017-08-03 12:37] sabaruddin commented on #110
60% rejected, also happened on my team's farm. but after 11.30 pm last night they are running smooth. thanks DillonN

[2017-08-03 12:37] #110 closed, assigned to nobody

[2017-08-03 12:41] adem4ik commented on #108
Can you provide some more information? Like what was changed before miner stopped to work? May be you have updated drivers or installed newest version of NHML?

[2017-08-03 12:44] adem4ik commented on #104
It is a good practice for any miner to disable WU for drivers and to use manual upgrading instead.

[2017-08-03 12:46] adem4ik commented on #103
A common tip - try to increase virtual memory (swap) inside your OS. But for now 3GB VRAM is the very minimum required for mining.

[2017-08-03 13:53] lorilian1 commented on #103
oh ty alot for that i got 8gig ddr4 so i shuold be aright ima find out if i can upgrade vram

________________________________
From: Andrei Stepanov <notifications@github.com>
Sent: Thursday, August 3, 2017 8:46 AM
To: nicehash/NiceHashMinerLegacy
Cc: lorilian1; Author
Subject: Re: [nicehash/NiceHashMinerLegacy] not enough resorces when i know i have enough this is so odd (#103)

A very common tip

[2017-08-03 13:59] adem4ik commented on #103
I think you misunderstand the points. Let me clear it out:
- 8gig ddr4 is just RAM.
- Virtual memory (swap) is OS feature which creates a part on HDD that complements RAM.

But VRAM is Video Memory which is located in gfx card. Afaik you can't extend it w/o upgrading gfx card.

[2017-08-03 15:22] lorilian1 commented on #103
ohhhhhhh ty so much you have been very helpful
and i feel nostalgic reading this in may .... to confuse VM with RAM just what was i thinking lololol...
now im onto x16r and using a VEGA !!!!! thanks for all the help!

________________________________
From: Andrei Stepanov <notifications@github.com>
Sent: Thursday, August 3, 2017 9:59 AM
To: nicehash/NiceHashMinerLegacy
Cc: lorilian1; Author
Subjec

[2017-08-03 16:17] utc99 opened #112 "NHML overwrites CPU miner config - xmr-stak-cpu"
Cannot change parameters for cpu miner in config file, also couldn't find a way to do it trough nicehash. NHML overwrites it every time, read-only mode on config file config_0.txt doest look like a good solution.
Issue is the same as https://github.com/nicehash/NiceHashMiner/issues/950
Aperantly it's is not solved.

[2017-08-03 16:17] utc99 opened #113 "CPU miner interupts - XSOCKET ERROR - RECEIVE error: socket closed"
CPU miner interupts using xmr-stak-cpu. Cpu cryptonight results on nicehash web does't look continuous, it gets interupted every 5-10 minutes. I got the same results by testing separatly few of my workers with NHML and NHM:
![pc3](https://user-images.githubusercontent.com/26816096/28931623-5c4e4052-787f-11e7-806f-74ef2b967755.JPG)

Don't know if it's related but I notices that I get this error eve

[2017-08-03 16:53] billmcilhargey commented on #72
Sorry for the delay, yes the pre-release for me has resolved the issue

Thanks!! - closing this out

[2017-08-03 16:54] billmcilhargey commented on #72
reopened saw you had the comment linked here in the release page, my issue is resolved and will let @DillonN closed once the release is pushed

fyi pre-release still says 1.8.0.2 for version :) but that will be corrected in the final release

[2017-08-03 17:39] ChriscomIT commented on #113
Same here. Maybe server inconsistencies?

[2017-08-03 22:22] michael-mml opened #114 "GPU Temps"
1.8.0.2 causes my temps to max out, while the same configuration on 1.8.0.0 drops the temps by at least 5; on the same algorithm, default decri value

[2017-08-04 00:43] NameUnavailable opened #115 "Some problem here"
So just realised at some point nicehash is trying to mine.. but the instance keeps opening and shutting down restarting all the time. but it can work for days and have no problem and can work for hours and crash depending of what it mines i guess i dont know.. it happens to crash when this happens but when we restart computer it works fine for as long as that dosent happen.

![untitled2](https://u

[2017-08-04 00:47] lmlim commented on #113
ditto for me... "socket closed" thing cost me double digit percentage block rejection, in the end i stopped mining xmr altogether.

i have tried pointing to various server location, but no dice.

[2017-08-04 01:23] DillonN commented on #115
Hello @NameUnavailable, could you please post which devices you have on the system as well as the log file `\logs\log.txt` for when you try this?

[2017-08-04 01:26] DillonN commented on #114
When testing this did you run any other algorithms first? I have found that some miners can disable the temp limits on my 1080 Ti through the way they access hardware, which causes it to run much hotter. The temp limit doesn't work again until a restart. If you are running one of these miners before testing the ClaymoreDual temperatures perhaps this could be the reason?

[2017-08-04 01:31] DillonN commented on #72
Yes looks like this worked, I'll leave the issue open for now in case anyone has problems and sees the link on the release page

[2017-08-04 01:44] DillonN commented on #112
@utc99, instead of setting the location/wallet etc through command line as in most miners, NHML sets it for XmrStackCPU through the config file. This means every time the miner is run, NHML prepares a config file with up-to-date location/wallet/miner, writes it to the directory, then runs the miner with the option `config_0.txt` (which tells the miner to use that config rather than the default `co

[2017-08-04 02:17] DillonN commented on #56
Thank you, VS2017 would be best and any edition will do. Make sure .NET desktop development and Windows 8.1 SDK are checked

Again it won't be until next week. Also, from the log it looks like you're getting stuck in an area that has some possible warning boxes that pop up (this will freeze the program until an option is clicked). Make sure these warning boxes aren't popping up behind the window o

[2017-08-04 02:26] kenman345 opened #116 "Signing and Publish script"
Hey, I'm new but wanted to test a build for myself and maybe make a pull request once I'm done. I was wondering why/how to use the signing script to sign Nicehash Miner now that I believe my changes are nearly complete. Can anyone help me?

[2017-08-04 02:33] NameUnavailable commented on #115
1x Gtx 1080 a8g and 5x gtx 1070

id like to specify that the gpu that is crashing upon that error is a 1070.

would it make it easier to find what you need if i posted the log file right after the problem happens?  or is right now fine?

[2017-08-04 02:43] DillonN commented on #116
@kenman345 you can ignore the script and make a pull request here to submit your changes. Thanks for contributing!

[2017-08-04 02:44] Mystere commented on #109
All of the ccminer algorithms.  I checked, their help commands, and they all support the parameter, but NHML seems to not understand it, and drops it.  I've tried both with and without the =

[2017-08-04 02:45] DillonN commented on #115
The sooner from the problem the better, if it's too far after it may not be in the log anymore.

[2017-08-04 02:46] kenman345 commented on #116
I will make the pull request once I finish testing. I made a small addition of IFTTT integration allowing the miner to report to you when it is no longer profitable or starting back up after not being profitable.

[2017-08-04 02:50] DillonN commented on #109
NHML only passes handpicked parameters, to prevent passing parameters that interfere with NHML interacting with the miner.

Currently for generic ccminer the only parameter available is `-i` or intensity, but if you need this parameter I could look into adding it in the future?

You can see current supported parameters in [ExtraLaunchParameters.cs](https://github.com/nicehash/NiceHashMinerLegacy/b

[2017-08-04 02:56] NameUnavailable commented on #115
new error

![untitled3](https://user-images.githubusercontent.com/30479416/28952411-0852036a-789f-11e7-9180-dea6d9103048.jpg)

[2017-08-04 02:57] NameUnavailable commented on #115
here is the log file

[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1199113/log.txt)

[2017-08-04 03:05] ChriscomIT commented on #115
Had it some minutes before as well. I send logs tomorrow.

[2017-08-04 03:06] kenman345 commented on #116
@DillonN I am having trouble with my conditional text field (based off the status of a checkbox) loading the settings menu properly. It contains the proper data and if you use the checkbox it will enable or disable the field but on loading the settings it is always disabled even though the value is in there and the checkbox is checked.

Would you like to take a look at it Or should I make a pull r

[2017-08-04 03:14] ChriscomIT commented on #114
@MLCoco And as well please don't forget to keep ambient temps in mind as this can cause different temps too.

[2017-08-04 03:55] kenman345 commented on #116
Made the pull request. Let me know what you think.

[2017-08-04 03:55] #116 closed, assigned to nobody

[2017-08-04 04:05] DillonN commented on #115
There is an issue with the same issue as that I believe, #101. You can check the answer there

@ChriscomIT do you have the first issue or second?

[2017-08-04 04:11] NameUnavailable commented on #115
excellent will upload log file when the first problem comes up again thanks

[2017-08-04 05:08] ChriscomIT commented on #115
@DillonN I have the second issue. Sorry forgot this was already explained by Nicehashdev before (had a conversation about this in one of the issues lately). Seems it was the "no orders" available issue. My fault.

[2017-08-04 05:21] michael-mml commented on #114
@DillonN I will test it by disabling the other algorithms and let you know
@ChriscomIT I performed both tests on the same day

[2017-08-04 08:40] Mystere commented on #109
Well, it's not NEEDED per se.. it just helps with startup time.  Without it, lots of algorithms take a while to get all gpu's working.  Sometimes, in the cases of short runs, you don't even get all the gpu's firing before it switches to another algo.

Not a big deal though, just an annoyance.

I should note, however, that the error message is a bit misleading.  It implies that the parameter value

[2017-08-04 08:59] DillonN commented on #113
This is because Cryptonight takes a long time to submit shares (> 10 min sometimes), especially when mining on a CPU. The NiceHash display has gaps because during those periods no shares were submitted, but be assured that you are getting paid for the mining you've done during that period (once the share is submitted, you can see the spikes).

As for the socket disconnections, this is because NH w

[2017-08-04 09:03] DillonN commented on #109
As to the error message, NHML parses the params by first splitting parameters and their values, and then looking for a supported parameter. Once it finds this parameter and if it's supported (e.g. `-i`), it will mark the next block as a value for that parameter (if said param takes a value). The reason it is showing "auto" as unsupported, is because the previous check was an unsupported param so i

[2017-08-04 09:20] DillonN opened #118 "1.8.1.0 Prerelease"
If anyone runs into issues with the prerelease please post them here!

[2017-08-04 09:26] #72 closed, assigned to nobody

[2017-08-04 10:02] ChriscomIT commented on #113
@DillonN Thanks for the detailed clarification! The pps explanation sounds logic. Much appreciate it!

[2017-08-04 10:16] ChriscomIT commented on #118
Hey, thanks for the new pre release. Looks pretty good! Does the new device info feature just work with the Nicehash wallet/deposit address so that you can only use it with Nicehash wallet?

[2017-08-04 10:19] DillonN commented on #118
Yes, you have to use a NH wallet, because it needs a way to authenticate you are the wallet owner when logged into the website (otherwise anyone could look at anyone's device stats)

[2017-08-04 10:21] ChriscomIT commented on #118
Ok, thanks. That's what I thought but sadly at the moment, I still use external wallet. Seems like time to switch finally.

[2017-08-04 10:29] ChriscomIT commented on #118
I found this issue as well.

<img width="204" alt="nh" src="https://user-images.githubusercontent.com/2799553/28965293-98efa9b0-7910-11e7-9ef0-44c4c33fb02d.PNG">

And after some minutes running.

<img width="200" alt="nh2" src="https://user-images.githubusercontent.com/2799553/28965357-fd5c18f2-7910-11e7-9829-81d1d2c98377.PNG">

[2017-08-04 10:34] DillonN commented on #118
Would you mind posting your log for that?

[2017-08-04 10:37] ChriscomIT commented on #118
Logfile as of now is attached.

[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1200030/log.txt)

[INFO] [NVAPI] System.DllNotFoundException: Die DLL "nvapi64.dll": Das angegebene Modul wurde nicht gefunden. (Ausnahme von HRESULT: 0x8007007E) kann nicht geladen werden.
   bei PInvokeDelegateFactoryInternalWrapperType0.nvapi_QueryInterface(UInt32 id)
   bei NVIDIA.NVAPI.NVAPI.GetDel

[2017-08-04 10:49] DillonN commented on #118
Thanks, it looks like it's parsing the double as an int. I'll look into it

And yes I saw you're not loading nvapi64.dll, it should be able to get that from the driver. I'll see if I can get a copy to include in the zip as a fallback for that like nvml.dll (unfortunately you won't get temps/load/fan at the moment)

[2017-08-04 10:53] pducharme commented on #118
Find out the new Rig Stats, good start, but no Temp reported (or usage) for the Videocards.  Check the Link (screenshot).

[http://take.ms/vpn5x](http://take.ms/vpn5x)

[2017-08-04 10:59] DillonN commented on #118
@ChriscomIT @pducharme could you try extracting the dll and placing in the folder with NHML?

[nvapi64.zip](https://github.com/nicehash/NiceHashMinerLegacy/files/1200092/nvapi64.zip)

Ah wait I forgot, the initial release targets x86 so nvapi64.dll won't load, I'll put a second one up

[2017-08-04 11:17] ChriscomIT commented on #118
Ok tried it and still got an error message. Hit me up when you uploaded the new one.

[2017-08-04 11:20] Squall-Leonhart commented on #1194
the 2300 requires the intel OCL cpu only runtime to work with nicehash miner as it has no igp.

[2017-08-04 11:22] Squall-Leonhart commented on #1180
at the time of this post, 382.33 was several months old and out of date.

[2017-08-04 11:23] Squall-Leonhart commented on #1179
just toggle the card in device manager.

[2017-08-04 11:24] Squall-Leonhart commented on #1174
this gpu predates CUDA, it was still when graphics cards had seperate pixel and vertex shaders.

[2017-08-04 11:27] DillonN commented on #118
Alright the new release should solve the NVAPI problems

https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.1.0-Pre

Balance size should be fixed with c420a2f6073db1c2103cea5794e51e8e86caaa1f

[2017-08-04 11:49] ChriscomIT commented on #118
I get:

[2017-08-04 13:45:31] [INFO] [NVAPI] Bus ID get failed with status: OK
[2017-08-04 13:45:31] [INFO] [NVAPI] Bus ID get failed with status: OK
[2017-08-04 13:45:31] [INFO] [NVAPI] Bus ID get failed with status: OK
[2017-08-04 13:45:31] [INFO] [NVAPI] Bus ID get failed with status: OK
[2017-08-04 13:45:31] [INFO] [NVAPI] Bus ID get failed with status: OK
[2017-08-04 13:45:31] [INFO] [NVAPI]

[2017-08-04 12:02] DillonN commented on #118
The Bus ID messages are normal, just an error in logging I have fixed now

The other three messages aren't normal, I will look at it a bit later

[2017-08-04 12:20] Tornadocraver commented on #1174
Hi guys, thank you for your responses. I had no idea that the GPU was that old, lol. Maybe I could get a few dollars for it on Ebay or something.

[2017-08-04 13:36] SirHanck opened #120 "Connection problem"

[2017-08-04 13:36] #120 closed, assigned to nobody

[2017-08-04 13:39] utc99 commented on #113
Perfect explanaition, so it's an expected behavior and no need to worry about it, thanks. Issue closed.

[2017-08-04 13:39] #113 closed, assigned to nobody

[2017-08-04 14:06] SirHanck opened #121 "Connection Problem"
Hello, there is a problem with nicehash not connecting, it starts normal but then when it tries to start the mining windows they shut down or hang trying to reconnect.
this issue started today around 12:00 GMT,
I have a gtx 1070 and a gtx 660 that were working through the morning till noon, I was using the 1.8.0.2 when the problem started, then I tried the new 1.8.1.0 pre2 but the same problem occ

[2017-08-04 14:26] SirHanck commented on #121
Ok, changing the server from Europ to USA seems to have solved the problem, did anyone else have a similar issue or am I the only one?

[2017-08-04 15:01] UselessGuru commented on #118
Debug-Screen not useful - does not show same information as log file.
I would like to see the same info as in old version.
As an alternative (or enhancement) I would like a button to launch something like tail -f 'logfile'.

[2017-08-04 15:34] michael-mml commented on #114
Seems like it was the other algorithms affecting the temp limit. Disabling those worked. Thanks @DillonN

[2017-08-04 15:34] #114 closed, assigned to nobody

[2017-08-04 17:55] ChriscomIT commented on #118
@DillonN Hey mate do you mind making a new pre release with the latest fixes? I saw u fixed the balance issue and the busid spam. Thanks in advance!

[2017-08-04 19:36] utc99 commented on #112
Well there could be two not terribly difficult solutions maybe:
to edit the default NHML values for that miner trough some other NHML file,
or maybe make NHML miner to update/overwrite only certain lines of the config, leaving the rest to possible configuration.
That's still the only cpu miner in NHML

[2017-08-04 20:42] KrzysztofC commented on #118
I'm running NHML-1.8.1.0-Pre.2.zip
There is no CPU or GPU temps or RPM in Rig Stats and there is no GPU load (using ccminer_decred). I only see CPU load.
![image](https://user-images.githubusercontent.com/30735798/28986167-bcae2ed8-795d-11e7-884d-0b52b03bd85e.png)

[2017-08-04 20:59] DillonN commented on #118
There is a new prerelease up https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.1.0-Pre3

@UselessGuru this should fix the debug console for you.

@KrzysztofC it sounds like you're getting the same issue as @ChriscomIT, which I believe is related to a different BusID coming from NVAPI than I'm seeing. If one of you could try launching NHML and posting your logs here I'd appreciate it

[2017-08-04 21:04] DillonN commented on #121
From your logs it looks like the right location is being passed to the miners, so for whatever reason they were unable to connect to NH servers. Hopefully sticking with a different server helps, but if you get it again in the future you can try without your firewall to see if it's blocking (then make exceptions).

Was there any specific error in the mining windows that would suggest what was causi

[2017-08-04 21:15] KrzysztofC commented on #118
Quick update, I run exact same Pre2 on second PC and getting some nice stats from there.
I will get Pre3 now. Not sure what to do about logs yet, let me have a look at files.
![image](https://user-images.githubusercontent.com/30735798/28987240-5a7a4170-7962-11e7-9a0e-86ab49bd2c6c.png)

[2017-08-04 21:21] KrzysztofC commented on #118
Pre2 AND in Pre3:
[2017-08-04 20:56:47] [INFO] [NVAPI] Load get failed with status: EXPECTED_PHYSICAL_GPU_HANDLE
[2017-08-04 20:56:47] [INFO] [NVAPI] Temp get failed with status: EXPECTED_PHYSICAL_GPU_HANDLE
[2017-08-04 20:56:47] [INFO] [NVAPI] Tach get failed with status: EXPECTED_PHYSICAL_GPU_HANDLE

[2017-08-04 21:21] SirHanck commented on #121
I am having a problem with my internet connection dropping many times today, some repairs are going on from the ISP, could that cause the server to reject the mining?
I am going to keep using the USA server for now, and no there were no error messages, the mining windows just restart (what I could read from them before they shut was something like "trying to connect"), Thank you anyway.

[2017-08-04 21:33] KrzysztofC commented on #118
Pre3:
[2017-08-04 22:23:41] [INFO] [NICEHASH] Starting up NiceHashMiner v1.8.1.0
[2017-08-04 22:23:41] [INFO] [NICEHASH] Selected language: English
[2017-08-04 22:23:41] [INFO] [NICEHASH] WMI service seems to be running, ManagementObjectSearcher returned success.
[2017-08-04 22:23:41] [INFO] [SystemSpecs] FreePhysicalMemory = 19533092
[2017-08-04 22:23:41] [INFO] [SystemSpecs] FreeSpaceInPagingFil

[2017-08-04 21:52] DillonN commented on #118
@KrzysztofC thanks, do you mind sharing the log a bit earlier, around where the CUDA devices are detected? Or the whole file

[2017-08-04 22:14] KrzysztofC commented on #118
This?

[2017-08-04 22:23:42] [INFO] [ComputeDeviceManager.Query] Copy from C:\Program Files\NVIDIA Corporation\NVSMI\nvml.dll to D:\Tools\Miners\NHML-1.8.1.0-Pre3\nvml.dll done
[2017-08-04 22:23:42] [INFO] [ComputeDeviceManager.Query]
QueryVideoControllers:
	Win32_VideoController detected:
		Name NVIDIA GeForce GTX 770
		Description NVIDIA GeForce GTX 770
		PNPDeviceID PCI\VEN_10DE&DEV_1184&SUBSYS

[2017-08-04 22:16] DillonN commented on #118
Thank you, I see the problem! I'll work on fixing it now

[2017-08-04 22:51] ChriscomIT commented on #118
Thanks @DillonN  the BTC value issue and the log spam is fixed for me. But still get the  EXPECTED_PHYSICAL_GPU_HANDLE error.

[2017-08-04 22:57] toonsmil commented on #118
i've that (Pre3) :
 [MiningSession] PrevStateProfit 0.00121855304431707, CurrentProfit 0.00121855304431707
[00:55:22] [MiningSession] Will NOT switch profit diff is 0, current threshold 0.05
========> HERE <========
[00:56:01] [SOCKET] System.InvalidOperationException: Impossible de charger les données de nom de compteur, car un index non valide '' a été lu à partir du Registre.
   à System.Diagno

[2017-08-05 02:18] pducharme commented on #118
Hi Dillon.  Have a strange issue with Pre1-2 or 3.  The Temps for my EVGA 1060 is never shown and RPM too.  Also, My Miner-1 Rigs have wrong Temps attached to wrong cards!   I see on the website Rig Stats says that my ASUS Strix 1070 doesn't report Temp and Usage / RPM , but one of the MSI show the temperature of the ASUS (that i'm sure because on the Miner, I know the 3 blower-style cards run aro

[2017-08-05 03:03] Sifontes commented on #108
![screenshot_20170805-015455](https://user-images.githubusercontent.com/21142027/28993326-a1666162-7981-11e7-8134-256b49064fb1.png)
Same issue here, especially when mining equihash on EWPF miner. Have to restart pc in order to get detected.

[2017-08-05 06:28] Dygood opened #1209 "An error occurred using the Win10 16257 version, using the latest AMD graphics driver."
An error occurred using the Win10 16257 version, using the latest AMD graphics driver.
The error code is as follows:
有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.ArgumentException: 版本字符串部分太短或太长(The version string portion is too short or too long)
   在 System.Version..ctor(String version)
   在 NiceHashMiner.Devices.ComputeDeviceManager.Query.AMD.QueryAMD()
   在 N

[2017-08-05 08:16] utc99 opened #122 "ccminer - blake2s crashes after 1min"
After lunch ccminer blake2s algorithm works for about 1 minute, shows speed and looks good, and then it crashes and NHML app starts showing abnormal payouts and does not recover until manual relaunch. Same on NHML 1.8.0.2 and 1.8.10.0 pre 3.
![blake1](https://user-images.githubusercontent.com/26816096/28994124-4009c316-79cf-11e7-8e20-a98c304ab8af.JPG)
![blake2](https://user-images.githubuserconten

[2017-08-05 15:31] UselessGuru commented on #122
This could be caused by high intensity. Try lowering it. To to this go to 'Settings' -> 'Devices/Algorythms' -> 'Blake2s' and add an 'extra launch parameter' "--intensity=n" (where n can be set from 1 (low) to 31 (high)).

[2017-08-05 15:35] UselessGuru commented on #118
Perfect - thank you very much!

[2017-08-05 16:51] scavern opened #124 "sgminer benchmarking issue"
When benchmarking an algo for the first time, sgminer generates a binary for the gpu.  Sometimes the benchmark will fail because of the time required to generate the binary. If the benchmark is run again it will run as normal because the  binary has already been created.

Can the benchmark for sgminer be configured to run twice in the event that it fails the first time?

I think Nicehash2 got arou

[2017-08-05 16:54] scavern commented on #75
Interesting. I had a similar issue yesterday where I noticed about 10 Claymore daggerhashimoto processes attempting to launch. Just prior to that I know that Claymore equihash was running.

[2017-08-05 16:56] scavern commented on #55
Excavator can be used with Nicehash2 with AMD GPUS, yet I don't see it in NHLM?

[2017-08-05 18:10] KrzysztofC commented on #118
I wish there was a way to enter electricity cost so it would be subtracted from EUR/Day rate fields.

[2017-08-05 19:08] Krolow93 opened #125 "GTX1050 and 1060 crashing, only when both cards are mining"
Hi!
First post so please understand if i forget to mention something.

The problem I'm having is that after mining for a little while my gtx 1060 will crash and be unresponsive.
The crash will make my screen flash black and then NHML wont be able to mine on gtx 1060 or 1050. If i restart NHML at this point i will get a warning about old drivers and only the gtx 1050 will be found. It will start mi

[2017-08-05 19:54] utc99 commented on #122
Yes you are right, it's because of incorect default intensity

[2017-08-05 19:54] #122 closed, assigned to nobody

[2017-08-05 21:04] DillonN commented on #118
@KrzysztofC @pducharme @ChriscomIT you can try prerelease 4 to see if it fixes the NVAPI indexing

https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.1.0-Pre4

@toonsmil it looks like your CPU load call isn't working, I'll look into that

[2017-08-05 21:24] UselessGuru commented on #118
For proper calculation you would also have to set the required power per algo.

[2017-08-05 21:40] KrzysztofC commented on #118
Yes, I think it is enough to specify power consumption per device, however per algo would be even more accurate. I have to do all that in Excel for now.

[2017-08-05 21:53] pducharme commented on #118
@DillonN Yep, seems to be fixed for me.  The 1060 is now detected, and also the Temps on the other Rigs are associated with the right card 👍

![rigs_stats](https://user-images.githubusercontent.com/1879339/28998999-dd5713a8-7a06-11e7-8fcc-ee1743dfcb99.JPG)

It Looks pretty damn good.  Only thing I don't like, is to have to Login on the account.  They should detect that if you have an account and i

[2017-08-05 21:54] KrzysztofC commented on #118
Pre4:
![image](https://user-images.githubusercontent.com/30735798/28999001-d403635e-7a30-11e7-85a8-4d68266afc8a.png)

[2017-08-05 21:57] pducharme commented on #118
Off-Topic but, @KrzysztofC  Is your temp really is 89c on your card ?  Isn't that too HOT ? (danger for the card)

[2017-08-05 22:19] KrzysztofC commented on #118
It probably is, but I don't care, that miner is there for fun and most likely causing more losses than any profits. If that card burns I have 2 more spares.
Also, it might be fan-less. I didn't bother checking.

[2017-08-05 22:26] pducharme commented on #118
@KrzysztofC ... and a pretty good reason to buy a new card ;)  Supposedly, Vega 64 will have a hashrate of 70 to 100 MH/s on ETH !

[2017-08-05 23:10] drkskwlkr commented on #118
The EWBF Zcash CUDA miner has a simple web based interface which binds to 127.0.0.1 (useful mainly because it shows efficiency in Sol/W, which is not easily available anywhere else).

However the port is different every time, switching between 4000, 4001 and 4002.

I am also unable to change this port by adding extra parameter on launch, e.g. `--api 127.0.0.1:5000` as suggested in the help.txt fil

[2017-08-06 00:36] gpcola commented on #118
On Pre4 I see this error repeated in console. Mining seems unaffected.
[code]

[2017-08-06 01:45] linlinooi opened #126 "Keccak miner keep on retry"
I have attached a screenshot on this post
![untitled](https://user-images.githubusercontent.com/30762402/28999873-e8a72f06-7a8b-11e7-836c-7d736f3f5dfa.png)

[2017-08-06 01:50] linlinooi commented on #118
Keccak algorithm keep on retrying. Not working properly, I have attached a picture on this post. I'm currently using nvidia 1070 gpu for mining.
![untitled](https://user-images.githubusercontent.com/30762402/28999902-a89bacce-7a8c-11e7-8d23-2d9d619b4fb7.png)

[2017-08-06 05:19] OlorinTharkun opened #127 "This really fixes some mining issues for me!!! Thanx!"
My primary mining rig seemed to be running OK on NHMLegacy 1.8.0.2, but my secondary rig had some major issues which this seems to have fixed.

Primary rig = i5 6500 CPU (stock) on EVGA Z170 FTW mobo; 850W PSU; 4x EVGA GeForce GTX 1060 6GB SSC GPU with memory OC +625 at 55% power limit.  Runs fine for most part, NHM 2.0.x or NHMLegacy.  I do think it runs better with Legacy 1.8.1.0 Pre3 than NHM 2

[2017-08-06 05:20] OlorinTharkun commented on #118
Thought I was posting in this thread w/ positive feedback, but it appeared in #127 .

[2017-08-06 07:42] SonicGD commented on #1209
Same here. 16257 and amd 17.7.2.

[2017-08-06 08:47] JeanneRSA commented on #101
Hi guys i need some help with NHML i am having trouble with keccak it works fine for the first minute but then the profit just drops down on algo so i am swiching of would like to keep it running but it is killing my profit daily

[2017-08-06 09:51] DmitryDMR commented on #118
I'm running NHML-1.8.1.0-Pre4 Windows 7 Pro x64
There is no CPU in Rig wrk2 Stats, on wrk1 and wrk3 no CPU temps or RPM. And too often rig wrk2 rebooting and video driver crashes when algo swithing. On the previous version of NHML, everything was fine.
Can you add in Rig Stats other infos like gpu/memory clocks, power?
![1 8 1 0-pre4](https://user-images.githubusercontent.com/30769434/29002115-eb5

[2017-08-06 09:55] zeuz542 opened #128 "Feature request: Include optimized ethminer"
Would it be possible to include the ethminer from

https://github.com/ethereum-mining/ethminer/

It is optimized and works a lot better for me than the included one on my 1060.
I have tried to just swap out the exe but then it does not start at all.

[2017-08-06 11:52] pducharme commented on #118
@dillon, any plan on adding CPU temps and rpm too? Or it is just for GPUs?

[2017-08-06 12:53] KrzysztofC commented on #118
In Internals folder, I don't see MinerOptionPackage json file for XMR-STAK-CPU. How can I fix it? New XMR has few more required parameters.

[2017-08-06 14:02] commie256 commented on #1198
A bit offtopic: are you renting out your rigs?

[2017-08-06 14:03] Johann1982 commented on #1198
Yeah, decided to rent them out with miningrigrentals. Working good so far.

On 06 Aug 2017 16:02, "commie256" <notifications@github.com> wrote:

[2017-08-06 14:06] commie256 commented on #1198
How can we talk?

[2017-08-06 14:07] Johann1982 commented on #1198
johann1982hermanus@gmail.com

On 06 Aug 2017 16:06, "commie256" <notifications@github.com> wrote:

[2017-08-06 14:09] commie256 commented on #1198
Email sent.

[2017-08-06 15:46] shadyjk commented on #98
Please do implement this, ive had so much wasted time due to gpu crashes. Im not home every day till really late and sometimes one of my cards will crash and there is no way for me to reset the rig. I cant remote in with teamviewer to reset it because it locks up and i have to physically reset the rig. Claymores dual miner has a feature to reboot the rig after a crash so for me it makes it more wo

[2017-08-06 17:31] freedomtacos opened #129 "How do you change the intensity for EWBF Equihash?"
Using the parameters for regular equihash doesn't seem to affect EWBF miner at all, how do you increase or reduce intensity using EWBF extra parameters?

[2017-08-06 18:36] OlorinTharkun commented on #118
On my primary rig (i5 6500 on EVGA Z170 FTW mobo, 4x EVGA GTX 1060 6GB SSC, Win10 Home Premium x64, fully updated), the Pre4 version had a lot more difficulty successfully benchmarking some of the Claymore algorithms.  It eventually benchmarked them all but several took two tries.

[2017-08-06 18:49] OlorinTharkun commented on #118
Just figured out how to look at RigStats and I see a similar issue to Dmitry.  The CPU shows up on one miner, but not the other.  The CPU stats are visible on the rig with i5 4690K on Z97X motherboard, but no CPU stats on i5 6500 on Z170 motherboard. Both rigs running Windows 10 Home Premium 64-bit and NHML 1.8.1.0 Pre4

![image](https://user-images.githubusercontent.com/30062898/29006047-9cc01ff2

[2017-08-06 19:56] ortakpayda commented on #1146
I also have this problem although I have Pentium.
My rig:
Intel Pentium G4400
5x 8GB Asus GeForce GTX 1070 Strix OC
1x 8GB Asus GeForce GTX 1070 Strix
geforce 382.53
Windows 10 with the necessary updates done
miner version 0.11 and 0.12dev

I really want to stop using claymore but with ethminer I can't mine properly 😞

[2017-08-06 22:15] Tony1997112 commented on #1210
Okey recently fixed, downloaded from here just fine! The download from the site is somehow bugging..

[2017-08-07 06:58] p1r473 commented on #93
@nicehashdev can you set Keccak's "paying" in the API when no orders are placed to 0 so it will switch to something when Keccak has no orders ? If no orders, it should be paying 0 in the API

[2017-08-07 09:53] utc99 opened #130 "Cryptonight(ccminer) doest show up on benchmark"
GPU miner - Cryptonight(ccminer) doest show up on benchmark, how can it be added?
Running ccminer(cryptonight) manually works fine.

![ccminer](https://user-images.githubusercontent.com/26816096/29021779-52fdaef0-7b6f-11e7-8d35-4e8b084f9304.JPG)

More detailed info in comments below.

[2017-08-07 15:15] sebeksd commented on #1200
Similar issue here, this is my first rig and the problem exist from very beginning so I was thinking that it is hardware issue but now I think it is not. When I enable all algos, my rig work from 15min to 2h (time depends on switching frequency). When I only enable EWBF my rig mine 24h without any problem. Moreover I did test config with Keccak and EWBF enabled and I was looking on monitor when sw

[2017-08-07 15:35] Dygood commented on #1209
I'm going to try NiceHash2

[2017-08-07 17:03] ChriscomIT commented on #126
@DillonN @p1r473 Yeah thought about the same. Would be great if that's possible.

[2017-08-07 18:29] ChriscomIT commented on #130
Just select CPU !!!! :D :D :D

[2017-08-07 18:32] utc99 commented on #130
ccminer is an GPU miner, which also can mine CryptoNight, which is good for some my equimpment..

[2017-08-07 18:37] ChriscomIT commented on #130
Ah ok I see misunderstood it then as your initially explanation was very short.
For me its there just fine. Maybe your hardware isn't capable of mining CN. Did you try standalone mining already to see if it works there?
<img width="451" alt="crypto" src="https://user-images.githubusercontent.com/2799553/29040551-bcd4c382-7baf-11e7-885d-e67839c9793d.PNG">

[2017-08-07 18:49] utc99 commented on #130
Yea, as I wrote, running ccminer(cryptonight) manually works fine. I'll update the post to be more clear. Too add, tried some really old versions of nhm, 6-12 months old, they had CryptoNight(ccminer) in benchmark and worked fine, if this works good for some equipment, dont see the reasons to remove it.

[2017-08-07 19:49] ChriscomIT commented on #130
Which version of NHML is u using as of now which don't have CN for you? Latest stable or new 1.8.1.0pre4 ?

[2017-08-07 20:10] utc99 commented on #130
None of those - latest stable Nhm1.7.5.3(or which is it now), stable nhml 1.8.0.2, nor the nhml pre 4

[2017-08-07 20:36] ChriscomIT commented on #130
Ok, maybe u want to give latest stable 1.8.0.2 a try?

[2017-08-07 20:49] UselessGuru commented on #129
Use "--intensity n" where n is any number from 1 - 64 (e.g. "--intensity 32").

Note: Unlike other miners there is space between the --parameter and the value

miner --server europe.equihash-hub.miningpoolhub.com --user Minigpool.User --pass x --port 20570 --peg **--intensity 32**

+-------------------------------------------------+
|         EWBF's Zcash CUDA miner. 0.3.4b         |
+------------

[2017-08-08 04:07] utc99 commented on #130
Tried that too, no good

[2017-08-08 13:11] josephx86 commented on #1215
I tried the new NHM 2 but it seems buggy (maybe because it's alpha?) but then I cannot find NiceHashMiner 1.7.5.14. The link is missing.

Thanks

[2017-08-08 13:13] luongk commented on #130
This behaviour is the same on my system - Cryptonight (ccminer) is available on my GTX980, but not on my 1080ti.

[2017-08-08 13:42] remzkie commented on #1215
no exe file :(

[2017-08-08 13:43] vertexinc110 commented on #1214
I also face a problem in new version start button remain disable I can able to start mining.
while older version work fine.
[log.txt](https://github.com/nicehash/NiceHashMiner/files/1208234/log.txt)

![untitled](https://user-images.githubusercontent.com/30834742/29074591-b8003ef4-7c04-11e7-8902-28cdf5bf06dd.png)

[2017-08-08 14:51] Swiapq commented on #1215
NiceHashMiner 1.7.5.14. you can download from here, but is missing the exe/application file to start this application:

https://github.com/nicehash/NiceHashMiner/releases/tag/1.7.5.14

https://github.com/nicehash/NiceHashMiner/archive/1.7.5.14.zip

[2017-08-08 14:53] sebeksd commented on #74
Similar issue here, this is my first rig and the problem exist from very beginning so I was thinking that it is hardware issue but now I think it is not. When I enable all algos, my rig work from 15min to 2h (time depends on switching frequency). When I only enable EWBF my rig mine 24h without any problem. Moreover I did test config with Keccak and EWBF enabled and I was looking on monitor when sw

[2017-08-08 15:54] ChriscomIT commented on #130
Guys, did u already tried 1.8.1.0pre4 as it should have some improvements regarding this? Not saying it will fix it but its worth a try.

[2017-08-08 17:37] utc99 commented on #130
The problem persists in:
NHML-1.8.1.0-Pre1 - NHML-1.8.1.0-Pre4
NHML-1.8.0.2
NHM-1.7.5.13 (has even less miners for this hardware available)
NHM-2.0.0.11 - does not even see GPU at all, and I dont like that all install program cr@p, i like miners to be lunched without installation, so i wouldnt even use that one.

Tried random old version of NHM:
NiceHashMiner_v1.7.3.6 - has much more algorithms fo

[2017-08-08 17:50] mondial-btc commented on #1215
ok ca va

[2017-08-08 17:56] utc99 commented on #118
Would be nice to try if that would work for external wallet.
Could be option like:
* I dont care about secrecy of my computer temperature and it could be public..
* or field in Nhml for a pass key, which is needed by nicehash web to access those additional features, and it would give a privacy, and an ability to use these features for all other users which dont use nh wallet

I think this could be

[2017-08-08 18:34] Timoulis commented on #1214
This is because this version doesn't recognize your CPU and GPU.
I also have problems with older Gpu's like my GT 740.
2.0.0.11 - Alpha doesn't recognize it also.No broblems with the old NHM.

[2017-08-08 18:57] cobusg commented on #1215
Surely it cant be difficulty for somebody in the know to answer the question from Swiapq, how to use version1.7.5.14.  I tried to search, but cant find the answer, where is the exe for this version?

[2017-08-08 19:22] ChriscomIT commented on #118
@DillonN Sorry dude for my super late reply but I wanted to confirm as well that with pre4 the NVAPI indexing is fixed for me! Thanks a lot and keep up the great work!!

[2017-08-08 23:18] NameUnavailable opened #131 "benchmark issue"
we just added a new 1070 and run the benchmarks, at Sia it won't  complete

![missing](https://user-images.githubusercontent.com/30479416/29098629-65599ca8-7c6e-11e7-8046-d755bd960560.jpg)

[2017-08-08 23:38] EvilMonkeyTurds opened #132 "Bitdefender detects Gen:johnnie threat"
Other antivirus also detecting threats within this.   What is the deal?

[2017-08-08 23:48] josephx86 commented on #1215
I tried the legacy miner from https://github.com/nicehash/NiceHashMinerLegacy/releases

I haven't had any issues with the latest prelease (1.8.1.0 Prerelease 4) but if you want a stable release there is 1.8.0.2, released about 2 weeks ago.

I'm using the prerelease because it gives me higher hash rates (even though power drawn increased by about 20W... something i'll tweak when I get time).

[2017-08-08 23:58] AndrewJP23 commented on #118
I downloaded the newest Legacy miner (1.8.1.0-Pre4), opened and got this lol the error messages and settings boxes also have no text
![untitled](https://user-images.githubusercontent.com/30848631/29099535-968e77a6-7c6b-11e7-8a16-dc5aa4fe4d7f.png)

[2017-08-09 00:24] pducharme commented on #132
Most mining software are 'flaged' as a threat.  I think it goes back to BitCoin mining when it was minable with CPU/GPU years ago, and someone created a BotNet of mining PC (trojan) by hiding mining software inside the trojan to profit with it at large scale.

[2017-08-09 00:38] EvilMonkeyTurds commented on #132
Don't think so, but yes it is also detected as bitcoin miner by online file scanners but I always ignore than one.  It is finding Gen:johnnie.xxxxx not bitcoinminer.

[2017-08-09 02:59] frenchy-miner commented on #1217
same here with dual 780ti it used to work on the previous version of nicehash but now its not showing any gpu...

[2017-08-09 05:08] UserMonkey opened #133 "Nvidia vGPU cards not detected correctly"
When using NVidia vGPU (GRID K2) the underlying vGPU's aren't detected. (e.g. K260q). Parsing through the GRID card directly to a VM is detected.

NiceHashLegacyMiner does complain that the drivers are old and should be updated however, these are currently the most up to date drivers according to the Nvidia website.

Log file is attached.
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/f

[2017-08-09 07:45] Timoulis commented on #1217
New version don't like Nvidia 7 series.
GT 740 and GTX 760 also doesn't show.

[2017-08-09 08:30] 3zero2 commented on #126
This needs to be looked into in my opinion. Has been happening to me as well.

[2017-08-09 08:31] DillonN commented on #124
Thanks for pointing this out, I will look into it

[2017-08-09 08:37] drkskwlkr commented on #118
@AndrewJP23 This looks like missing or broken language file.
What are the contents of the `lang/` subfolder?
What is the value of `Language` (line 10 of `config/General.json`)? 0 = English

[2017-08-09 08:39] DillonN commented on #125
Hello @Krolow93, from what I can tell your 1060 is causing the drivers to become unstable and crash. When this happens, it can cause mining to not work until a reboot, and NHML will have an issue detecting card on startup.

The crashes can be caused by many things, most commonly an unstable overclock/undervolt. There may also be hardware problems with the card or other components (notably power su

[2017-08-09 08:43] DillonN commented on #128
Thanks for posting, I will look into this

[2017-08-09 08:45] DillonN commented on #129
@UselessGuru is correct `--intensity <n>` in the extra launch params for the device you wish to change will work

[2017-08-09 08:56] DillonN commented on #130
Certain algorithm/miner combinations are disabled for different generations of NVIDIA GPUs, either because they do not run correctly or are very unprofitable (to reduce clutter). In this case, CN through ccminer does not launch on SM6.x GPUs (Pascal) and was considered unprofitable for SM2.1 GPUs (like the 720M).

@utc99 do you find that CN is profitable on your GPU compared to other algorithms? I

[2017-08-09 09:01] DillonN commented on #131
This version of ccminer depends on the Universal C Runtime, which is included in Windows 10 and available from Windows Update for older versions. You can try running Windows updates, or manually download the package [here](https://support.microsoft.com/en-us/help/2999226/update-for-universal-c-runtime-in-windows)

[2017-08-09 09:09] nicehashdev commented on #1215
There is no 1.7.5.14, it is just a placeholder for you to go to page https://miner.nicehash.com

There you can choose two versions: NHMv2 or NHM Legacy.

NHMv1 has been retired and will never be updated anymore, it is time to move on, especially if you want higher speed and more profit.

[2017-08-09 09:16] DillonN commented on #133
The CUDA API is returning that there are no CUDA-capable devices present, which is usually caused by an improper driver version - hence the warning. I'm not too familiar with GRID devices, but there are a couple things you can try that might work

Try running some miners manually. If they fail with no CUDA devices then the problem is with CUDA not working on your GPU

You can try different drivers

[2017-08-09 09:20] JakeHillion2 opened #134 "Creators Update Broke for Me"
The windows 10 creator's update forced itself upon me the other day, and ever since I have been having this issue with NiceHash. With the new algorithms added in the latest version, it now occurs on benchmarking whereas before it occurred only on startup.

[http://prntscr.com/g6924y](http://prntscr.com/g6924y)

[2017-08-09 09:23] drkskwlkr commented on #134
@JakeHillion2 Ye olde #32 rears its ugly head again?

[2017-08-09 09:34] DillonN commented on #118
Regarding missing CPU/performance counter errors: These seem to be caused by a corruption in the Windows performance counters, more info [here](https://support.microsoft.com/en-ca/help/2832079/an-error-may-occur-when-trying-to-install-update-rollup-for-crm-client). In the next version instead of an error, NHML will simply show 0 for CPU load and the CPU will show up fine on the rig stats. You can

[2017-08-09 09:39] DillonN commented on #134
Windows Update can mess with the drivers, I've made a [Wiki page](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Troubleshooting#opencl) for this now with some more info and fixes/workarounds

[2017-08-09 09:43] ebbbang commented on #128
https://github.com/ethereum-mining/ethminer/

is the best best Ethereum Miner for me right now

[2017-08-09 09:44] #134 closed, assigned to nobody

[2017-08-09 10:10] jimmyhackers commented on #1217
i can report my gainward phantom gtx770 4gb is not recognised either :(

[2017-08-09 10:14] Timoulis commented on #1219
Latest version problem.
Install previous.

[2017-08-09 10:25] S74nk0 commented on #1214
@Timoulis please open nhm2 related issues [here](https://github.com/nicehash/NiceHashMiner2/issues).
Closing issue not related to this project.

[2017-08-09 10:26] S74nk0 commented on #1216
@ikogsakanding it's probably because you have mining when idle enabled. Please open nhm2 issues [here](https://github.com/nicehash/NiceHashMiner2/issues).

Closing issue as it is not related to nhmv1

[2017-08-09 10:28] S74nk0 commented on #1218
Please open nhm2 issues [here](https://github.com/nicehash/NiceHashMiner2/issues).

Closing issue as it is not related to nhmv1

[2017-08-09 10:29] S74nk0 commented on #1190
Please open nhm2 issues [here](https://github.com/nicehash/NiceHashMiner2/issues).

Closing issue as it is not related to nhmv1

[2017-08-09 10:38] S74nk0 commented on #1201
@jrousian Please post only issues related to NiceHash Miner bugs, feature requests, code,...

Closing ...

[2017-08-09 10:39] S74nk0 commented on #1212
This is a CPU, GPU miner no ASICS support (there is no plan to add ASICS support)

Closing...

[2017-08-09 10:41] microtechies commented on #56
Ok, let me know when your ready and Ill get you a vm, is there a way to privately send you the rdp file and password?

[2017-08-09 10:51] Krolow93 commented on #125
Hi @DillonN , That’s about what I expected as well.

I should mention that it used to be stable with all algorithms (except EWBF) until I did a reinstall of windows 10 x64, and changed boot drive to a m.2 nvme ssd from a normal sata ssd. Not that it should affect this from what I know.

My first guess was that my overclock was not working any more since I upgraded from sata ssd to m.2 . Therefore

[2017-08-09 11:12] Sav87 commented on #74
It's all about the wrong way to stop the miner (kill) instead of Ctrl + C

[2017-08-09 11:16] ser738 commented on #1197
Good day. I have a similar problem, for almost a month now my money has not gone to the wallet. What to do? According to the description, I must have translations at least once a week.

[2017-08-09 11:30] cobusg commented on #1215
Thanks for the reply

[2017-08-09 12:52] AndrewJP23 commented on #118
@drkskwlkr and @DillonN you are right, im missing the entire Lang/ folder, thanks! And line 10 in General.json is set at =0. Luckily i didnt delete the old hash miner folder so i just copied and pasted the lang/ folder and that has fixed it! Thank you both so much!

[2017-08-09 13:11] utc99 commented on #130
Well i checked more, there are currently two algorithms that mine almost the same for me- decred and blake2s, crypto also gives the same profit, yet it really has a long windows between found shares, so it's really might not be worth it to turn that on one, comparing to others, mining time would split into 3 equal parts if crypto would be enabled, but total profit practically wouldn't change. I'm

[2017-08-09 13:11] #130 closed, assigned to nobody

[2017-08-09 15:01] cobusg commented on #1215
Thanks for the reply, appreciated

On Wed, Aug 9, 2017 at 11:09 AM, djeZo <notifications@github.com> wrote:

[2017-08-09 15:09] Swiapq commented on #1215
Thanks for the reply!

[2017-08-09 17:14] ryandeby commented on #56
@microtechies easy fix open task manger and end task Nvidia SIM or SMI.
You are good to go let me know if that works

[2017-08-09 17:16] ryandeby commented on #56
<img width="621" alt="screen shot 2017-08-09 at 10 16 16 am" src="https://user-images.githubusercontent.com/30873940/29134548-d71f1674-7ceb-11e7-851b-f01bb6378fe0.png">
That is the culprit

[2017-08-09 19:05] Rickochey commented on #118
Sorry for the complete newb question but how I update from 1.75.13 to 1.8.1.0-Pre4. ? Do you merge the files, I cannot see an installer.

[2017-08-09 19:09] drkskwlkr commented on #118
@Rickochey No need to upgrade or even replace your old version.
Just download the zip file for 1.8.1.0 and 3rd party miners, unzip both into a separate folder and run.

[2017-08-09 19:16] Rickochey commented on #118
Thanks drkskwlkr

[2017-08-09 19:40] Rickochey commented on #118
@drkskwlkr I am lost on this, downloaded the 1.8.1.0 p4 file where is the 3rd party miner zip ? I ran the Nicehashminer legacy and the executable disappeared from the file, unzipped twice same result is that in part due to looking fro 3rd party miners.
* I have tried 2.0.11 but it does not see my 280X ,  2.0.8 did

[2017-08-09 19:45] drkskwlkr commented on #118
1. Stop or reconfigure your antivirus software and the .exe will stop disappearing
2. 3rd party miners are released less frequently than pre-release versions. Go to [https://github.com/nicehash/NiceHashMinerLegacy/releases](https://github.com/nicehash/NiceHashMinerLegacy/releases) and search for bin_3rdparty.zip

[2017-08-09 20:09] UselessGuru opened #135 "Feature request: Make miner path selectable per algorithm, add custom algos"
For each algorithm I would like to freely configure which miner miner sw to use. The preconfigured miners are not optimal for every hw type.
e.g. on my 1080ti for nist5 the best miner is ccminer_x11gost (84Mh vs. 74Mh with ccminer_claust)

Furthermore I would like to add new algorithms & corresponding miner sw when they pop up.

[2017-08-09 20:16] SGTxGRIND commented on #121
I have a similar issue but with the 1.8.1.0-Pre4 version, on my main rig the benchmarking went fine and then i changed P0 state and restarted. Can't detect my internet connection. Unchecked P0 state and restarted and still cant find my connection. I also restarted my pc to no avail.

[2017-08-09 21:47] DillonN commented on #121
@SGTxGRIND do you mean NHML itself won't connect? Could you post your log.txt?

[2017-08-09 21:47] niknewb opened #136 "Crashes while gaming on GPU1"
Sorry for posting here, I don't know if this is a miner issue but I'm really bored with this thing.So basically i have 2 GPUs( 1080TI) and while I'm gaming I turn off NHML on GPU1 and let it work on GPU2 only (cpu isn't involved). Just 5-15 minutes after any game will crash(in the best case scenario, sometimes it crushes the entire pc).
P.S Tested with and without OC. Same thing for both cases. Ri

[2017-08-09 22:22] SGTxGRIND commented on #121
It magically fixed itself when i got gome from work. I couldnt connect to
the profitability servers thus preventing me from minimg most of the day

On Aug 9, 2017 2:47 PM, "Dillon Newell" <notifications@github.com> wrote:

[2017-08-09 22:26] DillonN commented on #118
1.8.1.0 final release is now out https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.1.0

Thanks to everyone who helped test it!

@Rickochey I think @drkskwlkr might be right with AV software. You can find links to the bin zips on the release page linked above

[2017-08-10 02:01] delonbh commented on #965
ASUS Dual 8GB
Afterburner:
![image](https://user-images.githubusercontent.com/25711367/29151266-65d8ff0a-7d56-11e7-9e69-dd3a6e0c4ffe.png)

Power: 70
Temp: 70
CC: +0
MC: +650
~430 sols

[2017-08-10 07:09] drkskwlkr commented on #135
@UselessGuru I think you can do that now, but it will require some footwork. You need to do the following:
+ enable `Allow multiple instances` in NHML settings window
+ disable all GPUs and all algos
+ close NHML
+ make copies of the folder containing NHML files for each GPU+algo pair you want to run
+ start a NHML instance from each folder and re-enable each GPU+algo pair as is your preference

L

[2017-08-10 07:49] onagorodniuk commented on #965
I have the same problem as topic starter. palit 1070 super jetstream gives me around 390-400 sols. But EWBF miner on flypool gives me 430-450 sols. Switched on flypool for 100% of time..

[2017-08-10 08:16] UselessGuru commented on #135
I don't think this is what I want. How would I set NHLM to use ccminer_x11gost for nist, but the same time use ccminer_claus for sia (this is just an example)?

[2017-08-10 08:20] drkskwlkr commented on #135
@UselessGuru How about you put artificially low benchmark numbers by hand for the 'unwanted' algos?

[2017-08-10 09:23] adem4ik opened #137 "Suggestion: Bigger "Save and close" button to make space for RU translation"
Currently we use "**Сохранить**" in ru.lang for "**Save and close**" button translation. But it is not the proper one. The translation is so short because there is not enough space for the full string "**Сохранить и выйти**".

So my suggestion is too make "**Save and close**" button width same as "**Close without Saving**".
![image](https://user-images.githubusercontent.com/4707112/29163969-17d140

[2017-08-10 11:51] microtechies commented on #56
It works !!!!

[2017-08-10 12:06] ryandeby commented on #56
Good to hear it works for you

[2017-08-10 13:52] adem4ik commented on #136
Check the RAM and vRAM memory usage during mining and gaming.

Anyway you may try to increase page file size in your OS.

[2017-08-10 13:54] delonbh commented on #965
HI,
Stopping selling hash Power?

Em 10 de ago de 2017 04:49, "onagorodniuk" <notifications@github.com>
escreveu:

[2017-08-10 16:13] M-Shadow commented on #1221
Have the same problem... Really want the new build ;/

[2017-08-10 18:16] akocart07 opened #140 "cannot get current temperature, error 999 internal drive"
how to fix this... it occurs when i added my 5th gpu...

running 4 1050ti
and 780ti

psu 650watt truerated.
when it was 4 gpu only it runs ok.. but when i added 1 more 1050ti im getting this error
cannot get current temperature, error 999 internal drive
cannot get current temperature, error 999 internal drive
cannot get current temperature, error 999 internal drive
cannot get current temperature,

[2017-08-10 18:18] niknewb commented on #136
Thank for your reply. My paging file is already set to 32GB. Any more suggestions what can I do with these crashes? :(

[2017-08-10 18:50] Paul-Trasca opened #141 "Version 1.8.1.0 Not starting with windows"
Because of different dirvers conflict in my pc i restart windows from 4 to 4 hours. This version is not autostart nicehash miner. 1.8.0.2 worked perfectly

[2017-08-10 19:34] mikellpp opened #142 "benchmark fails because it cannot find msvcr120.dll file"
Version 1.8.1.0 some benchmarks cannot proceed because they fail to find msvcr120.dll file. This file is in the NHML-1.8.1.0 folder.

[2017-08-10 20:32] graham-m-dunn commented on #1135
Yep, that was it! Thanks.

[2017-08-10 23:04] DillonN commented on #142
You may need to copy the .dll into the folders of the failing miners. A program that depends on `msvcr120.dll` will only find it if it is in the exact same directory, or installed to system root. If you wish to just install them globally you can find links [on the wiki](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Troubleshooting#msvcp)

[2017-08-10 23:09] DillonN commented on #141
When you check the run at startup box, does it stay checked after you save the changes then go back to the settings page? Also if you could post your logs while doing this I may be able to help more

[2017-08-10 23:14] DillonN commented on #140
Error 999 indicates something wrong with your drivers or hardware. Make sure you've tried disabling any overclocks and the card you're adding isn't unstable, and that your PSU can handle all cards. Do you see this error in a miner window or NHML logs?

[2017-08-10 23:18] DillonN commented on #136
It does sound like RAM could be a problem, are you able to observe memory usage while gaming and see how high it gets during the crash (with e.g. Afterburner OSD)? Also make sure you do not have SLI enabled as it would cause this (although you would probably get issues while just mining if SLI were enabled)

[2017-08-10 23:43] DillonN commented on #135
I do see better results with ccminer_x11gost (aka ccminer_alexis), but that miner is a bit experimental. I will look into adding it as a second option, similar to how it shows up now for X11Gost.

Being able to customize miner paths is a neat idea I can look into in the future, however sometimes it is a bit more complicated than changing the paths since not all ccminer forks have the same interfac

[2017-08-11 01:54] lmlim opened #143 "When dual mining eth + xxx, second coin always has (target) rejection rate1-4%"
Hi,

I need help on reducing/eliminating rejection rate of second coin in dual mining.
According to the "interactive history chart", I believe the highest rejection is "target".
the second, some "stale" shares, then the third, there are very few "duplicates".

This happened to all, decred,sia,pascal,and lbry.

changing -dcri value does not matter much since it is not incorrect shares?

[2017-08-11 02:05] mikellpp commented on #142
I had to put it into the EWBF AND EthDec directories.

[2017-08-11 02:05] mikellpp commented on #142
I had to put it into the EWBF AND EthDec directories.

[2017-08-11 02:05] #142 closed, assigned to nobody

[2017-08-11 03:17] billmcilhargey opened #144 "1.8.1.0 - .NET Framework 3.5 Still Needed"
On a fresh installed computer when I launched NiceHash and launched the Nvidia p0 state it asked to install the 3.5 Framework feature in Windows 10

It seems like nvidia p0 state is still using the old framework?  Or maybe something else still is?

[2017-08-11 03:19] helekopeter commented on #1221
Same here

[2017-08-11 05:44] UserMonkey commented on #133
Miners run manually also failed with no CUDA errors.

I installed the CUDA 8.x tool kit and the driver that come with that but still the same error is reported.

I can open the NV Control Panel and when I look at system info it shows the device is CUDA capable for 3.0 and tell me how many CUDA core are available among other things.

I have installed vnc for remote access as Remote Desktop does app

[2017-08-11 07:23] akocart07 commented on #140
im running it stock

On Fri, Aug 11, 2017 at 7:15 AM, Dillon Newell <notifications@github.com>
wrote:

[2017-08-11 07:24] akocart07 commented on #140
and i see this error in miner window

On Fri, Aug 11, 2017 at 3:23 PM, Arturo Canada <akocart07@gmail.com> wrote:

[2017-08-11 10:16] UselessGuru commented on #135
Yep. You would have to create basic miner templates (e.g. for json, ccminer, ccminer-SP. etc.)
To determine hashrates per algo I find [nemosminer ](https://github.com/nemosminer/NemosMiner-v2.0-Zpool/releases) very helpful.

[2017-08-11 13:20] Rickochey commented on #118
Thank you Ivan / Dillon it was Malwarebytes stopping it working, Chrome would not even let me download it.
Now using 1.8.1.0 . I prefer this to 2.0.11

[2017-08-11 13:22] Krolow93 commented on #125
I tried runing without ClaymoreDual like you sugested and that made it stable aswell so i think you @DillonN had the right idea from the begining.
I have now updated NHML to 1.8.1.0 and it apears to have solved whatever was the problem from the begining.
I still cant run EWBF on 1050 tho but I'm hoping that can be solved in the future aswell

[2017-08-11 15:37] Miningforcoins commented on #1213
Hi

I am having almost the same issue.  I have disabled my virus protection completely.  I am unable to mine at all because it will not benchmark.  A window pops up and it appears for a little while showing that it is running trails, but then disappears and there are no further actions or messages.  Thanks

[2017-08-11 15:52] AlphaRenji commented on #1221
Same problem here, does anybody know how to fix this?

[2017-08-11 18:40] niknewb commented on #136
Thanks for the answer. Ram usage in okay, around 7-8GB\12GB( in BO3, for example). Sli always has been disabled.I have now set even 50GB swap file and it still crashes... Don't even know what to do, probably I will have to stop mining while gaming since I have absolutely no idea how to deal with this
EDIT: I've got a pretty interesting error right now when game crashed once again. My videocard dri

[2017-08-11 20:05] dnev3000 opened #145 "Perflib"
With v1.8.1.0 i get several perflib items in event viewer. Does not happen with 1.8.0.2.

[2017-08-11 21:17] DillonN commented on #144
Yes nvidiasetp0state.exe still needs to be updated

[2017-08-11 21:20] DillonN commented on #118
@Rickochey glad you got it working

I'll close this issue now since 1.8.1.0 is out

[2017-08-11 21:20] #118 closed, assigned to nobody

[2017-08-11 21:22] #36 closed, assigned to nobody

[2017-08-11 21:23] #46 closed, assigned to nobody

[2017-08-11 21:23] #49 closed, assigned to nobody

[2017-08-11 21:24] #73 closed, assigned to nobody

[2017-08-11 21:34] #105 closed, assigned to nobody

[2017-08-11 21:36] Cryptominer937 commented on #136
The mining software may not be selecting the one that is your primary video card as GPU1 your primary Graphics card could be GPU2, Or the issue could be Overclock.

[2017-08-11 21:40] DillonN commented on #136
@Cryptominer937 I thought of that too but I think you'd notice that the framerate is very low and/or VRAM usage is higher

@niknewb Is it just one miner type that runs to cause the crash or do any of them do it?

[2017-08-11 21:42] Cryptominer937 commented on #136
If Eth or Zec is being mined there would be minimal FPS drop but it would cause Driver crashing due to GPU Ram overflow.

[2017-08-11 22:25] DillonN commented on #137
This should be done in commit 280f542be4df01b5c987ed1da52f254c69f1f7e8

[2017-08-11 22:33] niknewb commented on #136
Thanks everyone for replying.
@DillonN  I will try different miners tomorrow.
I also think about full clean driver re-installation using DDU and slightly older 384.94 WHQL driver because I guess the issue is on my side

[2017-08-12 01:01] jimmyhackers commented on #1219
yes it would appear the legacy edition recognises both my cpu and gpu

great work dude thanks.

[2017-08-12 02:32] jimmyhackers commented on #1226
update:
i have updated from v 1.8.1.0 pre4 preview to the full blown version.....

problem is solved hopefully never to reappear.

and my dell xps 630i with a e6550 and a gtx 660 is back to normal :P (all of 20 cents a day)

thanks me ( i think )
and who ever fixed the bug in the newer version???

[2017-08-12 06:48] NoSubstitute commented on #87
NHM 2.0.0.12 suffers from this too.
Running as admin does nothing. Setting 16 GB swap does nothing.
Win10 Home doesn't have "Lock pages in memory", since no gpedit.
I did notice that I get an initial error message not included in your screenshot.

_MEMORY INIT ERROR: Obtaining SeLockMemoryPrivilege failied._

![20170812-0840-xmr_fails_memory_alloc](https://user-images.githubusercontent.com/1257273

[2017-08-12 07:55] proyaz opened #146 "Cannot connect to the Internet"
I have internet connection working but the miner displays an error saying it cannot connect to the internet. Tried switching ipv4 only but still no luck. First it was not able to download the miners - so I did it manually and after that it says "Unable to get nicehash profitablity data. If you connect to internet, try again later".

[2017-08-12 09:56] utc99 opened #147 "1.8.10 features support for external wallets"
Would be nice to try new features if that would work for external wallet.
Could be option like:

*I dont care about secrecy of my computer temperature and it could be public..
*or field in Nhml for a pass key, which is needed by nicehash web to access those additional features, and it would give a privacy, and an ability to use these features for all other users which dont use nh wallet

I think t

[2017-08-12 10:00] juanfpina commented on #128
It seems the change that makes the swap not work is instead of --dag-load-mode singlekeep 0 it is now --dag-load-mode single 0, changing that in the command should make it work correctly.

[2017-08-12 10:13] nicehashdev commented on #147
No, there are no plans, because we plan to add extra features to this matter and I am sure you wouldn't want others to be able to remotely restart your rigs or shut down devices ;)

[2017-08-12 10:13] #147 closed, assigned to nobody

[2017-08-12 10:21] utc99 commented on #147
I sill believe that there could be found a solution not leaving half of comunity behind this.

[2017-08-12 10:29] lxblink commented on #147
I agree with @utc99. May be there is some way to attach new BTC address to the account.

[2017-08-12 11:51] 3zero2 commented on #143
I have noticed this as well. Will be monitoring this issue.

[2017-08-12 11:53] 3zero2 commented on #141
Does not auto start here either. Next time I need to restart I will send in the logs whilst switching on and off the option.

I know that the option stays enabled when I save settings and reopen.

[2017-08-12 12:31] orgasmix commented on #1221
Same here, fresh install on Windows 10 Education 64-bit
2.0.0.7 does start but won't detect the CPU

[2017-08-12 12:56] digib0y commented on #71
An update on this will be really appreciated.

[2017-08-12 14:24] MaxMex007 commented on #1221
I got the same problem.

C:\Program Files\NiceHash Miner 2>"NiceHash Miner 2.exe"

C:\Program Files\NiceHash Miner 2>
appData =>  C:\Users\Minero\AppData\Roaming
userData =>  C:\Users\Minero\AppData\Roaming\nhm2
app.getVersion() =>  0.0.12
{}
[2017-08-12 09:17:37] [ConfigController] Config file is from an older version of NiceHashMiner..
[2017-08-12 09:17:37] [ConfigFile<GeneralConfigFile>] Backin

[2017-08-12 14:56] akocart07 commented on #140
i can always see the error at NHML logs

On Fri, Aug 11, 2017 at 3:24 PM, Arturo Canada <akocart07@gmail.com> wrote:

[2017-08-12 15:15] Loveistheair opened #148 "CudaDeviceDetection.exe System Error"
When I try to start the miner I get an error

CudaDeviceDetection.exe System Error

Running the program is not possible because the computer does not exist

api-ms-win-crt-runtime-l1-1-0.dll

How to remove this error, someone can help?
<img width="388" alt="2017-08-12_181452" src="https://user-images.githubusercontent.com/30957034/29241818-2c892e88-7f8a-11e7-80c1-d48b22bb36d4.png">

[2017-08-12 15:26] VicePrez opened #149 "Feature request: Ability to rename cards under Devices"
Would be nice to rename a card under Devices - both in the main window and in Settings - > Devices/Algorithms. I find myself having difficulty diagnosing issues with cards of the same model.

[2017-08-12 15:32] janwarming opened #150 "Exception when accessing Benchmark"
Looks like it has a dead reference to a user called **Dillon**

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.NullReferenceException: Object reference not set to an instance of an object.
   at NiceHashMiner.Algorithm.get_CurPayingRatio() in C:\Users\Dillon\Documents\Code\NiceHashMin

[2017-08-12 15:33] janwarming commented on #146
I have the same issue, but if I continue I can download the miners, but when I access benchmark I get an exception.

[2017-08-12 16:47] utc99 commented on #147
If this is not in the plans, maybe it should apear in them, it can be achieved in multiple ways, sad to see that nobody is even trying

[2017-08-12 16:49] utc99 commented on #147
And why this topic was closed by force, could you add your thoughts about it @DillonN ?

[2017-08-12 16:51] Alifton commented on #146
I recently started having a similar issue as well.  I first noticed the internet connection issue in version 1.8.1.0 Prerelease 3.  Prior to the release of 1.8.1.0 I was using version 1.8.0.1 and never encountered this issue.  This issue may be related to and possibly merged with #121.

Closing the "Unable to get nicehash profitablity data. If you connect to internet, try again later" window then

[2017-08-12 18:15] nicehashdev commented on #147
I closed this issue because it is not related to NHML but rather to NH service. Whatever is done regarding remote view/control of rigs is question for NH and not NHML. NHML is (just like NHMv2) only utilizing the protocol provided by NH.

[2017-08-12 18:49] utc99 commented on #147
All people who uses nhml are nh customers who uses their pools and provides hashing power, they earn profit from us by selling that hash power, and discriminating some of them becouse they use their own secure wallets and nh chooses not even consider improvments to deliver those features for them is very ignorant and very bad behavior. Why would you want to do that? Its a comunity, work together,

[2017-08-12 18:52] nicehashdev commented on #147
We have no plans to change this for now. In any case, it would not be a simple solution and would require a lot of backend (re)work. We may add something in the future, but no promises.

[2017-08-12 18:53] ChriscomIT commented on #146
Any one of you guys use Rivet Networks/Killer Network solution?

[2017-08-12 18:56] utc99 commented on #147
First step is to want to make a change and deliver better quallity experience for everyone, I hope this will go trough, and we will be able to finally test it, good luck.

[2017-08-12 19:05] Kleinish commented on #1221
running it in windows 8 compatibility mode got it to work for me

[2017-08-12 19:49] orgasmix commented on #1221
It does! Won't detect my 770 now though.

[2017-08-12 20:14] Kleinish commented on #1221
restart then check device manager to make sure the drivers are still installed and working

[2017-08-12 20:40] Outofit08 commented on #136
I had this issue as well but only when I play Fortnite. Once with another game. I suggest you restart your computer run both cards at default no overclock then run NH then run your game and test that out. It worked for me. Also after the recent update on Fortnite i haven't had any crashes both cards overclocked
+130Mhz
+400 MHZ mem both 1080ti SLI disabled.

[2017-08-12 21:07] niknewb commented on #136
@DillonN Crashes on most algos here with Black Ops 3 (can't test them all, too much) . Without mining software it can run for hours with no problems whatsoever. I also noticed some extreme slowdowns sometimes, game just starts running at like 1-2 fps for few seconds, sometimes it recovers after this and continuous with normal framerate and sometimes it just drops to 0-1 fps and crashes shortly aft

[2017-08-12 23:56] DillonN commented on #146
@Alifton from the logs it looks like the connection isn't being made to NH servers. There will be an update to the connection methods soon and hopefully this will fix for you all

[2017-08-12 23:59] DillonN commented on #148
Hello @Loveistheair, please see #131 which was the same issue but for a miner exe. I'll add info to the wiki for future reference

[2017-08-13 00:13] DillonN commented on #150
Hello @janwarming, thanks for posting. The reference to user Dillon is from the debug files, which show where the files were at the time of compiling. The actual error is due to the benchmark screen trying to access NiceHash paying rates when they haven't been set (e.g., no connection to NH servers yet). This will be fixed in the next update (just changed on commit 05fb3221d3e45345ecfb0b84df9d4215

[2017-08-13 00:15] DillonN commented on #143
ClaymoreDual does give some errors when dual mining. Dual mining is stressful on the card and 1-4% is normal. Unfortunately it seems to be a problem with the ClaymoreDual miner itself so I don't think it can be fixed from NHML side (if anyone has ideas they'd be welcome).

[2017-08-13 00:16] DillonN commented on #141
If you could send your logs soon after a restart that would be great. I suspect the issue isn't with NHML being set to launch, but with which directory it is launched in by Windows causing it to silently crash (an issue I fixed before that may be popping up again).

[2017-08-13 00:24] DillonN commented on #136
@niknewb I don't play BO3 but from what I hear it is a very demanding game in VRAM. I know you said you monitored RAM usage but could you try monitoring VRAM usage? Hitting the VRAM cap would give exactly the behaviour you're getting (smooth framerates with frequent dips to very low framerates, with possible crashing eventually). At the VRAM cap the game will frequently need to load textures that

[2017-08-13 00:45] DillonN commented on #128
The problem is ethminer doesn't have an API on its own - which NHML uses to get current speed data, among other things. The version of ethminer in NHML now is custom so it has an API

The new update is better for 1060s, but do you see that it is better than just using ClaymoreDual instead (even the Ethereum only one)? CD did have an update recently that increased eth speed for NVIDIA cards as well

[2017-08-13 00:51] DillonN commented on #145
@hovedmannen could you try the steps on the bottom of [this](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Rig-Stats-Monitoring) Wiki page?

[2017-08-13 05:18] Glumpen opened #151 "Not detected any devices."
![image](https://user-images.githubusercontent.com/11544453/29246346-45753514-8010-11e7-9b2e-1f65323a4680.png)
![image](https://user-images.githubusercontent.com/11544453/29246348-5c61eede-8010-11e7-8579-e09dd122daec.png)
nicehash miner2 - see all devices.
in log files - nvidia detected my 2x1060.
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1220277/log.txt)

[2017-08-13 10:42] niknewb commented on #136
@DillonN thanks for your suggestion. I will try monitoring vram usage. BO3 is indeed extremely hungry game and when I was play without mining i noticed that this game fills up vram to almost 11GB just in minutes after starting playing it... But again, the most interesting part which gives me headaches is why it won't crush in hours  without miner while starting miner on a second GPU will just wrec

[2017-08-13 10:55] dnev3000 commented on #145
Thanks, that seems to get rid of them. Do i need to do this after each restart?

[2017-08-13 14:23] TuSuNaMi opened #152 "blake2s gpu mining problem"
Hello, if I selected blake2s mining on my program i give following problem.

GPU NVIDIA GRID K1 on Virtual Machine program see GPU card no problem but.

https://drive.google.com/open?id=0B46zbIw1eOxwNTdqdlFqeWZxMTg

Thanks

[2017-08-13 14:39] Msetknl commented on #146
I had the same issue with internet connectivity at start-up and was running the pre-release. I downloaded the new version and am doing the benchmark test now.

--Update: After downloading the current version, everything is working properly.

[2017-08-13 21:12] Krolow93 commented on #125
Allright, I was wrong
Uppdating NHML to 1.8.1.0 did not solve the problem, this is the latest log from when it crashed.
I might be wrong but does it not say that something is wrong with the cpu or am I reading the log wrong? This log is when runing all algorithms enabled except EWBF on 1050.

[log.1.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1220958/log.1.txt)
[log.txt](https://git

[2017-08-13 21:39] jimmyhackers opened #153 "using integrated graphics for performance gains?"
noob here.

i have an old dell xps 630i gpu mining away with a gtx 660 (cpu is too pants to mine with)
i plan on adding another gtx 770 4gb to it, hopefully mismatched cards run fine on the same rig for mining?

im wondering however.......as my cpu is free in this rig....if i plug my monitor into the integrated graphics and use that to render the screen/display....will this free up some extra gpu

[2017-08-13 21:50] Avalonis opened #154 "skunk hits nicehash which time to import NHML?"
Dear  DillonN,
can you fast as possible the skunk algo into NHML, because its a heavy impact to earn coins. Equi gives me round on the 1080 TI 2,70 € atm its ok, but skunk will give me give 6,14 € atm .

I have testet with https://github.com/krnlx/ccminer-skunk-krnlx but i earned only booos oder rejetects from nice hash.

my start bat.
ccminer -a skunk -o stratum+tcp://skunk.eu.nicehash.com:3362 -

[2017-08-13 22:01] Max1232 commented on #146
I have the exact same problem and I have also tried switching the ipv4 and ipv6 configurements. Hopefully someone will figure out a solution seeing as with the regular nicehash miner 2 loads but does not open for me.

[2017-08-13 22:40] navjack commented on #154
it works just fine with the one linked here
https://github.com/signatumd/releases/blob/master/ccminer-2.2-skunk.zip

ccminer-x64.exe -a skunk -o stratum+tcp://skunk.usa.nicehash.com:3362 -u xxx.xxx

[2017-08-13 23:01] DillonN commented on #145
You should only have to do it if the registry corrupts again, shouldn't happen too often

[2017-08-13 23:01] DillonN commented on #154
This is being worked on

[2017-08-13 23:28] Avalonis commented on #154
Thanks in advance DillonN for your work, :)

@navjack I become only booo's with "reject : share above target's " any idea or tweak in the settings?

[2017-08-14 00:15] luongk commented on #154
@Avalonis I'm having the same issue - just rejected shares.

[2017-08-14 03:31] p1r473 commented on #84
Seems like -i 25 works on my 6x 1080 TI.. thanks
If I go -i 26 i start to get out of memory errors, so 25 is stable!

@DillonN @nicehashdev Maybe the default value should be adjusted

[2017-08-14 03:32] p1r473 commented on #126
@DillonN @nicehashdev can you set Keccak's "paying" in the API when no orders are placed to 0 so it will switch to something when Keccak has no orders ? If no orders, it should be paying 0 in the API make it switch when there is no orders? Or switch algo when you get this error?

[2017-08-14 04:52] dinicthis commented on #685
1.8 does the same. I've white listed it in Bitdefender, run it as administrator. What is wrong with your software?

You still have not answered the question, or provided any solutions.

[2017-08-14 06:07] DillonN commented on #151
It looks like cudadevicedetection.exe is unable to start, are you running a 64-bit version of Windows? You can try reinstalling drivers and making sure Windows is up to date

[2017-08-14 08:20] DillonN commented on #84
@p1r473 the default value is decided by ccminer and varies per GPU

[2017-08-14 08:22] DillonN commented on #153
Using integrated graphics can help with mining performance if you are close to the card's VRAM limit and the displays you use take up too much VRAM

There shouldn't be any problems with not having displays plugged into the GPUs in regards to mining/benchmarking

[2017-08-14 08:33] utc99 commented on #152
I have the same problem, lowering intensity seems to fix it,  yet on one machine it still apears after some time. --intensity=27

[2017-08-14 08:46] Mattze96 commented on #590
me too

[2017-08-14 11:30] Avalonis commented on #154
Dear friends
This miner are functionable :) happy mining

https://github.com/tpruvot/ccminer/releases

https://github.com/tpruvot/ccminer/releases/download/v2.2-tpruvot/ccminer-x64-2.2.7z

Bye Avalon

[2017-08-14 11:32] DillonN commented on #154
@Avalonis @luongk there was an update to NH servers that should have solved the rejected share issues

[2017-08-14 11:36] Avalonis commented on #154
Ok then , thanks for the info, i will test now serverals miners to see wich is the best.

[2017-08-14 11:37] luongk commented on #154
@DillonN Thanks dude, looking forward to the next release!

[2017-08-14 13:30] adem4ik commented on #154
Just a small note on my benchs on Nvidia GTX 1060 6GB

12 MH/s: https://github.com/signatumd/releases/blob/master/ccminer-2.2-skunk.zip
17 MH/s: https://github.com/palginpav/ccminer/releases/tag/1.1.1
19 MH/s: https://github.com/tpruvot/ccminer/releases/download/v2.2-tpruvot/ccminer-x64-2.2.7z

[2017-08-14 13:44] luongk commented on #154
@adem4ik Agreed, significantly better hashrate on the tpruvot fork on my 1080ti + 980 - thanks for the heads up

[2017-08-14 13:46] KrzysztofC commented on #129
I entered:
--intensity 60
under settings in EWBF under Extra Launch Parameters, but it get's ignored, intensity is always 64 when it launches
What am I doing wrong?
Using NiceHash legacy 1.8.1.0
This is what I see in benchmark json file:
    {
      "Name": "EWBF_Equihash",
      "NiceHashID": 24,
      "SecondaryNiceHashID": -1,
      "MinerBaseType": 13,
      "MinerName": "",
      "BenchmarkSp

[2017-08-14 14:38] candrews opened #155 "Upgrade Claymore Dual to 9.8"
Claymore dual miner 9.8 has been released: https://github.com/nanopool/Claymore-Dual-Miner/releases/tag/v9.8

[2017-08-14 14:54] adem4ik commented on #155
afaik it's already updated to 9.8 in https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.1.0 but dunno where from

[2017-08-14 19:46] liranscu opened #156 "i have two problem about nicehashminer"
1.  i have 1080ti card,why the nicehashminerlegacy cant work at the Keccak , my card just work at Lbry ,Lyra2REv2 and Equihash. It never work at Keccak.
2. why i use softwear to overlock my GPU, the speed is still so slow. At the same clock ,i use other softwear to mine,like ZEC,my speed can get 760sol/s, but the nicehashminer just have 620 why ?
thank u

[2017-08-14 19:49] zeuz542 commented on #151
Hijacking this bug but I have the same problem. But it always work after just closing the miner and restarting it. Also it seems to happen randomly usually works, but sometime i get can not detect any devices.

[2017-08-14 19:51] liranscu commented on #156
i use the Profitability calculator on the website, it told me the most Profitable algorithm is Keccak , but my card never work on it

[2017-08-14 19:53] dnev3000 commented on #145
Ok, thanks for the assitance!

[2017-08-14 20:12] zeuz542 commented on #128
The speed is the same in the new claymore miner as in ethminer. But ethminer does not have any fees.

[2017-08-14 21:57] JCarangoH commented on #154
This 3rd party miner is good for AMD cards:

Prospector - https://bitcointalk.org/index.php?topic=2033185.0

Also can mine xmr in cpu but not tryed currently, with Rx 470 GPU goes for 16.8 MH/s and i think it can push more, only binary file is available

[2017-08-14 23:42] DillonN commented on #151
@zeuz542 do you get a similar error pop up as in the first screenshot? (Which I believe says something along the lines of cannot open CudaDeviceDetection.exe, bad image. Click OK to close the program.)

[2017-08-14 23:43] DillonN commented on #155
Yes it's already updated to 9.8, the version posted by Claymore

[2017-08-14 23:43] #155 closed, assigned to nobody

[2017-08-14 23:45] DillonN commented on #154
@JCarangoH thanks I have been looking at prospector, might consider adding it as a new 3rd party miner (it does have 1% devfee though)

@adem4ik thanks for that info. Have you tried krnlx fork https://github.com/krnlx/ccminer-skunk-krnlx? There are no releases posted but you can find a compiled version [here](http://cryptomining-blog.com/8989-new-ccminer-skunk-krnlx-fork-with-faster-skunkhash-perf

[2017-08-15 00:10] Avalonis commented on #154
the krnlx, give me arround 40-45 mh (1080ti Palit GeForce GTX 1080 Ti GameRock Premium)AB 80% +80 cpu + 499 ram and the tpruvot gives me around 53 mh (round about ~230 W) stable

[2017-08-15 00:11] DillonN opened #157 "1.8.1.1 Pre-release"
Please post issues here regarding the pre-release!

[2017-08-15 00:12] DillonN commented on #154
@Avalonis Ok I will look at making tpruvot the default

There is now a pre-release up that has Skunk support for NVIDIA (default is krnlx but you can just paste over `ccminer_krnlx\ccminer.exe` with another fork if you like)

https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.1.1-Pre1

[2017-08-15 00:28] DillonN commented on #156
The profitability calculator can show what's most profitable over a certain period of time, which may be what you're looking at. NHML mines whatever is most profitable at that instant and Keccak may not be as high as it has been over the last couple days

If you still think Keccak isn't activating you need to post your `\logs\log.txt` file so I can see what's going on

As to overclocking many mine

[2017-08-15 00:29] DillonN commented on #145
No problem!

[2017-08-15 00:29] #145 closed, assigned to nobody

[2017-08-15 00:44] JCarangoH commented on #154
@DillonN After 4 attempts testing prospector, i had an average of half-hour of mining before crashing, seems to use all the RAM to perform, I realized checking task manager on performance tab, almost 7,8 - 7,9 of RAM usage with the miner running, so the miner it's still not optimized for ram usage, but i did plenty get 18.6 MH/s with stock clocks and modded BIOS.

[2017-08-15 00:49] Avalonis commented on #154
ok testet with my rig, krnlx give round 150 mh and the tpruvot round 180 - 186 ... but you might added extra start params "--cpu-priority=4" if not you take 180 litle later under 180 with the param its starting at 186 und go down to 183

[2017-08-15 00:50] navjack commented on #154
doing great now on my 980ti and 1080ti with the tpruvot ccminer. 31mh and 58mh respectively.
EDIT: oh and -i 27 for the 1080ti and -i 25 for the 980ti
EDIT AGAIN SORRY: Power Target +127% +350ram for about 2088mhz core and 5355mhz ram on an evga 1080ti ftw3 & gigabyte 980ti xtreme locked at 1520mhz and 5000mhz ram with bios mod

[2017-08-15 00:56] navjack commented on #157
great so far!

[2017-08-15 00:57] navjack commented on #156
i've had issues where sometimes the benchmark never runs... so just do a manual run and enter in the correct number

[2017-08-15 00:59] DillonN commented on #154
@JCarangoH it seems to be working well enough for me, but it may need more than average RAM (around 0.5GB on one card here). Problem is I don't have any new cards to try and it's not profitable on older cards (290x, Fury X)

[2017-08-15 01:01] navjack commented on #154
i have an rx480... i'd test it but i'm not thinking it'd be worth it. estimated profit more then 0.0005 BTC/day? cuz thats what i'm making on daghash

[2017-08-15 01:04] DillonN commented on #154
@navjack I think it is decently profitable for Polaris cards (400 and 500 series), around 5x higher than I was seeing on 290x

[2017-08-15 01:04] navjack commented on #154
this algo is def a perfect fit for big maxwell and big pascal

[2017-08-15 01:09] navjack opened #158 "nicehash wallet or external wallet"
i know this really isn't the place to ask this but early tomorrow morning is when i get paid to my external wallet and that means i COULD change my wallet. i'd like to hear from you guys what you think is the best method in terms of minimizing loss to fees.
my thinking is that nicehash dosen't want to penalize anyone using either method so in the end they break even, so i use the external wallet s

[2017-08-15 01:09] Avalonis commented on #154
if i take in the 16 mh for one rx470 it give me atm  1,70 € , i have a 470 and 570 stock bios .. thy give me 3,19 € so 2x1,70 are 3,40 . its is bettter than dagger/decret atm, how much watt ... but need a exe to test , i have no windows compiling software.

[2017-08-15 01:13] DillonN commented on #154
@Avalonis there is no source yet for NHML prospector, still working on it. Hopefully can have it for pre-release 2 in a couple of hours

[2017-08-15 01:20] JCarangoH commented on #154
@DillonN @navjack My VRAM doesnt full more than 0.5GB, but is fullfilling the system RAM all the way.

[2017-08-15 01:23] navjack commented on #154
![image](https://user-images.githubusercontent.com/7362750/29298570-cc5ab780-8136-11e7-8399-e1f2b87542cb.png)

thats using the tpru

[2017-08-15 01:27] ChriscomIT commented on #158
I am going to change to NH wallet today. Overall it seems like slightly higher fees but much more freedom for me. Well, I really don't think the fee will be higher at all when I determine all cost like Nicehash fee and transaction fees and so on for external wallet.

At all long story short. I am theoretically only seeing improvements switching to NH wallet. But I can report back my experience aft

[2017-08-15 01:31] ChriscomIT commented on #154
@navjack Whats your CPU OC (core clocks and ring clocks)??? And how many threads do u utilize in NHML settings? I am wondering cause with i7-5930k I only get max 360H/s with all software optimizations enabled.

[2017-08-15 01:33] Avalonis commented on #154
@navjack at what clock are the gpu ? ram can i see but gpu are not there?

[2017-08-15 01:50] pducharme commented on #157
Skunk doesn't benchmark, either Precise or normal.  It always end up "Terminated".

Don't know why, the miner for that wasn't just downloaded, so I got the Bin and it's working fine.

[2017-08-15 02:01] navjack commented on #154
@Avalonis from my previous message

@ChriscomIT HA! 4.6ghz core @ 4.4ghz cache and i use process lasso to manually set the affinity. mining is on 7 threads.

[2017-08-15 02:07] ChriscomIT commented on #154
@navjack Ok thanks. I have to crank up my cache clocks then. Yeah, long time since I used ProcessLasso but I might give it a try again.

[2017-08-15 02:07] navjack commented on #154
yeah i come from a gaming/overclocking background and really not a mining background. so power efficiency isn't something i look for. i just push my hardware to its limits :D

[2017-08-15 02:17] ChriscomIT commented on #154
@navjack Same for me but I am into mining now as well like gaming/OCing since the last year. But wanted my PC running 110% stable the last month so I did set back everything in bios despite the core clocks. But I forgot what cache clock I had set. Your values seem pretty good btw. Do you run this stable 24/7?

[2017-08-15 02:18] DillonN commented on #157
@pducharme interesting, maybe AV removed it? In next ver it will use one of the existing ccminers anyway though

[2017-08-15 02:20] navjack commented on #154
yeah, when i'm not mining i can play games (if i don't want money LOL) or mess around in cinema4d as a hobby. my 2nd rig is a ryzen 1800x @ 3.95ghz with an rx480 and 980ti in it. now that ryzen REALLY kicks-butt on cpu mining