[2017-10-09 03:13] xcom99 commented on #385
tx. so thy relies 1.8.13 is dosnot stuck and works good tx for your help.so you send some cods i need to add them if same pro-blame happens.ware do i add them?

[2017-10-09 04:12] kasti2 opened #412 "загрузка майнеров"
как исправить проблему с стартом он включаеться и останавливаеться на окошке "загрузка майнеров"

[2017-10-09 04:53] xcom99 commented on #385
dont go for it it dosent  work any more! is workt first after a cpu restart  is happening all over again.

[2017-10-09 14:05] Horsetoothless commented on #409
Neoscrypt needs to be added to bench mark section if it is there already
under what is it listed by?

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Sun,

[2017-10-09 14:06] Paapo commented on #376
I´ve Trouble with benchmarking Version 1.8.1.4 pre2. All my AMD Cards are showing wrong hashrates for cryptonight. Should have 700, shown 70. Or 700/210. When i´monitor the Hardware Monitor, during the Benchmark procedure, i can see, Card is turning on and off frequently, every 10sec, or so.
Switching back to Version 1.8.1.3, with old Claymore crxptonight, evrything works fine.

Regards,
Scandalro

[2017-10-09 18:22] geektar commented on #973
Hey. Is the problem solved?

[2017-10-10 02:06] Mystere commented on #409
It probably depends on your GPU.  Many of the miners are optimized for more advanced GPU's and don't show up for older ones.

[2017-10-10 05:38] Alexus6 opened #413 "Какая версия программы не виснет после суток работы?"

[2017-10-10 06:18] Hitu63 commented on #1291
I have the same problem with the new update 2.0.1.2.
Also reinstall doesn't helps. The program is showing I'm mining but nothing happens at excavator server...

[2017-10-10 06:35] Nick0835589555 commented on #1158
Hi there, I would like to get your opinion about similar issue
Mining rig out of 6 Nvidia Quadro 2000 and MSI N240GT MD1G/D5 GPUs. Intel Pentium G4560 CPU is the only detected hardware. Advise from NiceHash support team: Upgrade Windows, GPUs and CPU to the latest versions, check if hardware is supported : https://github.com/nicehash/NiceHashHardware#nvidia, Try NHM Legacy. All done the problem st

[2017-10-10 06:43] Nick0835589555 commented on #1087
Hi there, I would like to get your opinion about similar issue
Mining rig out of 6 Nvidia Quadro 2000 and MSI N240GT MD1G/D5 GPUs. Intel Pentium G4560 CPU is the only detected hardware. Advise from NiceHash support team: Upgrade Windows, GPUs and CPU to the latest versions, check if hardware is supported : https://github.com/nicehash/NiceHashHardware#nvidia, Try NHM Legacy. All done the problem st

[2017-10-10 08:20] jasoncmtl opened #414 "Miner window size"
Can you add the ability to change the miner window size?

[2017-10-10 09:00] phr34k0 commented on #1158
@Nick0835589555 Check Cuda Toolkit if it's installed (https://developer.nvidia.com/cuda-downloads). I never once listen to their "Upgrade Windows". That's a poor programmer's/support advice. Technically ETH still bottlenecks in windows 10 ( 0 to 5mh/s ) until there's a better miner built. Toolkit will let you know if your card isn't compatible.

Try run under linux and/or manually use the miners i

[2017-10-10 13:02] B-R-Bender opened #415 "NHML xmr stak cpu crashes with 0xc0000142 in NHML 1.8.1.3"
I've update NHML to 1.8.1.3

now when I'm tying to start mining or even rerun a benchmark I'v got an error (screanshot attached)
is there a cure or a clue?

[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1371939/log.txt)
![errScr](https://user-images.githubusercontent.com/16334107/31387752-322daf3a-add4-11e7-8a5c-909c545a9acb.png)

System Win 8.1 Corp

[2017-10-10 14:18] SergeySypalo commented on #407
Btw, is it possible to auto-update benchmarking results?
I mean, when new version of NiceHash Miner Legacy is released, I'm just extracting it with overwrite to my existing folder with NHML. Last time when upgraded from 1.8.3 to 1.8.4-Pre2 it's asked me to relauch to download new miners.
But the problem is that benchmark results are old and it's not obvious and timeconsuming to manually rerun all

[2017-10-10 14:27] Nick0835589555 commented on #1158
Thanks Pal, Your speedy response and help comes highly appreciated.
I'll follow your lead through steps recommended, I might come back for clarity if I get stucked, please be patient with me I'm beginner but I learn fast.
Will definitely keep you posted. Thanks

[2017-10-10 18:20] kabylike commented on #413
Всем работают очен хорошо. Проблем у тебя.

[2017-10-10 18:53] adem4ik commented on #413
та, которую вы скачаете и протестируете, выбор обширен - https://github.com/nicehash/NiceHashMinerLegacy/releases

[2017-10-11 00:47] bmaccafferty commented on #381
Another thing that I might want it bring up is that the CryptoNight displays a speed of zero in the benchmark.

[2017-10-11 02:39] leftishness commented on #411
The virtual memory warning is not a UAC warning (although that trick works great, despite trashing your system's security); it's part of NHML. Additionally, because I don't use these rigs for anything else, I set the virtual memory to the size of the entire hard drive even BEFORE I ever installed NHML. The warning persists because it's written into the program, which is why I've posted it here as

[2017-10-11 07:28] bruvv commented on #411
Just disable driver warning

[2017-10-11 09:56] juggernautsei commented on #381
What I have learned is that the cards need to all have the same speed/clock. If these cards are not clocked in unison, the system will crash. After I loaded afterburner and clocked all the cards the same and undervolted them. The system runs. I am still trying to fix random crashes but it feels like with every fix I put in place the system gets a little better. The conclusion of the matter for me

[2017-10-11 10:59] Alexus6 commented on #413
Пользуюсь
NHML/1.8.1.3
NHML/1.8.1.4
А если проблема у меня то в чем может быть проблема?
Причём не отвечает именно программулина Найсхешовская.. Запущенные ею майнеры работают без проблем.

Win 7 х64. Работает на двух машинках. На одной rx 470, на другой gtx 980+gtx 970.
Файл подкачки увеличен. Дрова обновленные.

[2017-10-11 11:36] Raginglikeaboss commented on #1291
I had to downgrade to the legacy NiceHash miner and add my own 3rd party miners with custom configurations.  It was a paid but it resolved the issue temporarily as we wait for a fix.

NiceHash needs to get on this, but using older versions with custom miner software & config files will work as a temporary stop-gap measure as we wait for a fix.

[2017-10-11 11:44] i2tmlabs commented on #171
This issue still exist. I have Asus B250 Mining Expert board with 6 MSI GTX1080ti 11G, and 2 MSI GTX 1070.
I get this same error on Lyra2Rev2, and Lybry. Overlocked, Factory Default, Drop power to 75%. Nothing works. Other Algorithms on ccminer work perfect. Hard to believe this issue is still around over a year later.

Anyone figure it out?

[2017-10-11 11:54] leftishness commented on #411
nivong, I'm not sure what to make of your post. It's not even a complete sentence. No one on this thread has mentioned driver warnings. I really don't know what you're talking about. Sorry.

[2017-10-11 11:56] bruvv commented on #411
Next time search before posting "bugs" this has been posted before and is not a bug.

[2017-10-11 12:04] leftishness commented on #411
The easy way to communicate that would be with a link. If it's been posted before and other people are having this problem, then I'm right to "bitch about it" since the devs haven't done anything about it.

Also, perhaps it's an issue of semantics since I'm not a coder but, in this sense, "bug" clearly means an aspect of the software that adversely affects its function. In this case, the adverse e

[2017-10-11 14:05] BugerDread commented on #1292
nobody interested in this?
here I made a calculator which calculates including electricity price:

http://foto.dread.cz/bgr---store/nicehash-calc-data-from-web.ods

its getting algo profitability from https://www.nicehash.com/algorithm every minute and bitcoin price from https://www.wbtcb.com/ (yes it is in Czech Korunas, because Im from Czech)...

... and its clearly showing me that is better to

[2017-10-11 17:05] DillonN commented on #398
@mcsjohn thanks for the benchmarks and notice Xmrig is updated. Looks like it should work now! I'll try to have an update out for it soon

[2017-10-11 17:06] DillonN commented on #376
@Nicheuji thanks, there is some discussion on this on issue #398. Probably have an update for support within the next day or two

@Paapo could you give some info such as types of cards you're using or logs\log.txt file?

[2017-10-11 17:52] valcalepi opened #416 "Have 8 AMD cards and all show mining but not all active in Nicehash"
Have 8 AMD cards and all show mining but not all active in Nicehash.
I have installed the recommended driver 15.12 from AMD. Hash rates all above 25.xx MH/s
AMD Radeon RX580 Armor OC Edition 8GB.  Biostar TB250-BTC Pro, Celeron G3930, 16GB memory.
I have another system mining with 2 Radeon RX580 Nitro + 8Gb and 4GB in nicehash I see 3 active miners.
So in other system with 8 GPU and one CPU mining

[2017-10-11 18:02] mcsjohn commented on #398
Thank you @DillonN

[2017-10-11 18:23] valcalepi commented on #416
Should I use blockchain driver? I plan to add 4 nVidia cards to this rig for a total of 12.

[2017-10-11 18:41] DmitryDMR commented on #413
Пользуюсь
NHML/1.8.1.3
NHML/1.8.1.4
Все работает сутками. Пробуй разгон снизить

[2017-10-11 18:42] DmitryDMR commented on #412
Загрузить майнеры вручную
https://github.com/nicehash/NiceHashMinerLegacy/releases
bin.zip
bin_3rdparty.zip

[2017-10-11 19:16] Paapo commented on #376
Sure.. Will send logs later.. I´m Using AMD Crimson 17.9.3, with 2 rigs. Both with 6 AMD Sapphire RX470 Radeon Nitro+. Cards are modded. In the meanwhile i copied over the config folder from the previous version. But when i start the miner, with cryptonight, they are running all slow.

Regards,
Paapo

[2017-10-11 19:51] alexandr-1 commented on #413
Без разгона(

[2017-10-11 20:06] laterbreh opened #418 "Multiple GPUs, on switch, card is sitting idle."
Hello,

I can't seem to find a thread that is closely related to the issue that I am having. I have a 2 GPU 1060 6GB mining rig, and version 1.7.5 (the first one i ever used) up to 1.8.1.4 has this issue. The application its self works great, but when switching to or from certain algorithms particularly Neoscript, X11Gost, and Dagger (includes hybrid mining), the cards will initialize, but card 1(

[2017-10-11 21:09] ChriscomIT commented on #411
@UnderwearWarrior I finally tell it you clear again as much as possible. NO ONE here will help you with building your fishy botnet!!! There are workarounds for your "issues" (which are no issues) but find them for yourself, please. No one here wants to help you with your fishy "mining farm" (which makes no sense overall, as farm miners use 99.99% a single mining pool, not a hash power intermediary

[2017-10-11 21:11] bruvv commented on #411
And to add to this: https://github.com/nicehash/NiceHashMinerLegacy/search?q=virtual+memory&type=Issues&utf8=%E2%9C%93
now please close it and stop humiliating yourself.

[2017-10-11 21:14] Pjalchemist commented on #376
What about an option so the window is not fixed in size. Would be nice to see all the algos in a proper list and not having to scroll through them.

Got an issue today when benching it crashing my rig. If the above was an option I can see things better and fault find better.

[2017-10-11 21:29] ondro727 commented on #376
+1 to the resizable windows (at least benchmark window). Also the possibility to sort algos would be welcomed (especially for expected daily profitability).

[2017-10-11 21:31] Pjalchemist commented on #376
Didn’t think of the option to sort the algo.

Highest to lowest on the rate/return be good.

[2017-10-11 22:22] #411 closed, assigned to nobody

[2017-10-11 23:57] ghost commented on #376
hi, i using both v2 and legacy miner.
i am here to discuss my AMD with legacy miner.
everthing stay same, but one problem is AMD (RX 470 8GB) would crash after some time mining, but the problem is, after crash my legacy miner settings will reset and everthing gone! so need to settings everthing including benchmark (unable to make everything auto start mining after crash). i tried with this version

[2017-10-12 04:25] Alexus6 commented on #413
После суток работы программка "не отвечала".
Поставил NHML/1.8.1.4 - pre2. Вроде пока нормально..

[2017-10-12 04:57] ravi1913 commented on #1303
The issue is probably because of windows defender or some similar web protection service.
These tend to automatically delete some necessary files, which causes the miner to get stuck. Try adding an exception for nicehash miner so that it runs.

[2017-10-12 07:38] diablom commented on #394
After upgrade to 1.8.1.4 pre2 version it stopped crashing, thank you for update

[2017-10-12 07:38] #394 closed, assigned to nobody

[2017-10-12 07:47] diablom opened #420 "Max fan speed"
I need to set my fan speeds at max 60%. Inside NML  settings > Devices algorithms I inserted:
-ttli 80 -fanmax 60

I did this for all GPUs (3) and all Claymore algorithms. Still, I get my temperatures at ~70 C and fan speed 70-80%.

I cannot set fan speed at driver level, because I do not have a monitor attached to the rig. Any help would be great. Thank you.

[2017-10-12 09:12] UnclWish commented on #297
Is there is the solvation? Nobody knows what causes this issue?

[2017-10-12 09:59] devanshu3928 commented on #297
There is a solution but not for everyone, go to your network settings - >click on your connection  - >properties
In the list you see IPv4 and IPv6
Disable IPv6
Now restart your PC and check it works or not, at in my case this didn't worked.

[2017-10-12 10:12] diablom commented on #413
NHML/1.8.1.3 was crashing for me.
NHML/1.8.1.4 pre2 works good for 3 days now.

Also try to disable CPU usage if the problem still remains. It helped me once.

[2017-10-12 10:37] doverosx commented on #376
The up/down, up/down of the reported miner speed continues for the GPU. In comparison to 1.8.1.2, my GPU was hashing at 250H/s with xmr and the GPU was crushing ~24MH/s. The client is also being tagged as a virus by windows defender.

[2017-10-12 12:33] Buckthebarbarian commented on #408
I would also like to see this but it probably won't happen. You can already use xmr stack amd and mine to the nicehash stratum. The only problem is that setting up the miner when you have a rig with different cards is a pain in the ass

[2017-10-12 12:43] MatuKing opened #421 "RIG Chash - Need to power off to restart."
Hello, I have a problem with the nicehash program, I have a RIG with 2 RX570 boards and 5 RX580 boards and when I go under the program and I run it, it turns out that the PC hangs up, the only thing I found to make it work is to disable the option to use third-party programs, when removing that option the PC works correctly, wanted to know if you can help me with the topic, because I would like it

[2017-10-12 13:02] jstevenson81 commented on #171
So I had the exact same issue and had almost given up when I realized there is a switch you can pass into ccminer.  My problem was I would set the power level in msi afterburner and then mine.  I would watch the power level of the card CLIMB past the setting in Afterburner.  Once it did that, if it stayed past that level, I would get the "unspecified launch error".  When I checked the ccminer read

[2017-10-12 14:57] juggernautsei commented on #381
After this last round of reboot.
Looking at my rig right now the third GPU is hanging up the system. And instead of it rebooting the system it is attempting to reload the miner.

I disabled the bugcheck in windows so the system would not reboot when the driver failed.

I'll update you when I find out more. I am buying new risers. I think I have a bad set of risers. They are all version 006. I am g

[2017-10-12 15:27] sebeksd commented on #387
Try new option in "1.8.1.4 Pre-release 2" called "Run script when CUDA GPU is lost". Look into "OnGPUsLost.bat" file, you can restart your Rig or just restart drivers from there.
For me NVInspector driver restart work perfectly (OPT2) but in your case you can use rig restart (OPT1).

[2017-10-12 15:30] Nikko85 opened #422 "Multiple mining windows popup all hang on start. Have to hard reset rig to reboot, task manager can't kill processes"
Hi!
I did find a couple of posts that could be related to this but nothing on the multiple windows opened that I can't kill with task manager.

Since last week (2017-10-6) Using nicehash 1.8.1.3 OR 1.8.1.4 Pre release 2, a new problem appeared. Usually after about an hour of mining (sometimes less) I get an alert from nicehash monitor. I log using VNC to find 5-6 mining windows opened all hanged o

[2017-10-12 15:32] Nikko85 commented on #421
Does your problem match mine?
https://github.com/nicehash/NiceHashMinerLegacy/issues/422

I tried disabling Third party miners like you said but ended up with only sgminers which won't do because I can't benchmark them...

[2017-10-12 18:41] MatuKing commented on #421
If it seems to be the same problem, my boards have passed all the benchmarks so the sgminer works for me and I'm mining CryptoNight as the only option. Do you have configured the virtual memory of the PC? That is necessary.

[2017-10-12 19:47] Nikko85 commented on #422
I didn't have an example of the content of the windows that popup and freeze. So right now, I got like 12 windows all showing this and I can't kill any of them. The first window that mined for a while is still in the background but it doesn't respond to any command either.

╔════════════════════════════════════════════════════════════════╗
║     Claymore's Dual ETH + DCR/SC/LBC/PASC GPU Miner v10.

[2017-10-12 20:03] alexandr-1 commented on #393
Разобрался! Отключил **майнинг процессором** и всё стало зашибись. Хэшрейт стал достаточно высоким, как и ожидал, и стабильным.

[2017-10-12 20:05] alexandr-1 commented on #416
Тоже планирую собрать ригу на 12 картах (планируется поставить разномастные карты, которые удастся купить за адекватные деньги). Увижу ли я их все в NHML ?

[2017-10-13 04:38] Sav87 commented on #418
if after switching the algorithm the overclocking settings of the graphics cards are reset, then this is the video card driver crash and after the driver is restored by the system, the settings are reset.

[2017-10-13 04:41] Nicheuji commented on #398
@DillonN Will we be able to set the donation levels ourselves? While many would prefer to set it to 0, I'm sure there are a few that wouldn't mind donating at least at level 1.

[2017-10-13 04:52] Sav87 commented on #416
log file?

[2017-10-13 04:55] Sav87 commented on #410
so what's the question?

[2017-10-13 05:51] Tick007 commented on #410
Question is here: https://github.com/nicehash/NiceHashMiner/issues/1299

[2017-10-13 06:45] Sav87 commented on #410
this problem is present in NiceHashMinerLegacy?

[2017-10-13 06:47] Tick007 commented on #410
I don't know. I use  version 2. That why I moved my question to appropriate chapter.

[2017-10-13 06:47] #410 closed, assigned to nobody

[2017-10-13 08:07] Paapo opened #424 "DevFee: Connection lost, retry in 20 sec... NHM1.8.1.4pre2"
Hello, I really Need some help. I´m running NHM 1.8.1.3 and also tried 1.8.1.4pre2, with Windows 10, 2 Rigs (6XAMD RX470), with Crimson 17.9.3, but i tried out other crimson Drivers too.
As you can see on the Picture, my rig is running table, withiout any jejected Shares. But i can´t get rid of this DevFee:  Connection lost, retry in 20 sec...
![connection](https://user-images.githubusercontent.co

[2017-10-13 08:34] vinaybhushanj commented on #424
Dear.Goggle for some time,before I suggest you to restart and reinstall.It will be fixed.

[2017-10-13 08:34] vinaybhushanj commented on #424
Dear.Goggle for some time,before I suggest you to restart and reinstall.It will be fixed.

[2017-10-13 08:55] Paapo commented on #424
Oh Google... Come on.. I tried it with different search words, but i found no real solution.. Like here:
https://github.com/nicehash/NiceHashMiner/issues/889
As i told you, i don´t know, f it is a nhm relased issue, or router issue. If you could help me out with the Keywords, that would be fine.
Reinstallation of NHM1.8.1.3 has been done, several times. With new Benchmark. But the issue stays.

Re

[2017-10-13 11:55] Sav87 opened #425 "Soft Watchdog."
There is a proposal, you need to make a software watchdog, a separate program that monitors the number of video cards, the working capacity of the application.

[2017-10-13 17:09] DillonN commented on #398
@Nicheuji yes the donation level will be configurable

[2017-10-13 17:13] DillonN commented on #399
@kfadrat I have noticed that some miners override the Afterburner settings, probably through how they access the NVIDIA APIs. If this occurs it usually doesn't go away after the miner closes. When you are trying using NHML, are there other miners being opened first? NHML also accesses the APIs, but only in for information. You could try a version before 1.8.1.0 to see if that regular accessing is

[2017-10-13 17:15] DillonN commented on #402
That is interesting, although good to know the site is showing the higher value (trust the site's value more, that is what you will be paid on). Are you able to post your `'logs\log.txt` file? That would give me some information on what you are mining with and maybe show a problem.

[2017-10-13 17:33] DillonN commented on #407
@UnderwearWarrior  there is already a timeout built into the benchmarking process, which are you finding that never end? Some of the benchmarks take a very long time (e.g. xmr-stak-cpu takes 12min on a 6 core CPU). There are certainly some improvements I'd like to make to the benchmark process, but right now they are lower priority since NHML is designed for more advanced users.

As @C1BERUS said

[2017-10-13 17:35] DillonN commented on #408
@pducharme thanks for pointing out, I will look into it

[2017-10-13 17:42] DillonN commented on #416
@valcalepi could you clarify what you mean by not active in NiceHash? Do you mean on the miner stats website page you do not see all of your devices listed, or that in the NHML program GUI you do not see them?

As @Sav87 said log files would help as well (\logs\log.txt)

[2017-10-13 17:48] DillonN commented on #420
@diablom are you using AMD cards or NVIDIA cards? Claymore does not support fan speed setting in NV cards (see [here](https://bitcointalk.org/index.php?topic=1433925.0) for Claymore's descriptions of the options)

Also make sure that "Disable AMD Temperature Control" is unchecked in settings (it is checked by default)

[2017-10-13 17:54] DillonN commented on #409
@Horsetoothless you are correct sgminer Neoscrypt is not enabled. It is definitely not profitable in my testing but I can enable it if you are finding it is more profitable. Which cards are you using where it is more profitable?

[2017-10-13 18:47] gluckez opened #426 "unable to allow nicehashlegacyminer.exe to run"
this probably has a few entries, i know... and this is probably rude, i know, but i don't have time atm...
been running nicehashlegacyminer for about a week now, but windows or my antivirus keeps blocking it. i'm now at the point where my antivirus, along with everything else responsible for my security, is turned all the way off, and somehow, it's still being blocked. now running 1.8.1.3, other v

[2017-10-13 19:11] DillonN commented on #424
@Paapo could you try unzipping the attached file into the `internals` folder (overwriting), relaunching NHML, then adding the option `-allpools 1` to the extra launch parameters of Claymore Cryptonote?

This will let the miner connect to other pools for the devfee, which may fix your issue

[MinerOptionPackage_ClaymoreCryptoNight.zip](https://github.com/nicehash/NiceHashMinerLegacy/files/1383726/M

[2017-10-13 20:09] Pjalchemist commented on #376
1.8.1.4 Pre-release 3

The Worker names can be up to 15 characters long still doesn't work, for example

Pete Server 1.8.1.4 P3
Pete Server
NH 1.8.1.4

[2017-10-13 20:23] DillonN commented on #376
@Pjalchemist there cannot be spaces in worker names

[2017-10-13 20:54] Pjalchemist commented on #376
@DillonN

Okay I will give it a try.

However it’s crashing when benching. GPU is RX570 4GB. 6 in the rig, only benching the one. Offers me 13 benchmarks. Crashed on the 10th.

[2017-10-13 21:11] DillonN commented on #376
@Pjalchemist which algorithm/miner is the one it is crashing on? Do you mean the whole NHML is crashing or that the benchmark terminates?

[2017-10-13 21:14] Paapo commented on #424
@DillonN
That´s it. Unzipped the file to internals. Added -allpools 1 option and restartetd the miner. It is running since 60 minutes, without DevFee interruptions.  Thanks a lot for your help.
Do i have to install this package to all new releases? And is there a semilar package available for sgminer.
I´ve seen, i have the same issue with sgminer.

Regards,
Paapo

[2017-10-13 21:16] Pjalchemist commented on #376
@DillonN the NH application during benchmark crashes, then my rig freezes. Rig is fully stable on later versions.

Really the window needs to be bigger so you can see whats what better.

Name works, PeteServer18142. Would be good to allow 20 characters and spaces.

Monday I will open the rig up, I shall pull all the card and leave only one in the master X16 slot and test it again. Gutted as means

[2017-10-14 00:29] pducharme commented on #376
Does XMRig need Supplemental parameters ? (or support it ?).  On XMR-Stack-CPU, I usually get 500-580H/s on my O/C Ryzen 7 1700 @ 3.64Ghz.   With the XMRig, i get 475-505H/s.

On Stack, I have the enable_ht=true parameters, does XMRig also need that ?

Also, XMRig support CryptoNight-Lite support for AEON, is this possible to add ?? :D @DillonN

[2017-10-14 01:49] luongk commented on #387
Yeah, thanks - rig restart seems to be a decent workaround.

[2017-10-14 01:49] #387 closed, assigned to nobody

[2017-10-14 09:55] adem4ik opened #427 "'Time Unit' isn't translateable in 1.8.1.4-Pre3"
**Preconditions:** NHML 1.8.1.4-Pre3, any language including English

1) Start NHML
2) Open **Settings** window

**Result:** there is a field named 'TimeUnit' (without a space)
**Expected result:** a corresponding translation used in the lang-file, for English it is 'Time Unit' (with space) - https://github.com/nicehash/NiceHashMinerLegacy/blob/master/NiceHashMiner/langs/en.lang#L22
![image](https

[2017-10-14 10:11] orokhovatskiy opened #429 "Skip benchmark window alert"
Hello,

Could you please provide information how can I skip benchmark-window alert:
![teamviewer_2017-10-14_13-08-19](https://user-images.githubusercontent.com/23494254/31574855-0ec836a4-b0e1-11e7-9a6c-656c9bf51732.png)

Sometimes my farms going to reboot and because of this window showing nicehash couldn't automatically start

This window shows because NHML could find a new one alghoritm
![teamvi

[2017-10-14 10:27] mcsjohn commented on #427
Already fixed in my pull request https://github.com/nicehash/NiceHashMinerLegacy/pull/403

[2017-10-14 11:07] sriminer commented on #376
Hello DillonN

I want to report an issue with the pre2 release.

When cpu miner is active my AMD cards which are part of mixed cards with Nvidia 1070's are fluctuating in hash rate wildly from 8 to 13 to 28 to 38 and 52. I disabled cpu mining and it seems to be hovering between 42 to 53 Mh but its not stable completely but better than cpu mining enabled.

[2017-10-14 11:14] niknewb opened #430 "NHML Lyra perfomance"
Sorry, this isn't an issue at all but just a question: Is it possible to match Lyra2rev2 NHM2 perfomance with NHML? On my rig (2x1080 ti) Lyra's speed in NHML is always at least 9-12 Mh\s lower than in NHM2 and this is probably the only algo which works faster in NHM2 on my GPUs.
I've attached a comparison below with factory clocks on my GPUs (difference is slighly bigger with oc)
![2017-10-14_145

[2017-10-14 12:39] Doso777 commented on #376
1.8.1.4 pre3 comes with xmrig miner. When i benchmark for this miner on Dual CPU Intel Xeon X5670 the benchmark display 330 to 420 hashes per cpu. When i start mining Nicehash Legacy displays 70 to 120 hashes per cpu. I am guessing that has to do with hyperthreading and/or dual CPU. When i set the launch paramater for xmrig -t on each CPU to something like 5 or 6 i get much higher hash rates aroun

[2017-10-14 15:11] Paapo opened #431 "NHML 1.8.1.4pre3 no Benchmark possible. Cards are showing only 20% of its performance"
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1384758/log.txt)
Hi,
after we have gotten my nhml 1.8.1..3 to run, i tried to use the new pre3 release of 1.8.1.4.
As before in pre2, my AMD Sapphire RX470 Cards (Modded) are benchmarked with only 10-20% of their normal performance. Usually my rx470 have 700h/s, benchmark is showing for all cards between 40h/s and 160h/s. So, i tried

[2017-10-14 16:08] zeuz542 opened #432 "Feature Request: NiceHashMiner stats from multiple rigs"
Would it be possible to implement a feature to collect data from multiple computers to a single nicehashminer instance ? Like you are able to do with Awesome Miner.

I feel the home page is not very good at detecting dead miners and I often miss em unless I rdp to each computer and check nicehash miner there.

[2017-10-15 14:36] CAVACO-PT opened #433 "Antminer S7"
hello , my antminer s7  keeps showing in the stats web page as  only up for  like a few minutes at a time

![image](https://user-images.githubusercontent.com/9946471/31585716-73f7d39e-b1be-11e7-8b96-a5d8d0f72d80.png)

in the miner webpage it shows up for a few days , but i would like help to understand why nicehash website keeps saying it is down and only up for a few min

![image](https://user-im

[2017-10-15 15:36] #433 closed, assigned to nobody

[2017-10-15 17:36] #424 closed, assigned to nobody

[2017-10-15 18:35] riccardoruspoli opened #435 "Unable to set time unit"
On **NHML 1.8.1.4-Pre3**:

1. Open NHML and go to settings
2. Change the current time unit to any other one
3. **Save and exit**

It worked the first time after seven attempts.

The temporary fix I found is to open NHML/configs/General.json and change "TimeUnit" to a number from 0 to 4.

[2017-10-16 02:46] Antho132 opened #436 "Nicehash doesn't open, and the application vanishes from the file."
Okay, so I extract the file, and when I click on the miner application, The application vanishes after a few seconds. The main problem; I can't open it. No error message. nothing. Am I missing a file? Is my hardware incompatible?

[2017-10-16 04:55] riccardoruspoli commented on #436
You have to add the .exe as an exception into your antivirus

[2017-10-16 08:41] gennadiv opened #437 "neoscrypt"
не работает -пропускает алгоритм    not working -flow algorithm  r9 380 - 470 - 570
neoscrypt.eu.nicehash.com difficulty changed to 128
[13:29:31] [THR0] gen_stratum_work() - algorithm = neoscrypt
[13:29:31] [THR0] Generated stratum merkle d3609839f5a5f18de971539c337732e2f5dc2b43a84486ec72ea246696ada141
[13:29:31] [THR0] Generated stratum header 00000020fe8019baa521f4811708c1705e2f6d20ecfcfef8fa90

[2017-10-16 10:11] ghost commented on #436
Set exclusion in the anti-virus / windows defender.

[2017-10-16 10:21] ghost commented on #401
Where can i get the old version ?
i am facing this issue too https://github.com/nicehash/NiceHashMiner/issues/1293.
Strange to me , it was all running for almost 3 week with NHML-1.8.1.3 and suddenly facing this error.
All i knew was there was power outage in my area and system has been shut down abnormally . When the system is up running , NiceHash gets stuck at  "get the SMA information" and abo

[2017-10-16 10:23] HarshithSuvarna commented on #1293
It was all running for almost 3 week with NHML-1.8.1.3 and suddenly facing this error.
All i knew was there was power outage in my area and system has been shut down abnormally . When the system is up running , NiceHash gets stuck at  "get the SMA information" and above error is displayed. ANd there is no issue with the internet.
Tried to run with pre release NHML 1.8.1.4  same issue.
Strange to m

[2017-10-16 11:04] diablom commented on #420
Thank you for a reply. I use AMD 470 and 570 cards. Unchecked AMD temperature controls. It worked for almost a day, but again some GPU fans are running 80-100%, even I set -ttli 80 -fanmax 60 and temperatures are not high.

[2017-10-16 11:31] b0b5h4rp13 commented on #401
This happened to me recently again, about a week after I reinstalled
windows 10 (what a nightmare), it would hang on the SMA and then give me a
BSOD with a msg about a watchdog timer. Long story short, I removed the
Nvidia driver and reinstalled it..

To find older releases go to the current leggacy release on GitHub from the
nice yas download link and scroll down the page

On Oct 16, 2017 6:21 AM

[2017-10-16 14:30] kryptekk commented on #36
Why was this closed....This is still happening Oct 16, 2017!

[2017-10-16 14:34] kryptekk opened #438 "Miner GUI cut off if Resolution is too low V1.8.1.3"
Happening with previous version too running V1.8.0.2 and the current version of 1.8.1.3.
There is a problem with the GUI, when the resolution ist too low.
All Twelve of my Machines, i only get 640x480 after a reboot and the miner window is cut off.  The Buttons are working because you can tab around but they are not visible.
![screenshot 2017-10-16 10 33 30](https://user-images.githubusercontent.c

[2017-10-16 14:47] ghost commented on #401
bobsharpie,

A big thanks.. that certainly worked for me too... Looks like clear bug in the system which has not been fixed by nicehash team as promised.
As of now mining started peacefully. Meanwhile we might have to wait for the actual Fix.

Nice Hash Team,
We know u guyz are working hard but this is something that keep bothering most of the users in the form.
Please get this fixed as early as p

[2017-10-16 14:49] HarshithSuvarna commented on #1293
Just had a workaround as of now as suggested by  bobsharpie in https://github.com/nicehash/NiceHashMinerLegacy/issues/401

NiceHash Team,
We know u guyz are working hard but this is something that keep bothering most of the users in the form.
Please get this fixed as early as possible.

Meanwhile we are stuck in Old version, now sure what we are missing compared to latest version.

[2017-10-16 21:11] Antho132 opened #439 "Nicehash closes during benchmark"
When benchmarking my GPU and CPU, the miner simply crashed my PC. I restarted it, and now to just closes itself.
Edit: I've just reinstalled it, and The miner doesn't even get finished downloading, it closes after abt. one minute.

[2017-10-16 22:28] #436 closed, assigned to nobody

[2017-10-17 04:29] BARUCHER777 commented on #437
Та же проблема на MSI RADEON RX 580 & RADEON FURY

[2017-10-17 08:49] ghost commented on #402
Hello, I'll attach the log later in the evening, as I am not near the rig now. Thanks a lot for looking on my issue :)

[2017-10-17 09:55] ghost opened #440 "GTX 750 Ti can mine Neoscrypt but GTX 770 cant?"
There is not really any extra info I can give, the Neoscrypt miner shows for the GTX 750 Ti in the list but it doesnt for the 770.

[2017-10-17 17:28] riccardoruspoli commented on #440
As you can see on [this](https://en.wikipedia.org/wiki/CUDA#GPUs_supported) page, GTX 750 Ti uses Compute 5.0, while GTX 770 uses Compute 3.0.

NeoScrypt requires a Compute 3.5 or above to work.

[2017-10-17 17:46] DillonN commented on #426
Hello @gluckez, what exactly is the error you're getting while trying to open? Does a popup from antivirus say it is blocking, or does NHML just fail to launch?

[2017-10-17 17:47] DillonN commented on #429
You have to disable (uncheck) the algorithms that don't have speeds, from your screenshot it looks like there is at least one in your second P106

[2017-10-17 17:57] redboxstudio opened #442 "Xeon 2650 + not work bench"
The cryptonight benchmark does not pass on xeon 2650 or higher. The write is canceled or interrupted on any version above 1.7.3.3. We have to use it but it is not stable constantly falling off. What has changed, is it possible to return the working capacity of these processors to new versions? accurate processor model intel64 family 6 model 79 stepping 0 genuineint el or genium inte r cpu 0000 2.2

[2017-10-17 18:04] orokhovatskiy commented on #429
DillonN hello,

Thx for reply! Problem that sometimes this problem could appear on different alghoritms. Is it possible to set automaticall apply benchmark and autostart mining?

[2017-10-17 18:07] DillonN commented on #431
Thanks for posting @Paapo, I'll look into it. In the meantime, I noticed you have either the `-h` or `-a` extra launch parameters set in your testing, could you try without either of them? I believe `-h` optimal value has changed with the new version of Claymore Cryptonote, and the `-a` value is no longer a launch value at all (I still have to update NHML to reflect that)

[2017-10-17 18:13] DillonN commented on #440
Yes @Rikifire is correct, 750 Ti is Maxwell 1 while 770 is the (older) Kepler architecture so it does not have the same compute capability

[2017-10-17 18:15] DillonN commented on #442
@redboxstudio are you able to run the miner manually? You can set any speed for the CPU in the settings and NHML will launch it, if you do this does the miner window show abnormalities?

[2017-10-17 18:27] DillonN commented on #376
@Pjalchemist resizable benchmark window will be in a future update

@pducharme you can see some extra parameters for Xmrig on the [Wiki](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Algorithm-ExtraLaunchParameters#xmrig). In general hyperthreading won't help since the ideal thread count is <size of L3 cache>/2 which is the core count for most CPUs. You can manually tweak the thread count w

[2017-10-17 18:36] DillonN commented on #429
@mrsanchos once you benchmark an algorithm once it should never revert to non-benchmarked, so if you run the benchmark now and everything enabled comes up with a speed then the prompt should never pop up again.

However yes this option could be implemented

[2017-10-17 18:47] Pjalchemist commented on #376
@DillonN

When is that likely to be.

[2017-10-17 18:50] orokhovatskiy commented on #429
@DillonN ok, thanks!

[2017-10-17 18:58] Paapo commented on #431
@DillonN Yes, you are right. The -a option was copied over from the previous version. But i have removed it already and tried to benchmark cryptonight again. But there was no change. exactly the same result. But Version 1.8.1.3 really great now. Great work for me..
Thanks,

Regards,
Paapo

[2017-10-17 22:26] bmaccafferty commented on #381
Nothing has worked so far and I have yet to make it past the benchmark.

[2017-10-17 22:59] juggernautsei commented on #381
The new risers came in today and I changed out three of the first ones with the new ones. I have four of the first round that I bought that work. I am trying to run 7 GPU's right now.
I am having moderate success in that the system can stay online mining for up to a day and then all of a sudden start blue screening. I will not change a thing and just restart it and it may blue screen a few times m

[2017-10-17 23:15] doverosx commented on #376
Average display output for everything would be a great idea. Everything
with latest tagged release is good on the back end from what I can see.

On Oct 17, 2017 2:32 PM, "Dillon Newell" <notifications@github.com> wrote:

[2017-10-18 02:59] gennadiv commented on #437
будет ли исправление для добычи neoscrypt -  will there be a fix for mining neoscrypt

[2017-10-18 05:47] redboxstudio commented on #442
I have not manually started the .bat manually, and I did not know the speed that the processor produces and thought if I specify it will limit it or indicate it can be any and it will still work on the one that can?

[2017-10-18 09:12] kfadrat commented on #399
@DillonN no miners before. Wierd thing is, some miners accept maxtemp or similiar settings, but for example ccminer doesn't. Ccminer on it's own doesn't have this problem. Either way i do most of mining on ewbf so it's not a huge issue

[2017-10-18 11:24] Allxander opened #443 "CPU mining on Intel i7 series"
To keep development of NiceHash Miner Legacy streamlined please make sure the following are true before posting an issue:

- [ ] The issue has not already been reported.
- [ ] Relevant log files are included (generally `\logs\log.txt`).
- [ ] The issue is with NHML and not inherent of miner executables. This can be verified by launching the miner manually and looking for the error.
- [ ] The issue

[2017-10-18 11:33] Allxander commented on #443
Hello.
I am have intel i7 6700k and start minig in nicehash legacy last ver 1814- pre3...
and i have problem: CPU load only 50%, i chek it on TDP in HWiNFO64 only 40Wt...
Tested games like follout 4, warframe, and others - tpd more than 52+Wt ...
Real TDP of this CPU is near 95Wt...
Yes i read instructions do not trust widnows managers - but real CPU not full loads.
I am think it big bug ore somet

[2017-10-18 11:56] gpcola commented on #443
I'm pretty sure this is normal if using xmrig. I see the same behaviour on my 4770k.

https://github.com/xmrig/xmrig/issues/73

[2017-10-18 13:05] redboxstudio commented on #442
manual insertion of speed does not give anything, when you click the stratum starts very quickly open and close the script window

[2017-10-18 13:31] Allxander commented on #443
I don not can belive that my CPU faster in all programs but cant do in some xmrig...
Cache - smart cache be used by all cores -intel wiki...
https://ark.intel.com/ru/products/88195/Intel-Core-i7-6700K-Processor-8M-Cache-up-to-4_20-GHz (Ru link)
Why my CPU dont load all TDP ? why some %? cache is only some hardware = programs use hardware = it bug...

[2017-10-18 13:37] luongk commented on #443
It's not a bug. The limiting factor is the amount of cache you have - there isn't enough cache to mine on all cores at the same time, so it only uses as many threads as you have available cache.

[2017-10-18 14:02] Allxander commented on #443
NO it BUG.
Ok google: CPU Cache is an area of fast memory located on the processor. Intel® Smart Cache refers to the architecture that allows all cores to dynamically share access to the last level cache.
ALL CORES !
https://ark.intel.com/products/88195/Intel-Core-i7-6700K-Processor-8M-Cache-up-to-4_20-GHz proof !
select cache sector.
Cant belive - my 6700K faster than amd sample product in all ma

[2017-10-18 14:36] luongk commented on #443
@Allxander

From the xmrig repo: "Optimal number of threads depends on the size of the L3 cache of a processor, 1 thread requires 2 MB of cache."

Your CPU has 8MB of cache, therefore it is possible to run 4 threads efficiently (out of a maximum 8 threads that your CPU supports).  The bottleneck in the system is the cache, not the number of cores/threads - this is why your CPU load is only 50%.

I

[2017-10-18 14:53] Allxander commented on #443
Ok if problem is cache why CPU is not full load like mining videocard = way i mean load TDP - used only 50%. Why CPU gives only 50% TDP? why not full? i dont belive that intel do bottleneck in cache. Chek algoritms ! Why games and programs can move this limit?
My results is ~300 H/s not impressive me.
In mining on video cars - no matter what mining method i ma use - TDP all itme is 100%, i am not

[2017-10-18 15:06] luongk commented on #443
You can't compare CPU mining to games or programs - those don't require as much cache.  Each thread needs 2MB of cache to run optimally, you only have 8MB cache, therefore you can only run 4 threads optimally (which probably account for why TDP is 50% - you are running 4 threads out of a possible 8 total).

It isn't a bug, it's a simple factor of there isn't enough space for you to run 8 threads.

[2017-10-18 15:23] Allxander commented on #443
Okey u dont understand me correct.
I am mean that miner use cache -good, cache is part of CPU -yes understand-  good.
Why cache not give all tdp ? Mechanichly cache only parts of CPU yes? If cores/threads  not so matter load cache why it not load 100% my system is fast as non load? i can play some games from 2010 and some older whith no lags and mining process give me 270 H/S and still load 50% of

[2017-10-18 15:26] niknewb commented on #443
@Allxander Just stop spamming already. Your tons of text are almost impossible to read.
P.S @luongk have already explained to you why your CPU cores aren't fully utilized. I'm having absolutely the same situation: my overclocked i7 3770k on 4.7Ghz uses only 50W in mining simply because it can't load every core. The same goes for almost every CPU on the market
EDIT: Run precise benchmark and enable

[2017-10-18 15:30] luongk commented on #443
Your CPU cores do the work (one thread per core), but you can only run four threads because you don't have enough cache.

The cache doesn't do the work, your CPU cores do - so even though your cache is 100% your total TDP is 50% because your other four cores aren't being used. You can force them to run, but there isn't enough cache so it is pointless.

It would be like trying to load a 8x2GB video

[2017-10-18 15:40] riccardoruspoli commented on #443
Same here, I'm mining on some i7-6700K (on school computers), a while ago I used xmr-stak-cpu, now I'm using xmrig, but the % of load is still about 50%.

As explained by @luongk, it isn't a bug for the reasons he wrote, it's normal having that % of load. Plus, I'm getting 300 H/s on CryptoNight for each CPU, which I think is a good result.

[2017-10-18 15:43] mcsjohn commented on #443
It is not a bug, in fact it also the optimal setting for xmr-stak-cpu (see https://github.com/nicehash/NiceHashMiner/wiki/Notes-and-hints-on-CPU-mining)
For the fun of it you can try forcing the number of threads for xmrig by setting --threads=8 (or whatever value you like). You will see the same or most likely less H/s.

[2017-10-18 15:48] Allxander commented on #443
Rikifire how many H/S do u have on 6700k?
@luongk I am mean than cache is only part of CPU (it have many parts i think) and cache must give same load (TDP) if cores non load... can u test it? Yes give special job for cache - not for CPU cores/theads !
What i mean in -sry English not my realy lang...
Thanks for links for manuals - but i already read it and think this method have problems/bugs.
For

[2017-10-18 15:57] riccardoruspoli commented on #443
As in my previous comment, each i7-6700k produces an average of **300 H/s**.

[2017-10-18 19:02] ChriscomIT commented on #376
Thx for the xmrig miner integration. Works nicely for me.

[2017-10-18 19:37] RhythmNinja commented on #1304
I am having the same issue. I have tried all server locations to no avail. Quite frustrating.

[2017-10-18 22:06] bruvv opened #444 "CD Tuner branch?"
just a quick question since I cant find it, what is the CD tuner branch?

[2017-10-18 23:58] bruvv commented on #443
Best thread on here. Not understanding the difference between CPU chache and RAM. @allxander do you really think they're talking about 8mb RAM cache ? Lol

[2017-10-19 02:53] DillonN commented on #439
@Antho132 could you post your logs\log.txt file please?

[2017-10-19 02:54] DillonN commented on #438
Thanks for posting, I will look into it

[2017-10-19 02:55] DillonN commented on #442
@redboxstudio could you post your logs\log.txt file please?

[2017-10-19 03:04] DillonN commented on #443
Yes as a couple have said it is not a bug, but because running the CryptoNight algorithm requires 2MB of CPU L3 cache per thread, optimal thread count will be lower than total thread count for many CPUs

E.g. on a 5820k there are 6 cores and 12 threads, but 15MB of L3 cache. So optimal thread count is around 7-8. You *can* manually increase the thread count by adding e.g. `--threads=8` to the Xmri

[2017-10-19 03:06] DillonN commented on #444
It contains an in-development feature planned to be released for 1.8.2.0, auto-tuning of the ClaymoreDual `-dcri` parameter

[2017-10-19 05:10] Allxander commented on #443
@DillonN oh if cache do not requeire power. U mean than cahe working non do power (TDP)? if i am use cache do no use cpu threads - what result i am got? can u test this moment?
I am not programmer ore CPU specialist but think it real moment of truth. I am cant create job for cache - do not have mind for it, but think problem is not size of cache - problem in optimization.
In manual for newbies on

[2017-10-19 05:23] luongk commented on #443
@Allxander We're trying to explain it in a way you can understand.

The cache is like memory for your CPU.  The cache doesn't do the work, your CPU does the work.  The cache is just the space in which your CPU does the calculations.

There is not enough room in the cache to do more than 4 calculations, which means that four of the cores of your CPU aren't used for mining (or even if they were, it

[2017-10-19 05:58] redboxstudio commented on #442
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1397251/log.txt)
 logs

[2017-10-19 08:33] clarity99 commented on #1041
Same problem and I don't think the explanation on nicehash applies to this case - when it starts happening, it keeps going on all the time, and no mining happens at all. if i change to a different location it works ok for some hours, then again socket closed all the time. Then switch pool and again ok for some time. It can happen from different machines at the same time, with very different CPU co

[2017-10-19 12:11] mesouug commented on #384
I have exactly same problem. Once a day in middle system crashes with 133 error. System is fresh. Drivers are latest. GPUs: MSI 1050Ti x2 and ASUS 1060.
Any way to debug?

UPD:
For those who is interested. Problem was hardware. Faulty power supply. When replaced motherboard it started to reboot every 10 seconds thus means power supply safety switch automatically shutdown power. Because motherboard

[2017-10-19 12:45] gennadiv commented on #437
добыча будет ли востановлена

[2017-10-19 15:52] Allxander commented on #443
Okey i can understand this idea -but u can test what i am say?
If my cache full busy why i can use my pc with games and others applications with using CPU. Why it can possble? If cache used 100% i must got freezs and slow mode.
I can undersatd that this application use 2m for 1 core but cant uderstand why i have so many free perfomance left in free (in cache too). Can be mistakes on algoritms ore

[2017-10-19 15:55] bruvv commented on #443
It tested it same PC same CPU and outcome. It's normal. Now stop by posting

[2017-10-19 17:14] Allxander commented on #443
nivong move out from my topic moron.
120+ years ago all people know what SUN spin around Earth....
Who know thuth will be fired.

[2017-10-19 17:16] bruvv commented on #443
Joe r ferry welkum!!!11

[2017-10-19 19:05] riccardoruspoli commented on #443
@Allxander, tomorrow I'll try 100% TDP on the i7-6700K, and then I'll report the results, ok?

[2017-10-19 19:11] Allxander commented on #443
Rikifire plies test algoritms of usigt cache and yes try ) i cant use all 100% tdp using xmrig (ore alternative algoritm).
And say what setting do u use for test and that result u got.
Thx man !

[2017-10-19 20:43] christophedemey commented on #601
I also have this issue, latest version, on 2 PC's.

[2017-10-19 21:00] GuillaumeASSIER opened #445 "Add dstm’s ZCash Nvidia Miner"
Hi devs,
Can you add dstm's ZCash Nvidia Miner to the 3rd party miner please.
This is the fastest miner for equihash.
https://bitcointalk.org/index.php?topic=2021765.0

[2017-10-19 23:15] Mystere opened #446 "A lot of reports of 1.8.1.3 not working correctly on NiceHash reddit"
This is not really a report, more like a heads up to @DillonN

There have been a lot of reports lately of problems with 1.8.1.3, ranging from USD/day not displaying (while mBTC does) to 0Mh/s being displayed, to devices not found...  Please check out the reddit

[2017-10-19 23:58] luongk commented on #443
@Allxander Just to clarify, what you are asking is impossible - there is no bug, you cannot mine using just the CPU or just the cache. It isn't a mistake in the coding, it is not something that can be tested or changed.  Here's another analogy modified from reddit:

Let's say you and your eight friends (CPU cores) want to write a paper on a specific topic, but the internet is down for some reason

[2017-10-20 01:56] Rama-Nujan opened #447 "Please add ccminer-alexis for kaccak"
Thank you.

[2017-10-20 04:34] gennadiv commented on #437
[sgminer_AMD-MINER_ID(10)-DEVICE_IDs(0)] [pid(56204)|bin(cmd)] GetAPIData reason: Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение 127.0.0.1:4010
[2017-10-19 16:21:52] [INFO] [sgminer_AMD-MINER_ID(10)-DEVICE_IDs(0)] Benchmark Exception: Ссылка на объект не указывает на экземпляр объекта.
[2017-10-19 16:21:52] [INFO] [sgminer_GetFinalBenchmarkString] Неудача — попроб

[2017-10-20 07:21] sertony commented on #1305
I confirm the issue. I've just noticed the same thing happened.

[2017-10-20 08:55] riccardoruspoli commented on #443
I’ve tried to run xmrig with <code>--threads=8</code>, and I’ve reached 100% TDP. With 4 threads the hashrate is ~300H/s, with 8 threads is **~150H/s**.

[2017-10-20 09:29] szukiszuki opened #448 "i7-2670qm not detected"
Intel i7-2670qm is not detectable despite having AES-NI. Operating system: w7 64 fully updated.

[2017-10-20 11:14] ghost commented on #402
Apparently the problem disappeared by itself. I'll close the ticket. In case it reappears, I'll reopen it. Thank you very much!

[2017-10-20 11:14] #402 closed, assigned to nobody

[2017-10-20 13:05] Allxander commented on #443
luongk ok nice example ^) But cache is build resource - it can be used many times and create only step by step for other parts of PC. If cache full load > all other resurses be in slow mode..
Performance in PC: HHD/SSD> DDR> CPU cache> videocard= CPU. If u got all DDR load > freez, all CPU load > freez.... why i am dont got freez then load cache ?
U can test cache use DDR test and some cpu like si

[2017-10-20 13:08] bruvv commented on #443
I'm dead shoot me please I've never read so many stupid things

[2017-10-20 13:17] Rama-Nujan commented on #445
I second this.

[2017-10-20 13:34] luongk commented on #443
I'm out, I can't explain this any simpler.

@allxander If you don't agree with us despite all the information provided to you, maybe take it up with the developers of the specific CPU miners, it is not a NHML issue.

[2017-10-20 13:38] Allxander commented on #443
Can u give information to developers miners of NHML? yes u can send it to my mail of registration.
Thx for patience mr Luongk :)
and yes u can close/delete this topic after give me adress.

[2017-10-20 13:41] luongk commented on #443
https://github.com/xmrig/xmrig
https://github.com/fireice-uk/xmr-stak-cpu

Fair warning - you will get exactly the same response

[2017-10-20 17:39] niknewb commented on #430
Okay, if this is impossible then I'm closing the ticket.

[2017-10-20 17:40] #430 closed, assigned to nobody

[2017-10-20 18:20] RodAus opened #449 "ETH+LBR 25Mhs / ETH+SIA 30Mhs"
Hi when I double mining ETH+LBR, is limited to mining 25MHs while ETH+SIA or PAS reached 30MHs this is a limitation of NS pool? I have the same results in others miners.

[2017-10-20 18:38] RodAus opened #450 "Exactly same rig but very different results"
Hi, usually they are quite equivalent but especially today the difference is very large. I have exactly 2 rigs mining the same coin but the ratios even get close, what its could be? (afterburner settings are the same,  GPU speeds are compatible with usual speed) . After 1 hour one rig is mining DaggerPascal, and other rig Equihash which is much more profitable according to Whattomine. I restarted

[2017-10-20 18:45] MaKCuMyC opened #451 "xmr-stak-cpu: use optimal settings"
Hello!
I am using NHML 1.8.1.3 for now. And I am confused why NHML doesn't use optimal settings for xmr-stak-cpu.
On my Core i7-3770K at 4.3GHz with Nicehash settings I got about 320 H/s, but with manual config with `"no_prefetch" : true`
I got about 355 H/s.
Also the problem is that NHML write own new config every time at launch, so you can't edit it.

[2017-10-20 18:50] christophedemey commented on #682
I also experience this problem, it works fine for a while then i get same output, multiple PC's do not connect anymore, next day i can again connect for a while then again same error.

[2017-10-20 20:13] DillonN commented on #445
Thanks for posting, I'll look into it

[2017-10-20 20:14] DillonN commented on #446
Thanks for the heads up!

[2017-10-20 20:14] #446 closed, assigned to nobody

[2017-10-20 20:16] DillonN commented on #447
Thanks I'll look into this

[2017-10-20 20:16] DillonN commented on #448
Could you please upload your logs\log.txt file?

[2017-10-20 20:18] DillonN commented on #449
You can likely change this by lowering the dcri value for LBC dual miner. There are details at the bottom of [this page](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Tweaking-ClaymoreDual-Intensity)

This will lower the intensity with which ClaymoreDual mines the secondary coin so that you get higher Ethereum speeds

[2017-10-20 20:26] DillonN commented on #450
In your first screenshot, it looks as though the two clients have different profitabilities set for Equihash (the ~2-3% in hashrate is not enough to cause that disparity for profit rate). This can happen if one has been opened longer than the other. NHML has a feature to normalize profit spikes to prevent falling victim to some buyer manipulation (more info [here](https://github.com/nicehash/NiceH

[2017-10-20 20:31] RodAus commented on #449
There was no effect on the limit of 25MHs, several levels were tested. I started use decri 6 months ago

[2017-10-20 20:33] DillonN commented on #442
It does look as though the miner is crashing as soon as it is being started. Can you verify that xmr-stak-cpu.exe is located in the folder \bin\xmr-stak-cpu? There may be log files in there from during the benchmark as well, which could elucidate why it is closing (like most miners, if there is some error on launch it will not stay open and show you, so you have to check the logs). If you are not

[2017-10-20 20:50] RodAus commented on #450
Interesting, Yes, after about 45 minutes they returned to normal. But hardly the application stays alive and with health for more than 24 hours, I have a routine to restart it before bed and when I wake up.
Most of the problems seem to occur when there is an exchange of miners. Is there any project to standardize the miners? Thank you

[2017-10-20 20:51] bonifacio123 commented on #451
One work-around I use is to modify the config file manually and then set the file as read-only which prevents NHML from overwriting.

[2017-10-20 21:45] MaKCuMyC commented on #451
Of course I tried that, but you see, in this way NHML doesn't show the speed of miner.

[2017-10-20 22:54] xtrojan1 opened #452 "reject or not support more than 60 cores"
regards, i get problem, i use x3850 x5 system, i use 4x cpu xeon e7-4850, on nicehash 1.8.1.4 Pre-release3 reject or not support more than 60 cores, please help, and please solve it

thank you very much

[2017-10-20 23:20] Rama-Nujan opened #453 "Question about excavator"
Hello, I have a question about excavator in this version.  Is there a plan to run the latest versions in this and also, does the profitability calculation account for the no fees?

Am not sure if this is right place pleaseclose or move

[2017-10-21 06:33] mcsjohn commented on #453
As part of NHML we get v1.1.4, while it looks that there are much newer versions. Latest (not necessarily the best) seems to be v1.3.3 (https://github.com/nicehash/excavator/releases). @DillonN Maybe you can integrate one of the newer versions in the future. Thanks

[2017-10-21 08:12] nn111 opened #454 "Extra Launch parameters"
Nicehash Miner Legacy 1.8.1.3
Why are my Extra Launch parameters not working ?
Extra parameters :
"-fanmin 40 -tt 66 -tstop 72 -cclock 1060"
<img width="554" alt="screen shot 2017-10-20 at 13 52 20" src="https://user-images.githubusercontent.com/32977277/31849778-b6440812-b650-11e7-8b48-62e1f5941e59.png">

[2017-10-21 09:18] BtheDestroyer commented on #1227
I mean, if you're trying to mine with your GPU (which you really should be, you've got a 1070) then out-dated drivers would prevent NHM from seeing the GPU. Honestly, I don't see the value in CPU mining as it's far less efficient while still using max power consumption by the chip and cooling system.

[2017-10-21 09:41] gennadiv opened #455 "neoscrypt"
неужели нельзя исправить для новых драйверов чтоб была добыча с переключением и вообще почему бы не добавить все алгоритмы

[2017-10-21 10:10] szukiszuki commented on #448
`[2017-10-21 12:05:33] [INFO] [NICEHASH] Starting up NiceHashMiner v1.8.1.3
[2017-10-21 12:05:34] [INFO] [NICEHASH] Selected language: English
[2017-10-21 12:05:34] [INFO] [NICEHASH] WMI service seems to be running, ManagementObjectSearcher returned success.
[2017-10-21 12:05:34] [INFO] [SystemSpecs] FreePhysicalMemory = 2470972
[2017-10-21 12:05:34] [INFO] [SystemSpecs] FreeSpaceInPagingFiles = 4

[2017-10-21 11:31] jace7t opened #456 "1.8.1.4-Pre2 Slightly inflated profitability and balance values"
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1404044/log.txt)

I got on my computer at 14:21 (GMT +3) and noticed the issue

![unknown](https://user-images.githubusercontent.com/25679006/31851321-205b7c60-b66c-11e7-9e45-6ea363c9cf1a.png)

When the miner switched algorithms, this happened:
![screenshot_3](https://user-images.githubusercontent.com/25679006/31851323-264c9c76-b66c-1

[2017-10-21 11:36] NoSubstitute commented on #1227
I understand. So I should really stop CPU-mining?

[2017-10-21 11:38] malakakgp opened #457 "can't mine ethereum and dual etehereum mining"
Hello I have this problem
Socket was closed remotely (by pool)
Socket was closed remotely (by pool)
ETH: Job timeout, disconnect, retry in 20 sec...
 LBC: Job timeout, disconnect, retry in 20 sec...

why does this error occur
I tried every  service location my firewall close and other algos work fine. claymore eth and dual eth not work

[2017-10-21 12:03] #444 closed, assigned to nobody

[2017-10-21 13:13] panki989 commented on #808
Hi,
I'm only seeing cpu algo but not the gpu algo in version v1.8.1.4.
Please look into this .
![image](https://user-images.githubusercontent.com/20380358/31852105-a944144c-b68f-11e7-9b49-fe43916eae1f.png)

[2017-10-21 13:34] jace7t commented on #456
Couple of hours later:
![screenshot_4](https://user-images.githubusercontent.com/25679006/31852264-8960b3b8-b67d-11e7-8344-db35d075c098.png)

Updated log file:
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1404147/log.txt)

[2017-10-21 13:36] luongk commented on #456
It's not a NHML bug, there was something hinky going on with the servers - the website was reporting similar hugely inflated  figures for me + my friends.

[2017-10-21 14:41] microtechies commented on #808
If you click on the gpu on the screen you will see the gpu algo all there

[2017-10-21 14:47] Lopo commented on #1051
CPU mining partialy works, but still a lot of work to be do

[2017-10-21 15:06] drkskwlkr commented on #456
Definitely not an issue with NHML, it is a problem with the service. Same weird numbers are visible on the NH website and via 3rd party monitor apps that use the API. Until they fix it, you can try & get used to how the future will look like :)

[2017-10-21 15:44] dfair98 commented on #1309
having the same issue
![image](https://user-images.githubusercontent.com/4811749/31853355-dd6d348c-b63b-11e7-8c66-865ac0d85ffa.png)

[2017-10-21 15:48] bradtrebilcock commented on #1309
Yeah, seems they are updating the API. Hopefully another update will correct it.

[2017-10-21 15:49] bradtrebilcock commented on #1309
Weird I have another machine, same version and algo without this issue.

[2017-10-21 15:51] dfair98 commented on #1309
now if i stop the miner, tada back to normal
![image](https://user-images.githubusercontent.com/4811749/31853442-105ed386-b63d-11e7-9b2c-7cf8e9ba843a.png)

[2017-10-21 15:52] bradtrebilcock commented on #1309
I shutdown NiceHash app and restarted and its fixed here

[2017-10-21 15:52] dfair98 commented on #1309
@bradtrebilcock  i didn't even have to restart the app.

[2017-10-21 15:56] bradtrebilcock commented on #1309
@dfair98 I tried that first, but only after the app restart did it work for me. I thought I was going to get to retire... lol  all good now.

[2017-10-21 15:56] Nikko85 opened #458 "No pool specified for Decred! Ethereum-only mining mode is enabled"
Hi!
Our 7 AMD RX570 GPU mining rig had no problem dual mining DaggerHashimoto dand DaggerDecred for a long while, in fact it was almost the only thing it mined since we built it.

However, it's been 2 weeks that it's mining using only DaggerHashimoto and I don't know why. Both algorithms are checked in nicehash 1.8.1.3 settings. I can see that the window that pops up when I start nicehash is meant

[2017-10-21 15:57] jpmckearin commented on #1309
App restart fixed it for me as well.

[2017-10-21 17:04] sleeper252 commented on #1309
It's doing this on the nicehash website for me now.

[2017-10-21 17:06] sleeper252 commented on #1309
It's doing this on the nicehas website for me right now...
![image](https://user-images.githubusercontent.com/32986068/31854023-b482d9da-b660-11e7-990d-31580825eca3.png)

[2017-10-21 17:17] bradtrebilcock commented on #1309
my mobile app as well, this has to be coming from the source/API. Are changes being made constantly throughout the day on this platform or are they scheduled?

[2017-10-21 17:18] bradtrebilcock commented on #1309
Also both miners Legacy and NiceHash 2 now have this problem

[2017-10-21 17:21] bradtrebilcock commented on #1309
Apps fixed again by restarting again. The website appears to be corrected already too. I'm sure someone is looking into it though.

[2017-10-21 19:54] juggernautsei commented on #381
UPDATE:
The system has been running stable with no reboots or blue screens since running only v7 risers.
No more software issues. It was never a software issue.

[2017-10-21 20:23] Nikko85 commented on #458
For anyone having this issue: I just solved it by simply un-checking DaggerHashimoto (Claymore).

[2017-10-21 20:24] #458 closed, assigned to nobody

[2017-10-21 21:46] Poi159 opened #459 "Cannot benchmark ATI FirePro V5900."
Hello,

I cant seem to pass the benchmark for my ATI FirePro V5900. I have two of them installed. I tried running one. Still wont work.
I attached a screenshot. I am using NiceHash Miner Legacy V1.8.1.3 stable.
Logs attached as well.

![capture](https://user-images.githubusercontent.com/24907195/31856101-5ce35aa2-b66e-11e7-96bb-1ffb8e6e0264.JPG)
[log.txt](https://github.com/nicehash/NiceHashMinerL

[2017-10-21 23:20] rev3la7ion commented on #1304
This is still an ongoing issue.

[2017-10-21 23:20] RodAus commented on #450
Is happening again, both are mining at 24 hours.  Could you have a way to change mining manually, so I can check on Whattomine and change it.
UTC Time 11:18 pm

![capture2](https://user-images.githubusercontent.com/31544552/31856658-4a7a58f8-b712-11e7-9a14-b0b8b41e8a9d.JPG)
[nvidia1.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1404548/nvidia1.txt)
[nvidia2.txt](https://github.com/nic

[2017-10-22 01:17] Madguy4894 commented on #858
ok so i added it to windows firewall and allowed it thought Seems to be ok now worth a try [http://prntscr.com/h0dhwn](url)

[2017-10-22 03:35] jpmckearin commented on #1260
It doesn't look like this has become a major concern by the NiceHash community, but other applications are getting many issue reports concerning this. It looks like someone over at [Brave Browser](https://github.com/brave/browser-laptop) has found a temporary fix until the upstream issue is resolved.

https://github.com/brave/browser-laptop/pull/10243

[2017-10-22 06:30] Paapo commented on #450
Just go to the settings Tab and choose algorithm. Then disable Neoscrypt for any CPU and GPU and just leave the most profitable algorithm checked. There you can choose manually wich algorithm you wanna mine.

Regards,
Marcus

[2017-10-22 10:31] RodAus commented on #450
@Paapo I've been doing this, but sometimes the disabled algorithm is actually the most profitable so I have to re-enable it. It's a huge job since it's 16 gpu and around 16 algorithm each so ~256 tick boxes to enable and disable . It would be interesting an option to disable/enable algorithms in a global way. Thanks for the advice.

[2017-10-22 14:21] qbac commented on #1041
I have the same problem:

[2017-10-22 16:19:02] : Connecting to pool cryptonight.eu.nicehash.com:3355 ...
[2017-10-22 16:19:02] : Connected. Logging in...
[2017-10-22 16:19:02] : SOCKET ERROR - RECEIVE error: socket closed
[2017-10-22 16:19:02] : Pool connection lost. Waiting 10 s before retry (attempt
 280).
[2017-10-22 16:19:12] : Connecting to pool cryptonight.eu.nicehash.com:3355 ...
[2017-10-

[2017-10-22 21:01] Thunder7ga commented on #129
I am experiencing this same thing.  No matter the setting I put on the --intensity (with the space) <#>, it just uses 100% GPU.

[2017-10-22 21:45] presidio-byoung opened #460 "DELETE ME"

[2017-10-22 21:45] DillonN commented on #453
There is currently not a plan to add in the newer excavator versions, in an effort to keep NHMv2 free from antivirus detection

Yes when you benchmark a miner like EWBF the fees are taken into consideration

[2017-10-22 21:45] #453 closed, assigned to nobody

[2017-10-22 21:46] DillonN commented on #454
Make sure you have "Disable AMD Temperature Control" unchecked in the General tab

[2017-10-22 21:47] bxyoung opened #461 "Unhandled Exception Occured: Out of memory ."
NHML-1.8.1.3
Windows 10
NVIDIA GTX 1080
i7-4790 CPU @ 4.00Ghz
16GB RAM

[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1405375/log.txt)

Form_Loading
---------------------------------
Unhandled exception: Out of memory .

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

[exception_text.txt](https://github.com/nicehash/Ni

[2017-10-22 21:47] DillonN commented on #456
Yes it was a problem with the API server exchange rate, when in doubt look at the mBTC/Day metric as this is wholly calculated in the client

[2017-10-22 21:47] #456 closed, assigned to nobody

[2017-10-22 21:48] #460 closed, assigned to nobody

[2017-10-22 21:49] DillonN commented on #457
Are you able to mine eth with a non-Claymore miner? And are you using any VPN or using a company/university network?

[2017-10-22 21:53] DillonN commented on #459
Being an older card, your V5900 will not be able to use every algorithm. For consumer cards there is an effort made to exclude unsupported algorithms from the list, but unfortunately most workstation cards are not tested on which they can support. You will simply have to disable the benchmarks that fail (as that would indicate it is one optimized for newer AMD cards)

[2017-10-22 21:53] #459 closed, assigned to nobody

[2017-10-22 22:05] malakakgp commented on #457
recently I mine with nicehash miner I don't use VPN , company/university network I use a dongle

[2017-10-22 22:10] DillonN commented on #461
@bxyoung there seems to be a problem with your WMI service, could you try restarting it? You can do this by opening Task Manager, going to Services tab, finding the service named Winmgmt, right click then hit Restart

[2017-10-22 22:21] DillonN commented on #448
It seems it is returning the CPU is not AES capable, after some digging it seems the mobile Sandy Bridge processors (like yours) must have AES enabled in the BIOS.

From the [Intel product page](https://ark.intel.com/products/53469/Intel-Core-i7-2670QM-Processor-6M-Cache-up-to-3_10-GHz) for your CPU:

Is there an option to enable AES in your laptop's BIOS? Also, you could use a tool such as CPUID

[2017-10-22 22:34] DillonN commented on #450
@RodAus the logs you sent cover ~12:20 - 12:48 your local time, but there are periods where one will mine Equihash while the other NeoScrypt. NHML only receives updated paying ratios every ~2.5min, and will only check for new profitabilities based on the switch time set in the settings. In these cases it looks as though one is spending a couple minutes remaining on NeoScrypt simply because it has

[2017-10-22 22:35] DillonN commented on #451
Thanks for posting @MaKCuMyC, I will look into making no_prefetch an option configurable through the extra launch parameters

[2017-10-22 22:39] DillonN commented on #452
NHML currently does not support more than 64 threads, I can look into adding an advanced manual override that will let you try to use it if you like

[2017-10-22 22:52] MaKCuMyC commented on #451
This will be good. Will wait for that.

23 Окт 2017 г. 1:35 пользователь "Dillon Newell" <notifications@github.com>
написал:

[2017-10-22 22:53] DillonN commented on #432
This is not currently planned but it is an interesting idea

For now you can use the [Worker Monitor](https://www.nicehash.com/help/workers-monitoring) service from NiceHash which can send you an email if some worker is offline for a set period of time (note you must be using a NiceHash account address to set it up)

[2017-10-23 00:02] bxyoung commented on #461
No luck so far. I've restarted the service and all of it's dependencies and also rebooted the computer.

[2017-10-23 00:03] bxyoung commented on #461
I'm sure they are designed completely differently but NiceHash Miner 2 runs on my machine no problem.

[2017-10-23 04:40] RodAus commented on #450
@DillonN Thank you for clarifying.
I always take care of the downtime process and if the spikes are really profitable.
If the exchange for BCT is fast enough or if there is some kind of record at the moment of the mining. (I do not know how the exchange process is done) Yes it is profitable, so I prefer to keep them for now.

These issues seem to be quite punctual when NS is making adjustments.
I'

[2017-10-23 10:12] xtrojan1 commented on #452
Mr. DillonN, how to do it !, can you give the stages, please help, and please solve it

thank you very much

[2017-10-23 10:34] protossdisaster opened #464 "Nice hash wont respond when mining from sleep"
To keep development of NiceHash Miner Legacy streamlined please make sure the following are true before posting an issue:

- [ ] The issue has not already been reported.
- [ ] Relevant log files are included (generally `\logs\log.txt`).
- [ ] The issue is with NHML and not inherent of miner executables. This can be verified by launching the miner manually and looking for the error.
- [ ] The issue

[2017-10-23 13:26] Rama-Nujan opened #465 "Mining software additions"
Me again,

I noticed you have ccminer-nanashi at version 1.7.6. The 2.2mod3 version provides cuda 9 assembly and very good Lyra2REv2 performance.

Also, ccminer 2.2.2 is out.

Also, ccminer krnlx fork for SkunkHash may be faster than ccminer 2.2 and can also do xevan.

[2017-10-23 13:28] valcalepi commented on #416
Yes DillonN that is correct. How does it calculate and what makes something an "active" item?
I have one antminer and 24 GPUs in 2 other rigs in total so shouldn't it be 25 active workers?

[2017-10-23 13:29] valcalepi commented on #416
I only see 1 rig today under NHML and usually there are 3 but all machines are mining.

[2017-10-23 13:31] valcalepi commented on #416
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1407255/log.txt)

[2017-10-23 14:37] MSLord opened #466 ""не удается получить данные прибыльности...""
Приветствую!
у меня 2 компа с W10, карточки 1050ti и 1080ti
сегодня после перезагрузке стала выскакивать ошибка "не удается получить данные прибыльности..."
как решить проблему?

[2017-10-23 14:51] gennadiv commented on #455
КАКИЕ ДРАЙВЕРА ВЫ ИСПОЛЬЗУЕТЕ ЧТОБЫ РАБОТАЛ

[2017-10-23 23:05] szukiszuki commented on #448
The motherboard i was using was from a laptop made by Asus - x43sa/k43sa. No bios option which enables aes-ni, as well as no update from the manufacturer. DillonN, thanks for your help - you found the reason why its not working. Problem solved using another motherboard.

[2017-10-23 23:05] #448 closed, assigned to nobody

[2017-10-23 23:17] Micster001 opened #467 "Keccak Mining Issue - Binding Thread"
Hi Guys,

As of 48 hours ago I have started to have a Keccak mining issue for some or other reason

![keccak mining issue](https://user-images.githubusercontent.com/33043324/31917671-4bb0f63a-b88b-11e7-91ad-824e150a2686.jpg)
My system is a Windows 10 64bit and I'm running GXT 1070 GPU's using NiceHashMiner-1.8.1.4-Pre3

Initial after install It would retry for 6-10 attempts and then start mining,

[2017-10-24 00:14] malventano opened #468 "1.8.1.4-Pre3 release notes - "enable huge pages"?"
"For best performance enable huge pages"

'enable huge pages' is a link that points to the wiki, but nothing there about huge pages?

[2017-10-24 04:36] nn111 commented on #454
@DillonN  Nope DillonN than isn't it ...

[2017-10-24 06:04] riccardoruspoli commented on #468
This is the correct link

https://github.com/nicehash/NiceHashMinerLegacy/wiki/CPU-Mining-Optimization

[2017-10-24 06:40] riccardoruspoli opened #469 "Add support for Cryptonight-lite"
Cryptonight-lite algo is already available in xmrig, but it can't be used.

[2017-10-24 09:21] ghost commented on #401
This issue started once again with old 1.8.0.2 too . For one week it was working fine.
bobsharpie what about you ?... is it working fine ?

[2017-10-24 11:33] vladymy commented on #466
+1

[2017-10-24 12:04] Elias1286 commented on #426
have same proble, the .exe simple don't start, i clic and nothing, already tag as exception on firewal, download the arquive 3 times from here and nothing.

[2017-10-24 12:44] gennadiv opened #470 "NEOSCRYPT"
ждём исправления для neoscrypt когда будет возможность её добычи и переключения для последних карт или новых драйверов (блокчейн)

[2017-10-24 19:02] BtheDestroyer commented on #1227
If you're making a reasonable profit I see no reason to stop, but in my case it'd make an extra 10-30 cents/day where my GPU would make $5 and they both consumed around the same amount of power (obviously the GPU used more, but it's not exactly the difference of GPU to RAM)

[2017-10-24 21:58] DillonN commented on #450
Glad it's working out

I'll close this issue now

[2017-10-24 21:58] #450 closed, assigned to nobody

[2017-10-24 21:59] DillonN commented on #454
Could you post your logs\log.txt file please?

[2017-10-24 22:03] DillonN commented on #468
Thanks, the link was moved and I have updated the release page now

[2017-10-24 22:03] #468 closed, assigned to nobody

[2017-10-24 22:07] DillonN commented on #469
Support for the algorithm has to be enabled in the NiceHash platform first

[2017-10-24 22:13] adem4ik commented on #470
1) Разработчик англоговорящий, потому он вашей проблемы не поймёт
2) Вы не указали ни версии программы, ни своего железа, ни прочей полезной в этом случае инфы
3) В последнем v1.8.1.4-pre3 на GTX1060 NeoScrypt прекрасно фармится

I think this thread can be closed, as topic starter doesn't care about giving proper information about his problem nor follow any common rules about posting issues.

[2017-10-24 22:17] adem4ik commented on #466
Просто следите за новостями и вопросов будет меньше:
https://twitter.com/NiceHashMining/status/922724172232560640
https://vk.com/nicehashmining?w=wall-88552836_106622

I think this thread can be closed.

[2017-10-24 22:20] DillonN commented on #470
It would seem to be in regards to Neoscrypt recently being activated on sgminer in 1.8.1.4-Pre3

Neoscrypt is not compatible with all cards but was enabled by request in issue #409

I will make it disabled by default in next build

[2017-10-24 22:23] DillonN commented on #465
Thanks for posting, I will look into updating

[2017-10-25 02:21] gennadiv commented on #470
what drivers are you using for the extraction neoscrypt I have 10 wines on 64 wood blockchain not working writes LLVM ERROR:

[2017-10-25 04:11] lowleopard opened #471 "Blue screen occur during benchmark"
I try to benchmark graphic card AMD HD 7700 series on ( DaggerHashimoto, CrytoNight and Equihash algorithms), every times it turns blue screen of death.  The others algorithms passed the benchmark. How to solve this problem? My PC is 64-bit window 7. I am using NHML 1.8.1.2 LangFix.
There are two log files exist, so i will provide both.
[log.1.txt](https://github.com/nicehash/NiceHashMinerLegacy/f

[2017-10-25 18:49] niknewb commented on #465
@DillonN may that be the cause of low  Lyra2REv2 I'm getting with NHML? It is at least 10 mh\s slower than in NHM2

[2017-10-25 20:01] chillware opened #472 "[UI/Ux] Add option to disable Virtual Memory warning"
Hello, can you please add an option to disable and/or not show again the virtual memory warning? Right now, using 1.8.1.4_pre3, with the reboot script enabled after the system reboots, my rig just sits at this prompt  until i can click OK. This is frustrating when a reboot happens in the middle of the night and the rig is down all night.

My rig is running 6x 1080ti's w/ 11gb each on a 32gb SSD, s

[2017-10-25 20:28] bruvv commented on #472
Disable driver warning message.

[2017-10-25 20:30] chillware commented on #472
That worked, thank you! Can this be clarified in the option that is also has this effect? Thanks!

[2017-10-25 21:46] smygarn commented on #439
Same happened on two of my computers. Also Windows 10 Antivirus remove some files inside the app folder?

[2017-10-26 02:54] Virtuon opened #473 "ZM cuda miner for Equihash is 10% faster than EWBF. Please implicit it into nicehash."
Here:
https://bitcointalk.org/index.php?topic=2021765.760

[2017-10-26 06:04] #469 closed, assigned to nobody

[2017-10-26 06:14] b0b5h4rp13 commented on #471
I'll bet it says DPC_Watchdog_Violation on the BSOD. When that happened to me on my nvidia 1070, I had to reinstall the video card drivers.

[2017-10-26 06:15] perryismyname opened #474 "Noob Problems"
Hello I am new to bitcoin mining and am running in to several problems. I have a laptop with a decent CPU and a semi decent nvidea graphics card. I got nicehash 2 to run fine on the laptop but I am now trying to get nicehash miner legacy to run on a separate desktop that I have that has an AMD CPU and GPU and I am running into nothing but problems. First off all please forgive me if I forget somet

[2017-10-26 07:07] gennadiv opened #475 "v1.8.1.4-pre3"
what drivers are you using for the extraction neoscrypt I have 10 wines on 64 wood blockchain not working writes LLVM ERROR:

[2017-10-26 08:33] bruvv commented on #471
having the same issue, reinstalling windows or video card drivers doesn't work. my pci-e risers are toasted...

[2017-10-26 11:57] bonifacio123 commented on #474
CPU's with embedded GPU's are not powerful enough to efficiently process crypto functions. They lack the memory and shader's to get the work done to benefit you. If you manage to get it to work you'll probably spend more money on power then you'd make in profit.

As for Cryptonight - your profit is dependent on how free your CPU is. If you're running other things your hashes/sec will drop resultin

[2017-10-26 15:11] Paapo opened #476 "NHML1.8.1.3 still loosing connection to DEV Fee Server frequently--"
Hi, i thought the issue has been fixed, with the changes made in the MinerOptionPackage_ClaymoreCryptoNight.json. But unfortunately my rigs are still loosing the connection to the DEV Fee Server. Doesn´t matter wich dev fee server is active.
NHML 1.8.1.4 isn´t working in any way on may rigs. There seems to be something wrong, with the AMD GPU setup. Neither benchmark is working for all cards, nor

[2017-10-26 17:19] kryptoteket opened #477 "Dual-mining causing restarts randomly"
Running 3 rigs.

5 x RX570 nitro+ 4GB (141 mhs ETH)
5 x RX580 4GB (144 mhs ETH)
3 x RX580 4GB (84 mhs ETH)

Running on NiceHash miner, but everyday one of the rigs restart. somtimes all rigs, but its very random.
I think this is caused by the dual-mining in NiceHash.

After restart i just login and restart miner and everything works fine until next restart happens.
As i wrote; the restarts are ver

[2017-10-26 20:21] TheSorrow1 commented on #465
I can also add that there is a new version of claymores ETH miner, you may add it to NHML, DillonN!

[2017-10-26 20:45] BaalMarduk opened #478 "CryptoNight miner for RX Vega GPUs"
Hi,  you guys should look at this new Monero XMR miner.

Cast XMR

http://www.gandalph3000.com/cast_xmr/cast-xmr-optimized-cryptonight-miner-for-rx-vega/

On Vega 64 it mine at an hashrate of 2050 per Vega GPU.

[2017-10-26 23:03] foxwarernd opened #479 "Preserve algorithm proficiency parameters"
It happens when you run NiceHash miner, he writes that he can not get the parameters of profitability (as I understand through the API NH). Add the saving of the latest profitability requests so that the next time you start it runs normally (even if api is not available temporarily)

[2017-10-26 23:17] Buckthebarbarian commented on #478
Can you mine with it on the nicehash stratum?

[2017-10-26 23:38] BaalMarduk commented on #478
Yes, I just tried and it worked!

![untitled picture](https://user-images.githubusercontent.com/31890680/32081846-ba19ae54-ba85-11e7-8ae8-780c7b879530.png)

[2017-10-26 23:46] Buckthebarbarian commented on #478
I get an error for the blockchain driver, I suppose it is because I have nvidia and amd gpu's. The hashrate does seem very strong!

[2017-10-26 23:50] DillonN commented on #465
@niknewb NHM2 has better Lyra2REv2 right now but we can't use the new version of Excavator it uses. Hopefully ccminer updates will close the gap

@TheSorrow1 thanks for the heads up!

[2017-10-26 23:53] BaalMarduk commented on #478
If you run both Nvidia and AMD you need to do this

cast_xmr-vega -S cryptonight.usa.nicehash.com:3355 -u walletadresse.rigname -I 9 --opencl 2 -G 0,1,2,3

make sure to reset (toggle on/off or change memory size) your HBBC memory on the blockchain driver to activate the full potential of the cards when you reboot rig

[2017-10-26 23:56] DillonN commented on #471
Aside from hardware problems others have mentioned, would you happen to be using RDP to monitor your rig? Some of the algorithms you mentioned can BSOD when using RDP

Either way this indicates a problem with the miner/hardware and can't be fixed from within NHML

[2017-10-26 23:56] #471 closed, assigned to nobody

[2017-10-26 23:57] DillonN commented on #472
I will look into making it in the option description (I'll mark this as enhancement for now)

[2017-10-26 23:58] DillonN commented on #473
Thanks for the heads up, I'll look into it

[2017-10-27 00:10] DillonN commented on #474
@perryismyname, as @bonifacio123 has said the GPU component of your APU is not very suited for mining. It will show up as compatible since at a basic level it works the same way as AMD graphics cards, but it will likely fail in most algorithms and perform poorly in the ones that work.

As for the CPU mining, again it is not a very powerful CPU and if I had to guess I would say 29 H/s is a little s

[2017-10-27 00:11] DillonN commented on #475
I have it working with AMD 15.12 drivers on a 290X and Fury X, but many cards are not compatible with Neoscrypt. It will be disabled by default in the next update.

[2017-10-27 00:16] DillonN commented on #476
@Paapo your log file does not go back far enough to show the start of mining, could you stop/start mining then upload the log file then so I can make sure the correct parameters are being passed for miner startup?

Aside from that, there is not much that can be done from within NHML. Connection drops can happen from an unstable/over-secured network - you can try troubleshooting from that direction

[2017-10-27 00:18] DillonN commented on #477
@kryptoteket, dual mining can cause a much larger stress in terms of power on the system - can you make sure your cards are getting enough power and that the PSU isn't overloaded/shutting down? You could probably try this by disabling a few cards for a bit and see if you still have the problem

[2017-10-27 00:23] DillonN commented on #478
@Jonbros01 thanks for the heads up on the miner. We are currently looking at some new miners for Vega cryptonight mining, are you able to check if you get a better speed with this or [Xmr-Stak-AMD](https://github.com/fireice-uk/xmr-stak-amd). There is a nicely detailed guide on optimizing it for Vega on reddit [here](https://www.reddit.com/r/MoneroMining/comments/74hjqn/monero_and_vega_the_definit

[2017-10-27 00:23] DillonN commented on #479
This is an interesting idea, I'll look into it

[2017-10-27 00:39] Buckthebarbarian commented on #478
@Jonbros01 I tried it with your setting and I get selected OpenCL platform index 2 dosn't exist. What kind of rig are you running?
@DillonN I think the hashrates are pretty similar except that castXMR has a larger devfee

[2017-10-27 00:54] BaalMarduk commented on #478
I was using XMR Stak before,  Cast XMR got slightly better performance, About 50h/s.

1)  it's easier to setup, you don't need to set 2 thread per GPU with different intensities.
2)  Stak xmr crash radeon drivers when you close the terminal, you need to reboot rig.   Cast XMR dosent have this issue

[2017-10-27 00:56] BaalMarduk commented on #478
@buckthebarbarian try different values for the --opencl (0,1,2,3..) it's not always the same value depending the system...

[2017-10-27 05:03] fabby88 opened #480 "RX580s benched but not mining."
So i have a rig set up and did the bench for it in precise mode.
The CPU mines without a problem.

However , when nicehash loads the claymore and starts dual mining ETH and LBC, it receives a work order, it has no speed and for all 6 GPUs.
When i benched them , they were giving out proper hashrates with the DaggerHashimoto algos

Any of you have the same problem?
THanks!

[2017-10-27 06:12] Kekkonshiki commented on #479
I'm also want it!!! And you can add option in the settings for disable check profitability, it's look better :-)

[2017-10-27 06:32] micax opened #481 "I do belive cloudflare banning Russian IPs"
I do get multiple connection errors like 503 / 403 while trying to connect w my provider (Rostelecom).
win 7 x 64 2 machines getting same errors depending on IPs of my provider.
Nicehash miner can get bitcoin rate, however it could not connect and get exchange ratres to start mining.
Please contact cloudflare, as i do not want to connect through proxies/Tor etc.

I`m able to get profitability data

[2017-10-27 06:35] #474 closed, assigned to nobody

[2017-10-27 06:35] micax commented on #481
w another IP on my provider:

                            GET /v2/nhm HTTP/1.1
                            User-Agent: websocket-sharp/1.0
                            Host: api.nicehash.com
                            Upgrade: websocket
                            Connection: Upgrade
                            Sec-WebSocket-Key: 79CDarZcMqWPWoXS6MASkg==
                            Sec-WebSocket-V

[2017-10-27 06:56] micax commented on #481
My current workaround is: switch to another (mobile) provider, to get profitability data, then turn off this connection and switch it to my cable provider. - it could not be automated easily ( I am able to connect to any pools, but i am stuck w only 1 mining algorithm as I could not get actual profitability data after mining is started (

[2017-10-27 07:43] guni7789 commented on #470
Здравствуйте, последние два дня при использование алгоритма Неоскрипт у меня вылазит ошибка и процесс майнинга останавливается до перезагрузки компьютера

ccminer 2.2 for nVidia GPUs by tpruvot@github ***
Built with VC++ 2013 and nVidia CUDA SDK 8.0 64-bits

Originally based on Christian Buchner and Christian H. project
Include some algos from alexis78, djm34, sp, tsiv and klausT.

BTC donation ad

[2017-10-27 10:28] PalipCs opened #482 "AMD DH8490 Benchmarked but not Mining"
HI

VErsion: 1.8.1.4 Pre-release 3
Win: 10 Home
Cpu: Intel i5-3570 @ 3.40GHz
GPU: ADM Radeo HD8490

Problem:
Benchmarking when well., 2 algos left out
However the GPU is not picking up anything, it is stacked on Keccak and not gaining any value.

Can somebody please advice what to tune to move it a bit.

Thank you for your time.

[log.1.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/14

[2017-10-27 10:48] kryptoteket commented on #477
After disabling dual-mining i thought the problem was solved - but one of my rigs went down this night too.

Its only 5 GPU's on 1300 W EVGA psu, so it should not be a PSU issue. Only thing i can think of is to split the riser power connections on more cables from psu. Currently 2 cards pr. cable..?

BTW: Same error in windows log this time:

0x000000ea (0xffff838848187080, 0x0000000000000000, 0x0

[2017-10-27 19:16] seanego commented on #376
Tried it @ i7-2637M but neither XmrStackCPU nor Xmrig even started to benchmark - pls look at the log below. If I launch xmrig.exe from folder, it works fine (without nicehash settings ofc).
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1423160/log.txt)

[2017-10-27 19:28] VParhom commented on #473
to Virtuon: EWBF 450sol/s in the stock without overclocking on 1070
in OC mode 485-500 sol/s
ZM is not faster than EWBF on 1070

[2017-10-28 03:52] Tsaroz commented on #652
This thread helped me. And I want to add one more step.
The error message also may arise if you are not running the miner with administrative privilege.
Right clicking the miner and clicking Run as Administrator may solve the problem for some (like me).

[2017-10-28 03:54] Crypto-Lord commented on #480
I've had the same problem with both my 580's & vega. I'll try to re-simulate & post logs in the morning.
Temp fix for me was disabling that algo

[2017-10-28 06:52] jjgh commented on #1041
I am seeing this right now, anyone?
Just yesterday I had it working with no issues at all.

[2017-10-28 08:12] riccardoruspoli opened #484 "Xmrig-nvidia"
Xmrig for CPUs has been included, and it's working well, but there is also xmrig-nvidia, that uses Cryptonight and it reaches ~270 H/s versus the ~225 H/s of ccminer on the same GPU with the same frequencies.

[2017-10-28 09:29] hovermind commented on #903
Same problem for GTX 1080 Ti (RX vega 64 working fine). I didn't find any solution on internet :(

[2017-10-28 12:39] kevinhuynh513 commented on #1304
got same issue on 3 other vps
anyone have solution?

[2017-10-28 19:29] RealityRipple opened #485 "Claymore's CryptoNote (CryptoNight) on R9 380 2GB"
Having trouble with the latest version, both CPU and GPU.

CPU problem is that the hash rate keeps resetting to zero in the NHML GUI while I'm mining. It shows the rate for a bit, then goes back to 0 again. AMD FX 8370. No OC. xmr-stak-cpu.

GPU problem is the big one that really matters. The new version of Claymore doesn't seem to like my XFX R9 380 2GB card. When I start, it says:
`OpenCL error

[2017-10-28 19:39] fabby88 commented on #480
Hi Crypto-Lord,

Thanks for the temp fix, it did get it hashing. However , it is mining in efficient coins.
how did you get it to start mining daggerhashimoto ?
thanks !

[2017-10-28 21:42] noremac13 opened #486 "Issues with DaggerHashimoto and minimum miner profitability"
I had a post up in the Nicehash subreddit and was told to make a post here including my log file to figure out what is going wrong.

Basically I have minimum profit set to $1 and it keeps trying to use Daggerhashimoto claiming it is my most profitable but it is only showing 20-30 cents per day.  The Claymore one works well but it never seems to want to use that one since the hashrate I see is alwa

[2017-10-29 02:18] DillonN commented on #480
@fabby88 have you tried mining with CPU disabled? Sometimes CPU can be too intense and the Claymore miner cannot get enough to process work for the GPUs

[2017-10-29 02:29] DillonN commented on #482
@PalipCs is the issue only with Keccak, does it work if you disable it and try mining something else?

From your logs it looks as though this is a hashrate reporting problem though. Over long-term the miner is reporting an average of ~17MH/s (the same as benchmarked speed) but frequently the immediate hashrate drops to 0 (NHML reports the immediate hashrate). In a reporting problem like this it is

[2017-10-29 02:30] DillonN commented on #484
Thanks for posting, I'll look into it

[2017-10-29 02:35] DillonN commented on #485
It seems support on the new Claymore CN miner is spotty. There is fallback on the old version for some newer cards [Claymore didn't list as supported](https://bitcointalk.org/index.php?topic=638915.msg22374404#msg22374404), but he lists Tonga as supported (380 is Tonga).

I can look into adding a manual override to force the old version, but Claymore did say support will be fixed in a new version

[2017-10-29 02:51] DillonN commented on #486
@noremac13, thanks for making a post here.

The thing to understand is that NHML makes most of its decisions based on the benchmarked values for different algorithms/miners. Your benchmarks put Claymore Dagger at around 22MH/s, so all switching/profitability cutoff decisions will go based on that number and *not* what is currently happening.

For this reason, it is important to make sure the bench

[2017-10-29 02:56] DillonN commented on #467
It looks like Keccak is not playing well with this version of ccminer and your GPUs, you can try [changing the  path](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Customizing-ccminer-and-sgminer-paths) to one of the other versions. Also you could try turning off CPU mining/lowering CPU intensity since that could interfere with GPU miners if CPU is at 100%

[2017-10-29 02:58] DillonN commented on #464
@protossdisaster what do you mean by "mining from sleep"? Mining starting while idle?

Also you need to post your log file as mentioned in the template

[2017-10-29 03:16] #376 closed, assigned to nobody

[2017-10-29 03:18] noremac13 commented on #486
Hi thanks for the quick response.  I had miner windows hidden but I turned them back on to maybe get a better idea of what was happening.  I think I may have found the problem.

I didn't realize that Claymore was a dual mining algo and it is trying to do ETH+Decred.  My Decred benchmark is around 13 MH/s which also happens to be the difference between my current speed and the benchmark speed.  Sur

[2017-10-29 03:24] PalipCs commented on #482
Hi Dillon

Thanks for your answer. The issue with the GPU seems to be just with the Keccak.
Not a big issue, just started learning about this and experimenting with my comps oin the office.
At the same time Ive ordered a Baikal Cube 600, will see how that boy will preform.

[2017-10-29 08:07] RealityRipple commented on #485
It's probably got something to do with most 380s being 4GB models... I don't mind using the CLI for now.

The hashrate looks mostly normal... except I don't think it used to say (na) for the times it hasn't reached yet. I'm guessing you have it set up to read the 15m column? That'd do it...

[2017-10-29 11:16] DillonN opened #487 "1.8.2.0 Pre-release"
[1.8.2.0 pre-release](https://github.com/nicehash/NiceHashMinerLegacy/releases/tag/1.8.2.0-Pre) is out! The major change is automatic dcri tuning for ClaymoreDual algorithms

I've been working on this on and off for quite some time so I'm glad to get it out. There are some basic instructions on how to get it going in the release page but I'll be posting a Wiki page soon with more in-depth instruct

[2017-10-29 13:34] brainbudt commented on #473
some people are saying that this isn't true. that the concole is saying that there are more ol/s then it's actually is. this was tested for like 8-10 hours

[2017-10-29 13:43] brainbudt opened #488 "possible to setup different pool"
Hello

Is it posstible to ad a setting in order to change to pool settings? What I mean is I have a proxy in order to get 10% inprovement that is connected to nicehash.
so that if that algo is the best that it will connect to that proxy

[2017-10-29 14:20] sabaruddin commented on #487
Great job dude!.. is it also autotune for top profit during mining ?.. or only when benchmark?

[2017-10-29 14:30] kansv1 commented on #487
Starting with the 1.8.1.4 release and in this version 1.8.2.0-pre in the main window no displays the statistics xmr-stack-cpu. When you start the miner appears for one second and immediately resets to zero. In 1.8.1.4-pre3 everything is fine. Please resolve this problem.

[2017-10-29 15:34] adem4ik commented on #487
@sabaruddin I've not checked by myself yet, but according to the tooltip it does autotune during mining:

[2017-10-29 15:57] adem4ik opened #490 "Benchmark window gets frozen for a while after starting bench on DaggerHashimoto (ethminer)"
Preconditions: NHML 1.8.0.2/1.8.1.3/1.8.1.4/1.8.2.0, Benchmark is enabled for **DaggerHashimoto (ethminer)**, Window 10 x64, Nvidia GTX 1060 6 GB

1) Start NHML
2) Open Benchmark window
3) Start Benchmark

**Result:** Benchmark window gets frozen for about 30 seconds.

Log is attached [log.zip](https://github.com/nicehash/NiceHashMinerLegacy/files/1425257/log.zip)

Here is a bit explanation of my

[2017-10-29 18:20] streaml1ne555 commented on #478
Has XMR-Stak-AMD updated with NiceHash support? Their most recent release on github doesn't appear to work with every result rejected. Cast XMR does work nicely however. I've got it running on my Vega 56-Flashed64 And it's been solid for 4 or 5 days now.

[2017-10-29 18:43] streaml1ne555 commented on #487
Same issue here. xmrig works fine however. Also for xmrig you may want to publicize use of the --cpu-affinity option. It makes a big difference in performance.

[2017-10-29 19:12] kenshirothefist commented on #488
No, NiceHash Miner will always work only with NiceHash service/pools.

[2017-10-29 19:12] #488 closed, assigned to nobody

[2017-10-29 19:55] Ducalis opened #492 "Excavator v.1.3.4a"
Why in NHM 1.8.1.4 such old Excavator version (v1.1.4a)? Whether it is possible to change to the version 1.3.4a?

[2017-10-29 21:24] BaalMarduk commented on #478
Cast got updated yesterday, slightly better performance.  I using Cast on nicehash since a couple and got very good results.  The only thing is you need to use the beta Blockchain drivers.   I wished the new AMD 17.10.2 would had performed well on XMR Cast as they now do with Ethereum Claymore.

[2017-10-29 21:46] HaTaX2 commented on #129
Had the same issue with the intensity setting on a Nvidia GTX 1070, no matter what I chose it pegged out at 100% and caused some interference with normal desktop use.  After setting it to '--intensity 1' it now sits around 90% use and I don't notice an impact when using the system.  FWIW, even going with 5 it still acted like it was set to 64. Seems that switch could use a little tweaking within t

[2017-10-29 22:14] fethidz commented on #1314
hay ay have saim problem

[2017-10-30 01:47] Lifeless-Ditto commented on #487
Is there anyway to keep previous benchmark statistics? Or do i have to benchmark it every time the Nicehash Miner Legacy is updated?

[2017-10-30 01:51] luongk commented on #487
@Noobperson https://github.com/NiceHash/NiceHashMinerLegacy/wiki/Getting-started#upgrading

[2017-10-30 08:47] HansHagberg opened #493 "LYRA2REV2 efficiency not optimal"
For some time now, LYRA2REV2 has been the most profitable algorithm for high end NVIDIA GPUs.
I noticed that the software running LYRA2REV2 in NiceHash legacy (V1.8.2.0-Pre) is about 10% less efficient compared to the one in NICEHASH2 V2.0.1.3 - BETA.
This difference is enough to often make some other algorithm more profitable.

Tried to look into it briefly but the structure is so different I had

[2017-10-30 08:48] Virtuon commented on #473
Well if it's opensource it can be tested. My 1060 mine 295-300 on ZM and 265-270 on EWBF. Nominally there is a significant difference. If it's just written false hashrate then it's just a scam miner.

[2017-10-30 11:11] francescocmazza opened #494 "Benchmar different GPUS at the same time"
Hello,
It would be awesome if you could allow the benchmark process to run contemporarily on different gpus. This would speed up very much the benchmark process on multi-gpu systems.
Thank you

[2017-10-30 11:12] francescocmazza opened #495 "Settings tab (mis)order"
Hello,
The tab order in the settings page is all mixed up.
Pressing tab from one field to the next takes you to other fields in a messed up order.
Thank you

[2017-10-30 12:25] Paapo commented on #476
Uaahhh, sorry for the late replay. I´ve stopped and restarted. Please find attached the loffile.

I´m wondering, why neither NHLM1.8.1.4, nore NHML1.8.2.0 with newest Claymore CryptoNight isn´t working for me:-(
What can i do, to benchmark my AMD RX470 Cards? With Claymore CryptoNight 9.7 everything is perfect. From V1.8.1.4 on my cards are always switching on and of, during the benchmark. And the

[2017-10-30 15:11] streaml1ne555 commented on #493
Looks like in Nicehash2 everything is Excavator based and LyraREv2 in Nicehash 1.8 is ccminer. That could explain the difference I suppose.

[2017-10-30 15:56] shinnsd commented on #493
Yeah, I think including an option for LyraREv2 on Excavator for NHML will be nice

[2017-10-30 16:32] bradtrebilcock commented on #1317
That seems older. Have you checked here?
https://miner.nicehash.com/

[2017-10-30 16:47] angel12 commented on #452
Any update on this? I have 4 e7-4860 cpu's on one machine that I would like to use for mining :) Total of 80 threads, 40 cores

[2017-10-30 17:26] christiaan03 commented on #1317
Thanks, this one is completed, the 1.8.1.1
 serie comes with the exe i need.
It happen often that with an upgrade is released, the exe is is not included.
Litlle bit weard of course because they say, its plug and pley in the readme text.

[2017-10-30 23:16] shinnsd commented on #1312
Dude, your payout is tided to the Bitcoin address you put at the beginning. If you put another address in it, of course you don't see anything because you never mined anything to the new address. What you need to do is go back to the address you had before, mine until you get the payout, then switch to the new address. (assuming you had an address there before)

[2017-10-31 08:56] DeeViens commented on #525
Does this work with NHML 1.8.1.4 ?

nothing happens when I try to open NiceHashMiner_64HT_MASK or NiceHashMiner_MORE_HT_MASK

I put them in NHML 1.8.1.4 folder? or I'm doing something wrong...

I have 2x Xeon 2697 v4 with 36cores and 72 threads.

Thanks!
I am a beginner in this ;/

[2017-10-31 13:00] pducharme commented on #487
Also got the issue of CryptoNight displayed at "0" when using XMR-Stak-CPU.  I switched to XMRig.  Last time I tried, I was not getting good hasrate, but now, it seems to get me about the same hashrate.

[2017-10-31 13:31] Duski78 commented on #492
Its a riddle to me, i am also pleasing to add new Version :)

[2017-10-31 14:59] SaintPistachio opened #496 "Pre-release notification"
Would it be possible to add an option in the client to alert for pre-releases as it does for latest releases?

[2017-10-31 15:00] #496 closed, assigned to nobody

[2017-10-31 16:05] DillonN commented on #487
@sabaruddin yes the most profitable dcri value will be used while mining

Thanks for reporting the xmr-stak-cpu issue, looks like a problem in 1.8.1.4 but I think I can see the issue and shouldn't be a hard fix. Probably have it in 1.8.1.5 and 1.8.2.0-pre2

[2017-10-31 16:08] DillonN commented on #485
It should be reading all three columns and pick the first one that has a value (which would almost always be the 2.5s value). I'll look into it

[2017-10-31 16:10] DillonN commented on #486
@noremac13 it is not mining with Decred, that is the default output Claymore will show when mining in just eth (notice how it says "ETHEREUM MINING ONLY MODE ENABLED"). Decred is the default secondary coin so if a second address were passed it would turn it on automatically (but no address is passed)

[2017-10-31 16:11] DillonN commented on #490
Thanks for posting, I'm going to be looking a lot at the benchmark threading soon so I'll see if I can't fix it then

[2017-10-31 16:12] DillonN commented on #492
The new Excavator version isn't supported, and there is no current plan to add support. This is because NHML gets flagged as a virus frequently for downloading miner software, and the new Excavator needs to stay clean from flags

[2017-10-31 16:12] #492 closed, assigned to nobody

[2017-10-31 16:13] DillonN commented on #493
I am looking into updated ccminer forks that have better Lyra2REv2 speeds. Please redirect conversation to #465

The version of Excavator included in NHML is old and does not support Lyra2REv2, and it cannot be updated currently

[2017-10-31 16:14] #493 closed, assigned to nobody

[2017-10-31 16:14] DillonN commented on #494
This is currently being looked into

[2017-10-31 18:00] francescocmazza commented on #494
Thank you!

2017-10-31 17:14 GMT+01:00 Dillon Newell <notifications@github.com>:

[2017-10-31 19:32] HansHagberg commented on #478
Tried for a day or so to get XMR Cast to work on a rig with two Vega 64 and one Vega 56.
No luck with this...
AMD blockchain driver causes a world of trouble and I only got 1 GPU working with XMR Cast.
Current status is XMR cast won't recognize the blockchain driver is installed with more than one GPU in my rig. The miner gives no clue to what it thinks it finds instead so it's hard to troubleshoo

[2017-11-01 03:30] bilibilistack opened #497 "Xmrig CPU affinity"
I used xmrig before and thanks for adding into nicehash 1.8.1.4
It's important to set CPU affinity for higher performance.
I tried following setting in the config file, not working now after apply and restart:
"ExtraLaunchParameters": " "cpu-affinity": "0x5555""
It works in the original xmrig's config.json with "cpu-affinity": "0x5555" for sure.

So how to give the embedded xmrig the correct extra

[2017-11-01 03:58] streaml1ne555 commented on #497
Add this to your extra launch params for xmrig via settings->devices/algorithms:

--cpu-affinity 0x5555

Works here.

[2017-11-01 06:22] dfg555 opened #498 "CPU Not Providing Income"
Upgraded from v1.7.5.13 to v1.8.1.4 and my CPU doesn't give me an income but it still mines? GPU Mines perfectly. I thought it was a display bug so I let it mine for a day and my income was worst compared to v1.7.5.13. I went back to v1.7.5.13 and that works perfectly.

i5-2500

R9 290X

Windows 7 64-bit

https://i.imgur.com/I5bi4eG.png

[2017-11-01 06:31] dfg555 commented on #498
[logs.zip](https://github.com/nicehash/NiceHashMinerLegacy/files/1433291/logs.zip)

[2017-11-01 06:52] vadik722089 opened #499 "Problems with the equihash algorithm"
GTX 980 Ti. the benchmark can not read it manually wrote the speed then the benchmark read it then launched the mining and there is no speed at all 0 Sol / s

[2017-11-01 06:59] vadik722089 commented on #499
![jgao-wkqwlc](https://user-images.githubusercontent.com/33276956/32263521-18ad331c-befc-11e7-9407-bd2ee0a7f245.jpg)
![zlro5gomiio](https://user-images.githubusercontent.com/33276956/32263540-209eaf74-befc-11e7-9ddd-9d7410557414.jpg)

[2017-11-01 08:38] bilibilistack commented on #497
It worked, thanks! The font is in red along with dev fee (weird), but it worked when I check task monitor

[2017-11-01 09:04] CAVACO-PT opened #500 "Pool with Problems ???"
Hello , are the pools having problems ??? , they are doing timeouts a lot , and i see (FAILLOVER 1 and 2) , and then they try to get to main pool , these past days all the pools keep going down and coming up a few times , is anyone else having problems ??

its not the connection because i have miners in different internet connections and locations and they all do the same thing

![image](https://u

[2017-11-01 09:18] Kayfolom opened #501 "1.8.2.0 benchmark lost data"
You need to save the settings after each benchmark.
Now the data is lost if there is a failure and a reboot - Everything has to start anew

[2017-11-01 09:39] CAVACO-PT commented on #500
![image](https://user-images.githubusercontent.com/9946471/32268882-9e7fd0c6-bee8-11e7-8f7b-629b5cd4a93f.png)

[2017-11-01 09:55] juggernautsei commented on #381
Update:
I am still having issues with the rig being stable despite many attempts to change the drivers to the older version and changing the (underclocking) the cards. The cards seem to run best when I underclock them. But the issue is the video driver won't stay stable. I have no idea why.
I did find out from ASRock that the H110 BTC Pro+ has a limitation in windows to only recognize 8 of the sam

[2017-11-01 10:08] CAVACO-PT commented on #500
![image](https://user-images.githubusercontent.com/9946471/32270160-a97ca720-beec-11e7-9fb6-66f8daab5915.png)

[2017-11-01 10:46] Ithan74 commented on #500
I have the same problem((

[2017-11-01 10:51] Ithan74 opened #502 "Last"
=

[2017-11-01 10:52] pjmt commented on #500
I get the same connection problems on the cryptonight.eu.nicehash.com, mostly around this time of day.

[2017-11-01 11:20] BaalMarduk commented on #478
@HansHagberg In general AMD drivers are not the most stable especially with VEGA,  you need to use DDU to remove the old drivers before installing new ones.

[2017-11-01 12:36] CAVACO-PT commented on #502
All duals with ETH are disconnected by pool (eu.nicehash.com)

#500

[2017-11-01 15:01] DillonN commented on #501
Yes you will lose benchmark data if the PC crashes before the benchmark finishes. This hasn't changed in 1.8.2.0

I can look into saving after each benchmark

[2017-11-01 15:02] DillonN commented on #497
You can see the supported extra launch parameters [here](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Algorithm-ExtraLaunchParameters#xmrig)

[2017-11-01 15:02] #497 closed, assigned to nobody

[2017-11-01 15:06] DillonN commented on #498
Thanks for posting, it looks like NHML is receiving an empty response when checking for speed data

Xmrig seems to be more stable for other users, you can try mining with that (looks to be almost identical in speed for you according to your benchmarks)

EDIT: I have found an error that may be causing this

[2017-11-01 15:13] DillonN commented on #499
@vadik722089 you write that you are using a 980 Ti, but it shows you are using a GTX Titan? If you are using a Titan it seems nheqminer itself is causing problems for you, you can try with one of other builds - https://github.com/nicehash/nheqminer/releases. Unfortunately the use of nheqminer has been superseded by Excavator and EWBF, which are not compatible with Kepler cards (like the GTX Titan)

[2017-11-01 15:15] DillonN commented on #500
Unfortunately this seems like a connection/pool problem so not much can be done here

Best way to troubleshoot if it's a connection problem is to try disabling firewall or use another internet connection if you are behind a corporate/university connection

[2017-11-01 15:18] DillonN commented on #502
@Ithan74 can you post your log.txt file after doing a benchmark so maybe I can see why some of them are failing

It is normal for *some* to fail on specific cards, not every algo/miner combo works on every card. We try to remove the ones that don't work on a specific card so you don't see them, but some get through

[2017-11-01 15:47] dfg555 commented on #498
I tried xmrig but the same thing occurs.

[2017-11-01 16:09] CAVACO-PT commented on #500
@DillonN  has i written in the issue , its not a connection problem , because i have multiple diferente miners in diferent providers in diferent locations , and a few i disabled the firewall , and all from diferent internet providers do the exact same thing ,  its ether a routing problem ... the routes that take each client to the pool , or the internet pool provider is having issues ,  both probl

[2017-11-01 16:12] CAVACO-PT commented on #500
i will try to connect a few miners to usa pool and we will see when the eu pool goes down again if the usa connection doesnt go down its for sure a problem of routes or pool internet provider of eu location !!!

[2017-11-01 16:14] Yenle9 opened #503 "Get balance separately for each worker"
Hi,

As I found that, currently the balance which displayed on miner is the total balance of all worker I have.
Can I get the balance separately for each worker?

P/s: My workers use the same wallet

[2017-11-01 16:43] HansHagberg commented on #478
I'm pretty sure the drivers are installed correctly. I got it working with one card.
However, XMR Cast says the blockchain driver is not installed when I switch on more GPUs and so the performance is very low.
I have no problems with other types of mining so there is something weird going on.
Would be great if XMR Cast was a little more verbose during start-up and dumped whatever it saw in the con

[2017-11-01 18:51] j2inet commented on #1294
I get the same error consistently at startup when it's trying to test the mining algorithms.

GTX 1080 with 8 gigs video RAM
16 gigs system memory
Core-i7 6700 @ 3.4 GHz

It's one of these systems.  https://www.asus.com/us/Tower-PCs/ROG-G20CB/

It works fine on another system I have with a GTX1080 and a GTX1060.

[2017-11-01 19:43] vadik722089 commented on #499
Many thanks that I did not notice that the driver reinstall the driver from another card, it's very suspicious that games and other applications were working steadily these drivers

[2017-11-01 19:43] #499 closed, assigned to nobody

[2017-11-01 21:28] adri76 opened #505 "No connection"
osting an issue:

- Please make requests in Englis
h
- The issue has not already been reported.
- Relevant log files are included (generally `\logs\log.txt`).
- The issue is with NHML and not inherent of miner executables. This can be verified by  the miner manually and looking for the error.
- The issue is  to NHML specifically and not to the NiceHash service.
- Specifications of setup such as NH

[2017-11-02 02:01] Buckthebarbarian opened #506 "Vega stuck at 300 h/s - Polaris performing worse after adding card"
So recently I managed to add another gpu to my rig (rx580) but I have two problems while mining. My rx vega hashrate on sgminer (with nicehash) is stuck at 300 on the benchmark and when it starts mining normally, it is stuck at 0 hashrate with no error message.
Also, my 3 polaris cards are running much slower than before (26mh/s each when overclocked) even though all three are bios flashed and OC'

[2017-11-02 04:43] hishokusakuya opened #507 "unsupported cpu ( i5 4460s )"
Hi,

according to Intel, this cpu support AES and SSE 4.2 (like original i5 4460)
but why can't 4460s run Nicehash Miner?

Thanks all!

[2017-11-02 04:56] Kayfolom commented on #487
Copying the settings of the GPU does not work? I tried copying - nothing happens, it is necessary as before to copy a section in a file ""AlgorithmSettings": ["

[2017-11-02 05:01] kojihirai opened #508 "Cannot extract the files properly"
When I download the official release zip file and extract, half of the files including nicehashminerlegacy.exe do not extract so i cannot run. Please help me.

[2017-11-02 07:01] medicnick83 commented on #487
Hi all, I'm not sure if this has been mentioned before, but I changed to version "1.8.2.0-Pre" yesterday on most of my rigs (about 4 of the 5 of them) and now I see that CPU mining is almost always at 0, even after I've done a benchmark. I'm thinking maybe it's just a graphical error, but when I close / stop the app, it's as if it was doing nothing, but previously, it's like the PC would have to g

[2017-11-02 07:10] VadimEv commented on #500
@DillonN that is not a connection issue. I experience exactly the same problem on multiple endpoints with different channel setups.

![stratum_errors](https://user-images.githubusercontent.com/10043733/32313707-4c75d87a-bfb5-11e7-9059-c0cee3f466e7.png)
![nicehash_stratum_connection](https://user-images.githubusercontent.com/10043733/32313773-8c539fb8-bfb5-11e7-926f-b4e86d231e77.png)

Since I use m

[2017-11-02 07:45] Nicheuji commented on #508
Most likely your antivirus is blocking the files.
See https://github.com/NiceHash/NiceHashMinerLegacy/wiki/Troubleshooting#nicehash-miner-legacy-or-included-miners-are-being-flagged-by-anti-virus

[2017-11-02 09:27] mandeep148 opened #509 "Cant run new versions 1.8.2.0 and 1.8.1.4 due to windows defender smartscreen."
hi, im using pre release of 1.8.1.4 3rd, i downloaded both latest version that is 1.8.1.4 and 1.8.2.0 , i cant run those, when i try to open i only have option showing "dont run" i tried to disable windows defender,
so what should i do now.
![screenshot 17](https://user-images.githubusercontent.com/30183847/32318737-27b4133e-bfde-11e7-9c30-f71ec32b416d.png)

[2017-11-02 09:29] boyod opened #510 "cryptonight stop connekt on 3355"
for erope and nvidea
Using JSON-RPC 2.0
[2017-11-02 13:12:36] Starting on stratum+tcp://cryptonight.eu.nicehash.com:3355
[2017-11-02 13:12:36] NVML GPU monitoring enabled.
[2017-11-02 13:12:36] NVAPI GPU monitoring enabled.
[2017-11-02 13:12:36] 1 miner thread started, using 'cryptonight' algorithm.
[2017-11-02 13:12:36] Stratum authentication failed
[2017-11-02 13:12:36] Internal server error
[20

[2017-11-02 10:15] seanego commented on #484
I second this: it's faster at least by one-third

[2017-11-02 10:35] micax opened #511 "Question about Neoscrypt auto-detection and requirements."
Please let me know what miner you use for neoscrypt and what are the requirements to hardware software. Because I have 2 rigs w 290x & 280x and none of them does not have neoscrypt in available algo list. However I am able to mine Neoscrypt w Crimson & NSGminer win 7 x64. NHML 1.8.2.0

So Basically the issue is why it is not added automatically to the list?

[code]

[2017-11-02 11:00] MaKla89 commented on #1319
Same here.

I've been trying to CPU-mine with a Surface Pro i7 (yep, also potato) just as an experiment. Sadly this very experiment fails every time. The XMR-Stak-Miner seems to restart every couple of minutes and even though the miner itself actually provides a hashrate (of about 50 - 90 H/s), nicehash doesn't seem to accept this.

[2017-11-02 12:05] xGAMMELFLEISCHx opened #512 "How to translate to German Language?"
Hi,

how can i help to translate to german?

[2017-11-02 12:54] Tofteberg opened #513 "NHM legacy wont run"
Im new to mining. want to install legacy, but when i click the NHML exe file, nothing happens...
what am i doing wrong??

[2017-11-02 13:12] Nicheuji commented on #484
I just tested it. It's indeed faster.
@DillonN Would really appreciate it if you could add it to NHML as soon as you can since mining Monero is currently very profitable.

[2017-11-02 14:37] k1184 opened #514 "[CPUDIAG] System.InvalidOperationException"
Hi There.
When runing nicehashminer in debug I receive
[CPUDIAG] System.InvalidOperationException: Не удается загрузить данные имени счетчика, поскольку в реестре обнаружен недопустимый индекс "".
   в System.Diagnostics.PerformanceCounterLib.GetStringTable(Boolean isHelp)
   в System.Diagnostics.PerformanceCounterLib.get_NameTable()
   в System.Diagnostics.PerformanceCounterLib.get_CategoryTable(

[2017-11-02 16:10] riccardoruspoli commented on #512
You need to fork the repository to your account, then on your account you can add the file de.lang in NiceHashMiner/langs/. Copy all the text from en.lang into de.lang and then translate it.

[2017-11-02 17:31] vladymy commented on #510
same for me

[2017-11-02 18:37] drkskwlkr commented on #512
@xGAMMELFLEISCHx After you do what @Rikifire instructed, you also need to fork [LanguageType.cs](https://github.com/nicehash/NiceHashMinerLegacy/blob/master/NiceHashMiner/Enums/LanguageType.cs) and add an entry for German within the `public enum LanguageType : int` array.

[2017-11-02 19:05] ryderbg opened #515 "CryptoNight issues on CPU and GPU"
Hello! I just heard about CryptoNight price up and decided to switch to it. I have several machines and my main desktop PC is mining when idle. GPU is **Sapphire R9 Nitro Fury** and CPU is **Intel i7 4790k**. I am using v1.8.1.4 but can't pass the benchmark of CryptoNight Claymore and Sgminer. Also CPU miners are staying at 0 h/s. I tried older version and CPU miners still staying 0 h/s so I assum

[2017-11-02 19:27] snowcrawl commented on #515
I am also noticing problems with this algorithm especially with the Nvidia cards.   I have tried switching service location.   Sometimes it helps, but a lot of trouble connecting.

[2017-11-02 19:45] rpm604 commented on #498
I have the same issue as dfg555. I upgraded to 1.8.2.0 to reap the sick CryptoNight rewards, but I'm getting extraordinarily odd/random profit reporting on the NiceHash dashboard, and also 0.00 profit reporting for my CPU within the program.

In the first picture, the GPU profits look about right (1.2kh/s), but the CPU profits are crazy inflated (I was only getting ~350h/s max at the time). Second

[2017-11-02 19:52] ryderbg commented on #515
But it cannot pass the benchmark.

[2017-11-02 20:58] Xirruf commented on #513
Same here..  Please help.
Windows 10 x 64

[2017-11-02 21:12] snowcrawl commented on #515
Yes, I could not get my R9 380 AMD card to pass the Claymore CryptoNight benchmark either.  I suspect it could have something to do with the amount of traffic on that mining pool today.  I gave up on trying to get this R9 card to pass the sgminer CryptoNight, since it often has crashed my system during the Benchmark.   So I think if you were somehow able to get it to pass just Claymore, that would

[2017-11-02 21:34] HaTaX2 commented on #451
If you set config.txt to read only and still want to see the speed in the GUI, just check the config file to see what port is specified at the bottom of the file and enter that port in MinerReservedPorts.json.

[2017-11-03 01:48] vaverix commented on #506
My vega stays at 0 kh/s (sometimes 300 h/s) for a few minutes then crashes. When I mine without Nicehash Miner Legacy (using cast_xmr miner) everything is fine.

[2017-11-03 02:50] Josephur commented on #487
Recently added a second GTX 1070 to my rig, upgraded to NHML-1.8.2.0 but my 7700k CPU sits there and benchmarks forever (even on fast bench mode).  I'll stick to 1.8.1.4-Pre3 for now, I know you can "skip" benching but it just seems bugged.

[2017-11-03 07:24] Balzhur commented on #515
There is also an issue with "read speed zero" and miner restart. Difficulty for Cryptonight had been increased significantly recently - from 80k to 200k. Now NHML just restarts CPU and GPU miner every two minutes effectively disrupting mining, when several days ago xmrig worked for days without issues. I had to shut NHML down and launch xmrig and xmrig-nvidia manually.

[2017-11-03 07:33] Balzhur commented on #484
For xmrig-nvidia you have to play with threads/blocks in config to achieve maximum output. For example for my 1070 xmrig autoconfigured 45 threads/32 blocks providing stable 718.7 sol/s but with 80 threads/30 blocks it provides 731.7 sol/s.
@DillonN, you may want to play with threads/blocks during the benchmarking to achieve best result :)

[2017-11-03 08:00] chuongmd commented on #484
how can i connect to nicehash with xmr-star-nvidia ?

[2017-11-03 08:10] drkskwlkr commented on #515
@fajyfcbq Right now NiceHash (the service, not this software!) is undergoing stratum server maintenance.

From [Nicehash Twitter feed](https://twitter.com/NiceHashMining):

[2017-11-03 08:13] MACE-Zer0 commented on #1319
Same here , and it keeps restarting the miner , also the ones the miner is mining report at 0 but nicehash program show the h/s and the profit but website always at 0

![image](https://user-images.githubusercontent.com/9946471/32364795-dbe4a216-c06e-11e7-88eb-2c2448fd82f1.png)

[2017-11-03 10:41] andicole0 commented on #515
I have had issues with Cryptonight for the last 24 hrs, so it's not the current maintenance. My CPU is running Cryponight but my R9 and RX are doing nothing. I get pop ups with -
[20:27:14] Started sgminer 5.5.5-gm-nicehash-8
[20:27:14] * using Jansson 2.7
Can I select something other than Cryptonight?
Andi.

[2017-11-03 11:42] xenoputtss opened #516 "Chrome blocks download of 1.8.2.0"
When downloading (prerelease) 1.8.2.0, Chrome will block the download from completing and leave the downloaded file in an unusable state.

Chrome then provides this link for the download, and also only a "Discard" button.  https://support.google.com/chrome/answer/6261569?visit_id=1-636453056702832967-3608807855&p=ib_download_blocked&hl=en&rd=1

I understand that this is an "Antivirus" issue with c

[2017-11-03 11:57] drkskwlkr commented on #516
@xenoputtss

1. From within Chrome, press Ctrl+J to open the Downloads tab
2. Select flagged download and click on 'Keep Dangerous File'

Thankfully, there are alternatives to Chrome. Please close your ticket as it has nothing to do with NHML.

[2017-11-03 12:14] juggernautsei commented on #381
Here is the latest with what is going on with my rig. The NiceHash system switched my rigs from claymore miner to sgminer. I don't know why or how it was decided. However, my second rig that I have been trying to fix here is now working smoothly. It has been operational more than 24hrs. It is now mining Cryptonight with an increase in mBTC/day. Now it is time to build a third rig from all the left

[2017-11-03 13:05] xGAMMELFLEISCHx commented on #512
`{
  "Name": "German",
  "ID": 0,
  "Entries": {
    "Global_Yes": "&ja",
    "Global_No": "&nein",
    "Global_OK": "&OK",
    "Global_Cancel": "&abbrechen",
    "Global_Retry": "&Retry",

    "Service_Location": "Service Standort",
    "LocationName_eu": "Europa - Amsterdam",
    "LocationName_usa": "USA - San Jose",
    "LocationName_hk": "China - Hong Kong",
    "LocationName_jp": "Japan - Tok

[2017-11-03 16:03] ksze commented on #1294
Pretty similar issue as @j2inet.

GTX 1080 with 8 GiB video RAM
32 GiB RAM
Core i7-6700
Windows 10 Pro 64-bit Fall Creator Update
GeForce driver version 388.13
CUDA 9.0.176

[2017-11-03 16:14] xAsrielDreemurr commented on #1319
I Changed the CryptoNight miner to the other miner, and it sometimes gets 8.30 MH/s and then goes back to 0. So that does not work either. Well, Lets Hope the staff sees this post! I bet they can help...

[2017-11-03 16:46] Leoxciv opened #517 "Mining rig crashing"
Hi, I hope someone can please help me. I use to have a lot of crashing problems while mining, I did some changes to my motherboard and my mining rig worked 100% perfect for about 1 month. Now the crashes are back and I don't know what to do. The rig crashes within 10 minutes.

I have Asus Z270-A Motherboard
X5 EVGA 1080ti
X2 EVGA 850 BQ PSU
risers version 006c
200gb hdd
4GB RAM
Windows 10﻿ Pro
Int

[2017-11-03 18:10] UdoK opened #518 "AMD GPUs identified in wrong order causes miner crash"
I'm running a 8 GPU rig on Windows 10 which consists of 4 different GPUs
NHML identifies them in this order:
#1:R9 290; #2:RX570; #3:R9 390; #4:RX570; #5:RX Vega; #6:RX570; #7:RX570; #8:R9 390
But the order the miners will start them is like this:
#1:RX570; #2:RX570; #3:R9 390; #4:R9 390; #5:RX570; #6:RX570; #7:R9 290; #8:RX Vega
This means the settings assigned to the miner for each GPU are wrong

[2017-11-03 18:44] TuSuNaMi commented on #1319
Which miner to change?

[2017-11-03 19:16] ghost opened #519 "Don't work autorun"
I put it in autorun. And when I turn on the farm, it does not start. All the necessary checkmarks in the settings set. Version 1.8.1.4

[2017-11-03 20:26] Jakobhoss opened #520 "I want a "accepted for" button"
To give the altcoins a little push and to give the miners some power back I want an "Announce for: x BTC/MH...GH...Sol" Button or slider. So you can define each algorythm for which price you provide your hash. Maybe there could be a "threshold" slider with up to 5%. This price can be only set every hour and counts worldwide the same. So miners could be more active members of nicechash than simply

[2017-11-03 21:01] snowcrawl commented on #515
Yes Andi,

If you click on the Settings button, then click on the Device/Algorithms Tab.   You will then be able to deselect the CryptoNight algorithm for your device by removing the check mark next to that algorithm.
Then click "Save and close".   Then restart your mining software.

[2017-11-03 22:04] fadaor commented on #1085
hola a todos, por favor traducir.
tuve en cuenta todos sus comentarios debido a que tenía el mismo problema y lo resolví gracias a ustedes.
mi pc es el siguiente: core i3 7 generación, placa madre msi z270-a pro, psu gamemax 1050 w, 6 gpu 1050 ti.
resulta que msi creó nuevos drivers para placas madre especiales para minería, lo actualicé y fincionó por unos días, hasta que continuó el inconvenient

[2017-11-03 23:20] man55 opened #521 "How can I change ccminer?"
How can I change ccminer or other miner?
I do not always agree with the choice of the miner for a particular algorithm. I know for sure that some other versions of miners work faster, sometimes much faster.

Thank you!

[2017-11-04 00:00] xAsrielDreemurr commented on #1319
I went to CryptoNight Xmrig.

[2017-11-04 00:52] snowcrawl commented on #521
You can disable the version of a miner that you don't want to ever be used with a particular device.   Simply by going into settings, then devices/algorithms and uncheck the version of the miner you don't want to be used.

[2017-11-04 00:53] Riggie1000 commented on #1186
I have this problem, too. Using gigabyte rx 460 2gb + msi gtx 1050 ti 4gb
The problem does not always exist at the same options. But it seems to be better by using just one card.

[2017-11-04 01:09] orfanochristy commented on #1140
does it support Intel(R) Celeron(R) CPU N2940?

[2017-11-04 06:53] DillonN commented on #503
No, this is not possible sorry

[2017-11-04 06:53] #503 closed, assigned to nobody

[2017-11-04 06:55] DillonN commented on #505
Please provide details for what you are reporting and make sure it is an issue with NHML

[2017-11-04 06:55] #505 closed, assigned to nobody

[2017-11-04 06:58] DillonN commented on #506
Proper cryptonight support for Vega is coming soon

For your Polaris cards, a number of things could cause lower performance that are not related to NHML. E.g. higher temps, too much power, too much stress on the CPU (if you are also mining on it) etc

[2017-11-04 06:59] DillonN commented on #507
Can you please post your logs\log.txt file and exactly the error you are seeing?

[2017-11-04 07:00] DillonN commented on #508
Yes this is very likely an antivirus problem

[2017-11-04 07:00] #508 closed, assigned to nobody

[2017-11-04 07:04] DillonN commented on #509
You need to go to the Windows Defender settings and configure SmartScreen to be "Warn" instead of "Block"

![image](https://user-images.githubusercontent.com/5328577/32403306-c9da1cd8-c10c-11e7-9981-c1ca128a414a.png)

After that, that popup will have a "more info" button which exposes the "Run anyway" button

[2017-11-04 07:06] DillonN commented on #510
This is either a server-side or connection issue and can't be solved from NHML

If it is a connection issue try disabling firewall/using a different internet connection if you are behind a company/university network

If it is a server-side issue try a different service area or try again later

[2017-11-04 07:19] DillonN commented on #511
Neoscrypt was found to be unstable for driver versions above 21.19.164.1, at least through the sgminer implementation used in NHML. Are you able to get NS working on sgminer with your drivers? I can remove the check in the next update, or make an option in the config to skip the check

[2017-11-04 07:21] DillonN commented on #512
Thanks @xGAMMELFLEISCHx, I can make a pull request for you if you like when I go through them next.

[2017-11-04 07:22] DillonN commented on #513
Make sure antivirus/smartscreen is not blocking it from running

Please post your logs\log.txt file if it exists (if it does not exist almost certainly something is blocking it from running)

[2017-11-04 07:23] DillonN commented on #514
Please see [on the wiki](https://github.com/nicehash/NiceHashMinerLegacy/wiki/Rig-Stats-Monitoring#perflib-problems)

[2017-11-04 07:30] DillonN commented on #517
It looks like a similar problem was reported for an older version of NHM - https://github.com/nicehash/NiceHashMiner/issues/284

Can you try the fix mentioned there?

[2017-11-04 07:32] DillonN commented on #518
Not every miner orders GPUs the same - NHML accounts for this when launching the deviant miners

What do you mean by the order miners will start them? Which miners specifically? Can you post your logs\log.txt file?

[2017-11-04 07:33] DillonN commented on #519
Does NiceHash Miner Legacy show up when you look at your startup list? E.g. in Task Manager

Can you post your logs\log.txt file after a startup

[2017-11-04 07:40] DillonN commented on #520
This idea seems beyond the scope of NHML. You can contact info@nicehash.com for inquiries about the NH service

[2017-11-04 07:40] #520 closed, assigned to nobody

[2017-11-04 07:42] DillonN commented on #521
You can see instructions for changing ccminer versions here - https://github.com/nicehash/NiceHashMinerLegacy/wiki/Customizing-ccminer-and-sgminer-paths

[2017-11-04 07:55] mandeep148 commented on #509
@DillonN
Thanks for help,
Sorru but in dont think i should put my whole computer at risk just because of nicehash, dont you think you should improve or approve the software or whatever?

[2017-11-04 08:10] micax commented on #511
Hi. not with sgminer, but with gatelessgateminer and nsgminer
I`ll keep you informed if some of late drivers work.
an option to remove check should be nice - in order to let advanced users
to check all possible algos w their drivers at least.

Thank you.

On Sat, Nov 4, 2017 at 3:19 AM, Dillon Newell <notifications@github.com>
wrote:

[2017-11-04 08:36] k1184 commented on #514
Thanks! Issue is closed.

[2017-11-04 08:36] #514 closed, assigned to nobody

[2017-11-04 09:10] andicole0 commented on #515
Thanks. It seems to have resolved itself, running quite happily now.

[2017-11-04 11:06] UdoK commented on #518
In generell I refer to the CryptoNight sgminer and Claymore miners.
I mean by the order the miner will start the GPUs if I select just one, indicated in NHML as #1 R9 290, then the miner runs one of the RX570s. Doing this one by one I got this second list. This applies also when doing the benchmark test.
I've done a quick benchmark on some GPUs and tried mining all GPUs together today which result

[2017-11-04 11:10] Jakobhoss opened #522 "Profitability drops and BTC going up? Not with me."
Yesterday I wrote a request for more options for hash providers to influence their income. I have the Idea that you could implement a box in which a miner can write his minimum accepted price because the algos are keeping going down. This fact is simply because of the NHM software, where you cant influence the minimum price and so the miners are automatically hunting for the best price. But when o

[2017-11-04 11:19] doverosx commented on #522
Thankfully for me, I don't pay for power but isn't it possible to enter
your power consumption into NHML?

Additionally, your post want deleted, the issue # was closed because
feature ideas belong somewhere else. Feature requests should go to
info@nicehash as Dillon mentioned in his reply.

Regards,
Brodey Dover

On Nov 4, 2017 7:10 AM, "Jakobhoss" <notifications@github.com> wrote:

[2017-11-04 11:34] man55 commented on #521
Thank you DillonN,

This is what I need.
But I understand that only one ccminer version for all 10xx cards?
I have GDDR5 and GDDR5x Cards in one rig and they require different ccminer versions for same algo.
It is necessary to run two copies of NiceHashMinerLegacy?

[2017-11-04 11:56] drkskwlkr commented on #522
Good. Now close your ticket and stop wasting developers' time.

[2017-11-04 12:15] nin3tin opened #523 "Claymore cryptonight"
Claymore cryptonight hangs on r9 Fury GPU, if i ran old version it works perfectly.

is there a way to make r9 use old version while RX uses new version.

im using 1.8.2.0 i know its not official but you might want it to include in benchmark old and new claymore for r9 users.

[2017-11-04 12:22] drkskwlkr commented on #509
You annoying, computer illiterate, entitled person...! The only thing that puts your computer at risk is you. Dillon and others spent so much time helping you out with your silly questions and yet you have the temerity to throw snide remarks and boss the dev team around?

Changing SmartScreen behavior from Block to Warning is so much better than disabling Windows Defender as you thought to do. It

[2017-11-04 13:44] kfadrat opened #524 "intensity settings"
Hi,
can somebody tell me what is the intensity setting for ccminer?
I tried -i n , --intensity n , --intensity=n and so on, but nothing seems to work for me.

[2017-11-04 13:45] bruvv commented on #524
--launch=.X. (where the dot is the block and threads)

[2017-11-04 14:58] kfadrat commented on #524
it works great, thanks a lot for help

[2017-11-04 15:05] rchar081 commented on #515
Yea Still getting the 0 Speed issue on cryptonight algorithm for stats on the nicehash statistics. Damn.

[2017-11-04 15:35] sohachowdhury commented on #960
I disable the IPV6 but, It isn't working for me.
Please help.....

[2017-11-04 16:07] mandeep148 commented on #509
@drkskwlkr for 1 second i agree what you said,
you are telling

"annoying, computer illiterate, entitled person"
to your and all parents and all those person who are only using Pc for accounting..
everyone dont have all knowledge, i bet you dont even know how pc architect work, first of  all your nothing without GOOGLE, look at your mouth, you look like you have Glue-ed youself with computer scree

[2017-11-04 16:08] rockym20 opened #525 "v1.8.1.4 won't benchmark"
I downloaded v1.8.1.4.  All of the bins downloaded correctly.

My rig has 3 X R9 380, 1 X R9 290 & 1 X HD 7950 (soon to be changed to 3 X 380 + 3 X 7950).  It runs Catalyst 15.12 with complete stability under Claymore dual miner.  Newer drivers create instability while mining.

When I open Nicehash, it sees the cards, but does not show GPU algorithms to benchmark and therefore won't run.

Logs are

[2017-11-04 17:44] bruvv commented on #524
no worries please close it now.

[2017-11-04 18:30] drunkovsky commented on #487
you can ask on the form to tick "show each graphics card separately" so that you can see the status of each video card when they work on the same algorithm

[2017-11-04 19:25] Rickochey commented on #515
same, constant disconnects on cryptonite with AMD and Nvidia

[2017-11-04 19:44] #524 closed, assigned to nobody

[2017-11-04 19:52] kfadrat commented on #515
i have the same problem. On prev version of NHML, the cpu part was showing and dissapearing, on 1.8.2.0 its always 0H/s slthough the miner window shows something. On GPU there is no problem like that. Screenshot https://imgur.com/a/uq19X

[2017-11-04 20:15] ameshkin commented on #1151
hi guys.

My hard drive ran out of space and when i got back to my desktop, i noticed nicehash stopped connecting to the pool>

I'm afraid I've been banned for bad shares??!

Can somoeone help me get unbanned.

[2017-11-04 20:19] snowcrawl commented on #523
The way that I am doing it is to run both the current version for my non R9 cards, and an older version on which the R9 worked for CryptoNight.   You need to unclick the R9 under devices so that it does not run in the current edition of NiceHash Miner Legacy.   Then you need to unclick all of the non R9 devices in the older version of Nicehash miner so that only the R9 card will run with that inst

[2017-11-04 20:26] francescocmazza commented on #515
I have the same problem. Strange that my GPU seems to connect correctly most of the time, instead CPU engine always fails to connect.

[2017-11-04 20:40] streaml1ne555 commented on #515
Not showing hashrate for CPU is a bug since 1.8.1.4 and Dillon knows about it. Some of my XMRig's are having issues connecting to the NiceHash's cryptonight stratum servers but I think that's probably because they're getting crushed since everything is mining that lately..

[2017-11-04 22:00] rev3la7ion commented on #1304
This is still an ongoing issue...

[2017-11-04 22:06] Buckthebarbarian commented on #506
Thanks for taking the time to answer DillonN. The bizarre thing is that there are dag files where my cards are mining at 30-31 mh/s and suddenly later they drop to about 25. I double checked my drivers and I am indeed on the blockchain one. I've dedicated 2 out of 8 cores on my cpu only for the cards so i'm guessing they should have enough CPU processing power. When you say too much power, could a

[2017-11-04 23:40] Aldione opened #526 "Problem with GPU Nvidia"
I dont know why but from today im having this problem...

https://imgur.com/a/XqAJl

i hope someone can help me.

Thanks

[2017-11-05 04:46] RodAus opened #527 "How to restart OS when one of the GPUs gets stuck/freezes"
Sometimes one of my GPUs get stuck/freezes, I'm not sure what's cause it, overclock is not too high 1500W of 2400W available. I wonder if there is a solution to restart the OS when this happens. Normally after that I can keep the OS stable for another 48 hours.
Thanks for any help

[log.1.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1443776/log.1.txt)
[log.txt](https://github.com/nic

[2017-11-05 05:06] gennadiv opened #528 "gatelessgate"
this miner works with a variety of algorithms could you add it also works with Neoscrypt on all video cards, I checked it myself

[2017-11-05 06:38] mcsjohn commented on #526
stratum_recv line failed means your rig cannot connect to Nicehash service. Most likely due to low number of shares sent you got a temporary ban. This is not related to NHML but to the Nicehash service.

[2017-11-05 09:12] drkskwlkr commented on #527
There is a `OnGPUsLost.bat` file that can be executed when a CUDA core is lost. See [https://github.com/nicehash/NiceHashMinerLegacy/pull/268](https://github.com/nicehash/NiceHashMinerLegacy/pull/268)
[https://github.com/nicehash/NiceHashMinerLegacy/blob/master/NiceHashMiner/OnGPUsLost.bat](https://github.com/nicehash/NiceHashMinerLegacy/blob/master/NiceHashMiner/OnGPUsLost.bat)

[2017-11-05 09:25] RodAus commented on #527
@drkskwlkr Thanks this is exactly what happens.
Now I have to figured out how NHML works with .bat files.....5 min later... okay I found a check box, Run script when CUDA GPU is lost.

[2017-11-05 11:09] Aldione commented on #526
So, what I need to do? Because I don't know why they ban me :/
It's mean I'm sending too much or I don't send too much ?

[2017-11-05 11:23] drkskwlkr commented on #526
@Aldione How about you switch from USA to EU server (if you're near East Coast) or Hong Kong (if near West Coast). This will rule out transient network issues.

[2017-11-05 11:36] mcsjohn commented on #526
According to a support case I had with them if you don't generate a valid share every 5 minutes you will get a temporary ban for 1 or 2 days. This happens a lot lately after Cryptonight got profitable. Cryptonight takes a longer time to generate a valid result than 5 minutes for many GPU's. The only option for you, unless you can increase your Cryptonight performance is to wait for the ban to expi

[2017-11-05 12:37] Aldione commented on #526
Now is working... but i had EU Server but sometimes i go to USA Server to start again. But now i had problem with CPU
https://imgur.com/a/fgQLd

i dont know what wrong with my laptop...

[2017-11-05 14:31] lmlim commented on #526
@mcsjohn is the share submission requirement counting total submission from 1 ip or counting seperately from each miner session?
for example: in my i got 1 amd and 5 nvidia cards, amd is running sgminer while nvidia is running ccminer, so there are 2 miner session running. however nvidia shouldn't have problem doing for a share per 5minutes, but amd could have a problem doing it. or do they count

[2017-11-05 14:37] sohachowdhury opened #529 "Nice Hash Requires Internet Connection to run (no connection)"
Guys, I have got this "Nice hash requires internet connection"
Yesterday my pc was running well and also mining but, suddenly my pc crashed and when i again try to open NHM, it is showing me this error.
PLease guys help me...
![2017 11 05-20 32](https://user-images.githubusercontent.com/33375714/32415773-19cfcc80-c269-11e7-96a2-827322c25116.png)

[2017-11-05 14:37] sohachowdhury commented on #529
please help me guys

[2017-11-05 14:39] sohachowdhury commented on #529
i have internet speed 26 MBps but, still...

[2017-11-05 14:41] mcsjohn commented on #526
I think it counts per IP.

[2017-11-05 14:41] bruvv commented on #529
stop commenting on your own post. just edit your first post and dont expect an awnser within minutes....
Anyway just disable the internet connection warning in settings or use the nicehash miner v2 found online.

[2017-11-05 15:04] tj8079 opened #530 "V1.8.1.4 USD/Day Stats always stays at 0.00"
Nicehash V1.8.1.4 doesn't give me the USD/Day Stats, it stays at 0.00 and never updates. I have multiple computers that are all acting the same.
![nicehash usdday](https://user-images.githubusercontent.com/32970403/32416030-51051a7c-c208-11e7-9605-b46a1081f883.jpg)

[2017-11-05 15:21] micax commented on #528
true, voting +1

[2017-11-05 15:22] micax commented on #527
any option w AMD ?

[2017-11-05 15:35] RodAus commented on #527
@micax My AMD rig have these option.
Unfortunately I discovered that it does not work. Maybe it's a different problem.
Do you know when the GPU disappears from the Afterburner list? And then the miner start restarting it self trying to mine ... I realized that happens when switch to crytonight for neoscrypt, but not 100% shore. My log shows it above.  Another pattern that I see is the weekend, 80%

[2017-11-05 16:11] Kayfolom commented on #529
I have the same situation on the last versions. Windows 7, RX480x2. After loading OS (the miner starts 60 seconds after loading) such an error.
Internet connection warning disabled

[2017-11-05 16:16] FrankMycHo commented on #487
Cryptonight on ccminer (Nvidia) doesn't seems to work this morning ... anyone else got constant restarting ?
I have low to no hashrate and the miner restart every minute or so

[2017-11-05 16:34] imrecsoka commented on #960
Very strange man, mine was either because the nicehash website is busy...they are doing maintenance and it will show when u go to the web page.
The other was to enable IP4 and disable IP6.
Hmm, i hope u manage to get it to work.

[2017-11-05 16:50] kansv1 commented on #487
Yes. The miner ccminer (Nvidia) restart every minute.

[2017-11-05 18:35] makzkzn commented on #530
This began with version 1.8.1.3 :(
![whatsapp image 2017-11-05 at 21 33 21](https://user-images.githubusercontent.com/33400284/32417903-3df5c0d0-c271-11e7-980f-f8d8f56336ee.jpeg)

[2017-11-05 19:12] drunkovsky commented on #487
Today I have and on the beta version and on older versions everything fell away

[2017-11-05 19:12] drunkovsky commented on #487
now works more stably on all versions

[2017-11-05 19:50] wutBEE commented on #518
I have also had cases where NHML will incorrectly label different AMD cards. I was running two RX580's and one Vega. However, when benchmarking one of the cards labeled as RX580, the benchmark would actually run on the Vega. Alternatively, running the benchmark on Vega would actually cause the other RX580 to spin up. Viewing stats in GPU-Z, as well as the increased fans on the Vega (hard to miss)

[2017-11-05 20:15] UdoK commented on #518
When I read some of the other issues where users having different GPU types and problems during benchmarking and mining  I think what I described is the root cause for all these problems.
Hope you guys can fix it in one of the next versions.

[2017-11-05 20:45] imrecsoka opened #531 "Cryptonote Miner 10.1 / 10.2 GPU3 not good speed"
![image](https://user-images.githubusercontent.com/25494601/32418935-e9fd9f52-c27a-11e7-8e03-7ad588be4daf.png)

[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1444416/log.txt)

[2017-11-05 21:31] snowcrawl commented on #525
I would delete v1.8.1.4 and unzip it again.   Then click on NiceHash Miner program to download the miners again.   Starting from scratch, in case something went wrong in the first download.  Be aware that people are having trouble running the benchmark for CryptoNight algorithm for R9 cards

[2017-11-05 22:03] igor1352 opened #532 "statistics error"
as to eliminate it what well would work. forgive I don't speak English but this probleia is present at all versions tested by me
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1444486/log.txt)
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1444487/log.txt)
![1](https://user-images.githubusercontent.com/33403336/32419620-7efbceee-c285-11e7-8e09-402bce12c1f7.JPG)
![

[2017-11-06 01:12] ChabyCZ opened #533 "demouser BTC adress"
Hello, I would like to ask why is all the reward earned during the benchmark sent to the address below instead of my own defined adress? Likewise, when the address is not filled in and the NiceHash client is in "DEMO" mode or when all settings are erased into the default?
The address is defined as:
public static readonly string DemoUser = "3DJhaQaKA6oyRaGyDZYdkZcise4b9DrCi2";

If you check this ad

[2017-11-06 01:22] bmazz731 opened #534 "Cannot run multiple miners with Sgminer"
Hi,

My rig is running 6x RX 470s and 2x RX 580s. It appears that when NHLM attempts to mine anything with sgminer while the 2x RX 580s are mining something else the miner never starts and continuously closes and attempts to restart.

Essentially it looks like sgminer is not booting up when all the cards are not using it.  I've included my log file and haven't had any other issues I can see so any

[2017-11-06 02:05] sunny336 opened #535 "amd rx570 cryptonight inerrupted"
with amd rx570 sgminer inerrupted

[2017-11-06 02:08] sunny336 opened #536 "with amd rx570 sgminer inerrupted"
with amd rx570 sgminer inerrupted

[2017-11-06 05:04] mylove90 commented on #1320
Just downloaded 2.0.1.4 to find crypotonight added
Thanks !

[2017-11-06 05:23] imrecsoka commented on #536
What does this mean?
Show screen shot or something or what is the question or symptom.

[2017-11-06 05:25] imrecsoka commented on #533
Good to know, but maybe for the right of the Dev fees? not sure.

[2017-11-06 05:28] imrecsoka commented on #530
Never had this before, but i would use another version in the meantime, until developer comes back to you. WC2018 ;-

[2017-11-06 05:30] imrecsoka commented on #528
Tihs thing unfortunately caused my grapihcs card to have strange colours on the screen and i had to hard reboot my machine. I then battled for 1 hour to get my 2 GPUs to work. I hate Neoscrypt and i have never YET seen a decent miner for Neoscrypt yet.
I hate it.
I tred NSGminer and Gatelessgate , come on. Nothing to do with Nicehashminer really, but maybe somebody can suggest or give a solution ,

[2017-11-06 05:35] Nicheuji commented on #533
If it's the dev fee then it should be only 2% of the time. @ChabyCZ said "**all** the reward.."
Hmmn... Did you key in your own address before you started benchmarking?

[2017-11-06 06:13] imrecsoka commented on #533
Generally i do, when i start up the miner, i dont leave that field blank, i put in my btc address.
If i use multipool miner also , same thing, it benchmarks and all that effort goes to your wallet, whatever it is, 50 cents to 1 dollar

[2017-11-06 06:56] imrecsoka commented on #523
Snowcrawl, i didnt follow much of that :) screen shots?

[2017-11-06 06:59] sunny336 commented on #536
![screenshot 1](https://user-images.githubusercontent.com/31063477/32428873-e35a3d52-c27c-11e7-960a-564614d6ecb9.png)

[2017-11-06 07:12] xGAMMELFLEISCHx commented on #512
yes, please make a pull request for me.

[2017-11-06 07:29] gennadiv commented on #528
gatelessgate.exe -k neoscrypt --gpu-platform 1 -g 1 -I 16 -w 256

[2017-11-06 09:34] b080180d opened #537 "SOCKET ERROR - RECEIVE ERROR: socket closed (using mobile data)"
![23131753_10159748086975294_1869705431505037419_n](https://user-images.githubusercontent.com/23250436/32433823-3f4abcfa-c317-11e7-9401-7e9ab5270f88.jpg)
![23231118_10159752355805294_3918319874091477145_n](https://user-images.githubusercontent.com/23250436/32433825-3f789896-c317-11e7-851f-4357f03306e2.jpg)
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1445641/log.txt)

Windows 7

[2017-11-06 10:56] foxocs commented on #478
Works fine with normal pools, but i have a problem with nicehash. Card recieve job but no share accepted. None of 3rd party  miners works. Is there a problem with nicehash pools? Only original nicehash miner (sg miner)  works fine...

[2017-11-06 11:00] francescocmazza opened #538 "XMRig - GPU support"
Hello,
Would it be possible to add compatibility to XMRig GPU Engines?
https://github.com/xmrig/xmrig-nvidia
https://github.com/xmrig/xmrig-amd

Thank you!
Francesco

[2017-11-06 11:01] mcsjohn commented on #537
Most likely the IP address has a temporary ban to Nicehash due to low number of shares (your IP must send at least one accepted share every 5 minutes). The temporary ban according to their support is for 1 or 2 days.
@DillonN Maybe you can create a Wiki regarding this issue which in the past few days appears very often due to the Cryptonight algorithm being so profitable and of course does not hav

[2017-11-06 12:12] b080180d commented on #537
it is working fine with no disconnection for quite some times before the 3 nov maintenance. so maybe it is not temp ban. im not sure.

[2017-11-06 12:22] dperepust opened #539 "interrupted amd 580"
Stratum connection to cryptonight.eu.nicehash.com interrupted
Amd 580
 nicehash miner legacy v1.8.2.0 -Pre
How can fix this problem?

[2017-11-06 12:46] sunny336 opened #540 "interrupted amd rx570"
Stratum connection to cryptonight.eu.nicehash.com interrupted
Amd 570
![screenshot 1](https://user-images.githubusercontent.com/31063477/32441645-6202da26-c2ad-11e7-8655-8be1001a2dc5.png)

nicehash miner legacy v1.8.2.0 -Pre
How can fix this problem?

[2017-11-06 12:49] mcsjohn commented on #537
Before November 3rd, difficulty on Cryptonight was 80000. It increased to 120000, 200000 and now it is 300000. Is you CPU able to generate a result at least every 5 minutes? I don't think so.

[2017-11-06 12:52] jessechan618 commented on #534
same issue with me running 3 x RX580 and 2 x RX570

[2017-11-06 13:08] b080180d commented on #537
hm... i have another system with i5-2400 CPU (lower than i7-6700K) but no issue.  running perfectly. this is running with fixed broadband.
![test](https://user-images.githubusercontent.com/23250436/32442467-83038e94-c336-11e7-819a-47f587bd50f2.JPG)

[2017-11-06 13:10] b080180d commented on #537
![test](https://user-images.githubusercontent.com/23250436/32442580-e7ad76de-c336-11e7-9d5c-82959e1453e2.JPG)

this is the one with issue. it is running with mobile data.

[2017-11-06 13:17] mcsjohn commented on #537
On the IP of the fixed broadband connection do you also mine with a GPU (or CPU only with many computers)? The idea is that if Nicehash receives an accepted share at least every 5 minutes from an IP, they do not ban that.

[2017-11-06 13:30] b080180d commented on #537
for the fixed broadband connection, both CPU and GPU with many computers as well.
for the mobile data (4G), same deal, both CPU and GPU with many computers too.

[2017-11-06 13:41] mcsjohn commented on #537
Behind each IP are your systems able to generate an accepted share at least every 5 minutes? Yes or No? You can always open a support case with Nicehash, because anyway this issue is not related to NHML.

[2017-11-06 13:51] b080180d commented on #537
the main thing is nicehash is just started to mine and it doesnt allow to connect to the mining pool and straight away socket error. If u look at the time, 21:09:37, that is the time i start to run. Nicehash is running less than 5 mins. from 21:09:37 to 21:09:47, there is already 2 socket error. from the start to the 2nd socket error is just 10 sec.

And I guess, yes, the systems can generate an a

[2017-11-06 13:56] mcsjohn commented on #537
At 21:09:37 it tries to connect and it fails. Retry is 10 seconds, so at 21:09:47 tries again, without any luck and so on. If an IP gets a temporary ban, it is lifted in 1 or 2 days. Until then you can try a different service location but if the accepted shares are not enough you will get banned also there. Again, this is not a NHML issue, it is Nicehash service. You can open a support case with t

[2017-11-06 13:57] b080180d commented on #537
tried different service location and it is still the same. how can i open a support case? :)

anyway, thank u so much for your prompt reply. I learn something from u

[2017-11-06 13:58] mcsjohn commented on #537
Here is the link https://www.nicehash.com/support

[2017-11-06 14:00] b080180d commented on #537
appreciate and thanks. :)

anyway, im using a TOR proxy to run nicehash. able to connect to the mining pool and get some accepted shares but occasionally, get socket error. thats all i can do for time being

[2017-11-06 14:03] b080180d commented on #537
![test](https://user-images.githubusercontent.com/23250436/32444630-5c700426-c33e-11e7-9e6c-ae1d036652dc.JPG)

this is the temp fix im doing now

but i wonder y the temp fix works but not direct connect

[2017-11-06 14:46] chromelined opened #541 ""More than 64 virtual cores" dialog box prevents auto-start mining"
NHML 1.8.2.0-pre
4 socket server, E7-4870 (80 virtual cores)

The dialog box that warns that CPU mining is disabled prevents auto-start mining from working. Can we get a setting to disable CPU detection, or maybe disable warnings when auto-start mining is selected?

[2017-11-06 15:27] drDramen opened #542 "ClaymoreCryptoNightMiner. restart miner, very often"
windows 10.
5 rigs with Rx480, RX580
ClaymoreCryptoNightMiner restarts periodically.
what to do, in which direction to watch?
in the logs there is such information:

[pid(5756)|bin(bin_3rdparty\claymore_cryptonight\NsGpuCNMiner.exe)] Cooling UP, cool time is 320000 ms
[2017-11-05 20:50:16] [INFO] [ClaymoreCryptoNightMiner-MINER_ID(28)-DEVICE_IDs(0,1,2,3,4,5)] [pid(5756)|bin(bin_3rdparty\claymore_c

[2017-11-06 16:07] riccardoruspoli commented on #538
#484

[2017-11-06 16:52] francescocmazza commented on #538
Thank you riki, I didn't see that this had been already proposed.

[2017-11-06 16:52] #538 closed, assigned to nobody

[2017-11-06 17:58] chuongmd opened #543 "Result rejected by the pool ( XMR-Stak-NVIDIA )"
![screen shot 2017-11-07 at 12 51 39 am](https://user-images.githubusercontent.com/26231230/32455852-1edb24fc-c356-11e7-9747-634798836f2e.png)

Hi, Is nicehash block xmr-stak-nvidia? I get better hash with xmr-stak than ccminer.

[2017-11-06 18:17] panakota90 opened #544 "with rx480 connecting to cryptonight interupted!"
To keep development of NiceHash Miner Legacy streamlined please make sure the following are true before posting an issue:

- Please make requests in English
- The issue has not already been reported.
- Relevant log files are included (generally `\logs\log.txt`).
- The issue is with NHML and not inherent of miner executables. This can be verified by launching the miner manually and looking for the

[2017-11-06 18:18] panakota90 commented on #544
with rx480 connecting to cryptonight interupted!

[2017-11-06 18:26] riccardoruspoli commented on #538
Ma prego.

[2017-11-06 19:17] minergate0987 commented on #539
I have the same. Can anyone help?

[2017-11-06 19:31] nin3tin commented on #523
he means to use use 2 versions of NHML, one using the latest claymore crypto the other using the old version. Disable r9 in the new version and to the old version only enable r9 the rest are disabled.

[2017-11-06 19:32] nin3tin commented on #523
im using 1.8.1.2 no problem and the speed is the same anyway. so i dont mind using old version.

[2017-11-06 19:46] panakota90 commented on #536
i have the same problem with the rx 480

[2017-11-06 20:46] xAsrielDreemurr commented on #1315
you have to close the issue yourself btw

[2017-11-06 22:05] chadotter commented on #539
I'm having the same problem using ccminer on Ubuntu. I've tried usa and eu without success.

[2017-11-06 22:46] Crypto-Lord commented on #536
1.  Close some of the duplicate issues you've opened for the same issue. (having multiple tickets doesn't speed up your ticket but rather slows the devs down)
2.  Upload your logs as soon as the issue arises so the devs can pin-point the issue.

I've experienced this issue on and off as mining is occurring. Haven't seen any real interruptions to the mining process as it continues to mine right aft

[2017-11-06 22:56] panakota90 commented on #536
in my case could stop mining for some time before starts again

[2017-11-07 01:03] Bolthouse commented on #1323
Looks like the problem was the power supply. Swapped it out for a different one and the rig ran fine.

[2017-11-07 05:03] dormdweller opened #545 "Doesn't do multiple threads"
I didn't see this issue reported so hopefully it isn't a duplicate.  When benchmarking, it grossly under hashes certain cards like a Vega card.  I believe this to be because the vega works best when it is split with two threads per card and intensities of 2012 and 1728 or so.  I should be getting 1850 out of it but nicehash is only giving 1320.  Should be a way we can manually configure the settin

[2017-11-07 07:29] kabylike opened #546 "Disparity in income statistics"
In the last 3 days, my Rig /6x Nitro+RX480 8G/ has been working on a cryptonight. NH shows a revenue of between 12.5 and 14 Euro, but statistics on the site show 8.5 euro per day.
Until 3 days ago he was working on a dager+Lbry, and there was no difference
NiceHash 1.8.2.0 Pre
Windows 10 Pro x64
Driver Radion dag fix Beta

[2017-11-07 08:05] kfadrat opened #547 "start mining when idle"
is there a way to set the time that will pass before NHML starts mining? or for example add some programs that force this option not to run? It's really nice thing, but painfull to watch anything on youtube with moving your mouse all the time.

[2017-11-07 10:42] GenesisGupta commented on #478
Cast XMR is working with nicehash , but it constantly shows 1 Kh/s for 1 card ( RX Vega 56) whereas Cast XMR shows 1.99 kh/s constantly. How can this be solved , i currently have no rejected shares.

[2017-11-07 10:50] MaKla89 commented on #1319
Xmrig seems to run more stable but every couple of minutes it says "no mining pool". nicehash web-summary shows "0 kh/s" accepted speed about 95% of all times and sometimes "1 kH/s" for a very short time before dropping back to "0"

[2017-11-07 13:30] fonyo opened #548 "sgminer fails to launch with a specific GPU combination (works in standalone mode)"
Due to my cards have very different results in benchmarks, NHML tends to assign them different algorithms to mine, sometimes even 3 separate ones.

I have the following set-up with one of my rigs:
GPU0 RX 480 8GB
GPU1 RX 480 8GB
GPU2 RX 580 8GB
Driver 17.7.x
Win10 pro 64 bit
Latest NHML

Everything works well when they all mine the same algorithm, or they mine 3 different kinds of ethash+dual comb

[2017-11-07 13:43] doverosx commented on #548
What do you see in logs.txt?

[2017-11-07 13:48] riccardoruspoli commented on #547
Yes, in Settings > Advanced > Minimum Idle [s].

You have to write the amount of time in seconds in which the computer will need to be idle before NHML starts to mine.

[2017-11-07 15:23] kfadrat commented on #547
i just saw it, must be blind today. Thanks for help.

[2017-11-07 15:23] #547 closed, assigned to nobody

[2017-11-07 15:31] MozartAndrey commented on #1304
I have the same problem. Previously, this error was not. Tried all the servers - an error. Although PING passes without errors and packet loss. Who solved the problem?

[2017-11-07 16:05] RealityRipple commented on #485
Guess I'll count this as fixed. XMR is showing its stats correctly, the old Claymore EXE is accessible and works fine, and nothing exploded in my face. Thank you!

[2017-11-07 16:05] #485 closed, assigned to nobody

[2017-11-07 17:51] Mariusz199 opened #549 "1.8.2.0 Pre-release - ClaymoreDual intensity tuning"
I have a question if you can set the program to automatically turn on and start kicking the computer?

[2017-11-07 18:08] pedrojmartm commented on #549
You can activate the option "autostart mining" and put in on the startup folder. thats it!

[2017-11-07 18:20] Mariusz199 commented on #549
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
I've already found the option to run with Windows.
 
I know something when there is a better update to improve the program, I mean to make more money and today there was something leap with the graphics card on Lyra2REv2 and if there is something like graphics card AMD will also

[2017-11-07 19:11] Twanislas commented on #398
Please note that if you set the donation to 0% it will default to 5% as the minimum is 1%. See xmrig/xmrig#171

Cheers !

[2017-11-07 20:30] Crypto-Lord commented on #536
@panakota90
Upload your log file as soon as it happens so the dev can have a look to see what the problem might be.

[2017-11-07 20:46] panakota90 commented on #536
![untitled](https://user-images.githubusercontent.com/33430158/32516899-81001c5c-c40d-11e7-9185-3a1a444a0ebe.png)

[2017-11-07 20:56] Crypto-Lord commented on #536
log files are located in your NHML folder and named 'log.txt'
That's just your mining window, but I'm not sure this is an issue cuz I get the same thing (sometimes goes for 5-10min) but then mining resumes as normal. Could just be something to do with cryptonight algo itself.

[2017-11-07 22:11] MaKla89 commented on #515
sounds to be the same issue as in this thread:
https://github.com/nicehash/NiceHashMiner/issues/1319

@streaml1ne555 : you mentioned the shown hashrate being a bug. does this meant that it's only a visual and the mining IS working in the background?

[2017-11-07 22:14] streaml1ne555 commented on #515
Correct, if you open the xmr-stak-cpu window and hit the h key it should show you an actual hash rate so it is mining. It appears to only be a display issue with the NiceHash interface.

[2017-11-07 22:25] MaKla89 commented on #515
ah thanks, if thats true, i would not really mind, but I don't know how the accounting (and payout-stuff) is being calculated by nicehash if the data is not even shown correctly in the web-interface :S

[2017-11-07 23:28] RileyMShea commented on #487
Would be nice if the GPU's could be auto-dectected or selected from a dropdown and the DCRI values from the wiki [https://github.com/nicehash/NiceHashMinerLegacy/wiki/Tweaking-ClaymoreDual-Intensity](url) were used as a baseline for benchmarking. Testing something like +/- 25% from the wiki's DCRI values seem like a good starting point?

[2017-11-07 23:44] ivR3dditt commented on #1326
No one has Ver 2.0.1.3 beta?

[2017-11-08 00:22] bradtrebilcock commented on #1326
Did you find one yet?

[2017-11-08 00:28] ivR3ddit commented on #1326
Unfortunately no,  apparently there is an older version I had which was
NHM2 Ver 2.0.1.3 beta which I can’t seem to find anywhere.

On Tue, Nov 7, 2017 at 7:22 PM Brad Trebilcock <notifications@github.com>
wrote:

[2017-11-08 00:30] bradtrebilcock commented on #1326
I have the install for it, if you tell where to send it.

[2017-11-08 00:38] ivR3ddit commented on #1326
Woah TYVM!!!!

Can you send via gmail (if attachment is large, it’ll upload to google
docs) or if you have Dropbox, can you share the file with me and I’ll
download from here?

I’m not sure how else to get the install.

On Tue, Nov 7, 2017 at 7:31 PM Brad Trebilcock <notifications@github.com>
wrote:

[2017-11-08 00:43] bradtrebilcock commented on #1326
what's your email and I'll send you a link?

[2017-11-08 00:45] ivR3ddit commented on #1326
f8zb00k@gmail.com

Thx

On Tue, Nov 7, 2017 at 7:43 PM Brad Trebilcock <notifications@github.com>
wrote:

[2017-11-08 00:46] bradtrebilcock commented on #1326
done

[2017-11-08 00:50] ivR3ddit commented on #1326
TYVM....do you by chance also have ver 2.0.1.2 beta?

On Tue, Nov 7, 2017 at 7:46 PM, Brad Trebilcock <notifications@github.com>
wrote:

[2017-11-08 00:51] ivR3ddit commented on #1326
Please provide me you BTC and I'll send you $5 for your troubles

On Tue, Nov 7, 2017 at 7:49 PM, Sherman Auyeung <shermanay@gmail.com> wrote:

[2017-11-08 00:59] ivR3ddit commented on #1326
TYVM, downloaded all ( 3) versions

On Tue, Nov 7, 2017 at 7:50 PM, Sherman Auyeung <shermanay@gmail.com> wrote:

[2017-11-08 01:08] bmazz731 commented on #548
I'm having the same issue on NHLM 1.8.1.4 - #534

Hopefully, we can get some feedback on the issue soon!

[2017-11-08 01:10] Spearhawk opened #550 "Problem with Legacy 1.8.1.5"
I try to start it and it gets to "getting Nicehash SMA information"
and there it stops saying I do not have internet connection, yet I do.
So I try to benchmark it, and it comes to around 7 and then the entire program vanishes
and so I start it again
again it gets to getting Nicehash SMA information
and yet again it says the same thing
and so I try to start it...
and it keeps on telling me that I

[2017-11-08 01:11] doverosx commented on #550
I'm currently benchmarking 1.8.1.5 as I reply ;-).

On Nov 7, 2017 8:10 PM, "Spearhawk" <notifications@github.com> wrote:

[2017-11-08 01:16] Spearhawk commented on #550
![screenshot 2017-11-08 02 14 16](https://user-images.githubusercontent.com/33471053/32526643-c33735f2-c42a-11e7-903c-5c6d4dcaf357.png)

this is as far as I come before it stops...it just pulsates the bar doing nothing.

[2017-11-08 01:17] Spearhawk commented on #550
then it jumps to 11 and shuts down the program...

[2017-11-08 01:18] Spearhawk commented on #550
![screenshot 2017-11-08 02 17 33](https://user-images.githubusercontent.com/33471053/32526709-1882bfae-c42b-11e7-85f3-00a40142ba80.png)
![screenshot 2017-11-08 02 17 56](https://user-images.githubusercontent.com/33471053/32526711-1bda9f78-c42b-11e7-9918-ce68d3c953c3.png)
![screenshot 2017-11-08 02 18 02](https://user-images.githubusercontent.com/33471053/32526714-1e840d2c-c42b-11e7-85f8-90c9fe6bd0

[2017-11-08 01:24] Frageron commented on #550
i have same problem on 1.8.1.4 and 1.8.1.5

[2017-11-08 01:25] Spearhawk commented on #550
Then it could be servers then, and not me....

[2017-11-08 01:28] alexandreferris commented on #542
when mining cryptonight in version 1.8.1.5 it keeps restarting the miner aswell, no fix for me yet, still trying different things.

[2017-11-08 01:46] Frageron commented on #550
i hope so, but seems to me it works for others

[2017-11-08 02:28] DFNCTSC commented on #473
@brainbudt @Virtuon All you have to do is see how many hashes are reaching the pool. dstm has a 2% devfee and all hashes reported are real -- just test it yourself.

@VParhom I also have a 1070, a NVIDIA Founder's Edition, and I get 450sol/s in EWBF and 470 sol/s in dstm.

[2017-11-08 02:32] DFNCTSC commented on #445
@DillonN it's been almost three weeks, any update? i'd like to switch back over to using nicehash soon and give you guys my hashpower instead of flypool. :)

[2017-11-08 03:13] MrT63 commented on #539
I have the same Stratum connection to cryptonight.jp.nicehash.com interrupted . Tried different servers all with same result.  Using nicehash 1.8.1.4. and sgminer 5.5.5.

I can get interrtups for 6 mins then Accepts then back to 6-8 mins interruption.
![nicehash issue](https://user-images.githubusercontent.com/31526720/32529855-cbdda358-c475-11e7-932f-06f4ab7398e8.jpg)

Graphics card is Sapphire R

[2017-11-08 04:18] Frageron commented on #550
I used 1.8.1.4, it was OK. But today (like 4 hours ago) it stopped working and now gets error "Unable to get NiceHash profitability data."
I have tried to use new 1.8.1.5 and old one 1.8.0.2, problem still exists. It's first time for me, used NHML since august everyday (24/7), same rig, nothing changed (sometimes i update my drivers and NHML).
Any advice what to do?

[2017-11-08 04:30] sergentum opened #551 "Hang on Getting NiceHash SMA information Again"
tried versions:
NHML-1.8.1.3-Pre2
NHML-1.8.1.4-Pre2
NHML-1.8.1.5
and get all the same
stuck at getting SMA and not starting at all

[2017-11-08 04:34] Frageron commented on #550
Tried NHM 2.0.1.4, it works

[2017-11-08 04:48] Frageron commented on #551
I started having same problem on 1.8.1.4 today. Tried 1.8.1.5 and 1.8.0.2 they have same issue.
Tried NHM 2.0.1.4, it works.

[2017-11-08 04:52] sergentum commented on #551
yeah, i read previous issue with nothing-explaining-title and switched to 2 version, but i didn't like it when tried couple of months ago. But now it's working at least

[2017-11-08 04:53] Frageron commented on #551
Yeah, i don't like 2 version too, but i don't know how to get NHML to work again.

[2017-11-08 05:11] micax commented on #481
Again.. it just happened in a middle of the night, and my miners stopped:

[code]
[code]

[2017-11-08 05:12] micax commented on #481
3 hours in a row already.

[2017-11-08 05:28] Frageron commented on #550
NHM 2.0.1.4 don't work too, its just saying that mining is active, but nothing mining.

[2017-11-08 05:28] Frageron commented on #551
NHM 2.0.1.4 don't work too, its just saying that mining is active, but nothing mining.

[2017-11-08 05:49] CreamyG31337 commented on #515
the CPU part is fixed with latest release but ccminer cryptonight is still not being read properly by nicehash. I can't reproduce the problem consistently. Sometimes it shows hashrate and submitted shares fine in the ccminer stats, but 0 H/s in nicehash, and also warnings in the log about the speed being zero, cooldown or whatever, then it restarts. Right now it's working fine with whatever combin

[2017-11-08 05:56] PhatWheZ commented on #1326
I have a copy which i can put onto a share somewhere if you like

On 8 November 2017 at 02:28, ivR3ddit <notifications@github.com> wrote:

[2017-11-08 06:06] sergentum commented on #551
same problem to me.  i use it on server with 2 xeon, thought that it earns so little that it shows 0 but also i see nothing at the webpage

[2017-11-08 06:12] CreamyG31337 commented on #515
[log-bug.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1452748/log-bug.txt)

[2017-11-08 07:01] Frageron commented on #551
1.8.1.5 working now

[2017-11-08 07:02] Frageron commented on #550
1.8.1.5 working now

[2017-11-08 07:13] drDramen commented on #542
disabled cooldown checker. and already for 10 hours all the rigs are working on cryptonight miner and nicehash does not overload claymore. It remains to understand how this affects the effectiveness.

[2017-11-08 07:37] Kugell commented on #171
@jstevenson81
Thank you for taking the time to post your solution. I am unable to locate the --plimit setting. In which config file did you place the --plimit setting in and what directory is the file located in?

Thanks!

[2017-11-08 07:44] MaKla89 commented on #515
oh okay, I let Nicehash cpu-mine over night and even though it still says "0 H/s" in nicehash, i was granted some "Total BTC" for CryptoNight. So I guess that eventhough CPU-mining is very slow and nicehash posted (via twitter) that very slow devices are currently problematic / temporarily not supported, it seems to be working in the most important way: Granting you BTC for processing power. okay.

[2017-11-08 09:36] Spearhawk commented on #550
everything is working for me too now, so I guess it was a temporary problem

[2017-11-08 09:37] riccardoruspoli commented on #484
I've made a few tests, and if into ccminer you use the paramater --launch followed by the THREADSxBLOCKS that are written in the config of xmrig-nvidia, ccminer reaches the same speed of xmrig-nvidia.

So the differences between these two are only the graphical interface and the support for cryptonight-lite.

[2017-11-08 10:24] jonathandev1l opened #552 "NiceHash Legacy automatically closed during benchmark"
Just started mining with my r9 390 and i5 6600k.
During benchmark my nicehash legacy automatically closed.
I dont know why it keeps happening I tried precise, standard and quick but still the same thing happen

[2017-11-08 10:32] Balzhur commented on #484
@Rikifire, nope. You'll get following:
`[2017-11-08 12:28:02] 1 miner threads started, using 'cryptonight' algorithm.
[2017-11-08 12:28:02] GPU #0: GeForce GTX 1070 (15 SMX), using 30 blocks of 80 threads
[2017-11-08 12:28:02] GPU 0: THE 32bit VERSION CAN'T ALLOCATE MORE THAN 4GB OF MEMORY!
[2017-11-08 12:28:02] GPU 0: PLEASE REDUCE THE NUMBER OF THREADS OR BLOCKS`

xmrig is 64 bit - allows utiliz

[2017-11-08 11:36] fonyo commented on #548
Took me a while but I managed to catch it.
[errorlog.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1453675/errorlog.txt)

I obviously changed the address and worker name.

[2017-11-08 12:34] The-prophecys commented on #539
I'm experiencing the same issue with version 1.8.1.5. Not sure what this is, but can confirm it behaves exactly the same with all servers.
GPU: Sapphire R9 380x

[2017-11-08 12:37] greg121078 opened #553 "Mining problems with CPU and GPU when they work together"
2017-11-06 11:00:00
Hello, since the update NiceHAsh Miner v1.8.1.4 my CPU and GPU no longer work together, WHY? I have to stop either the CPU or the GPU for one of them to work. Plus several times a day the CPUs and GPU mine not all.
Cordially.
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1453841/log.txt)

[2017-11-08 12:59] matatan08 opened #554 "Mining not stable, GPUs' fans RPM to zero, heats up and systems fails"
I'm new to NHML (using 1.8.1.5), rigs have been 100% stable with Claymore v9.7. While testing out the miner yesterday, a couple things have occurred: firstly, benchmarking seems to take a long time, like 3-4 hours on "quick", didn't even bother to test out "precise", is this normal? Running Crimson 16.9.1 on 6 x AMD RX470's. Secondly, after performing ping tests to the different stratum servers, I

[2017-11-08 13:31] matatan08 commented on #554
One more thing, just to get it straight. There are 3 different NiceHash miners correct? NHML, NiceHash miner 2.0 (can't find the download link anywhere and seems for beginners), and the sole SgMiner that all of the above base themselves off of but has no friendly interface. Is that right?

[2017-11-08 13:39] protoss5482 commented on #466
Сегодня 3 раза словил это диалог... ферма автоматически перезагружается если карта вылетает, а узнаю о диалоге через несколько часов по факту нулевой добычи :(

[2017-11-08 13:53] jstevenson81 commented on #171
Not in the config file. It’s a switch in the batch file you use to run ccminer.

Thanks,
Jonathan Stevenson
Chief Information Officer
Intelligent Retinal Imaging Systems
(504) 430-0812
jstevenson@retinalscreenings.com<mailto:jstevenson@retinalscreenings.com>

On Nov 8, 2017, at 01:37, Kugell <notifications@github.com<mailto:notifications@github.com>> wrote:

@jstevenson81<https://github.com/jsteve

[2017-11-08 14:40] DillonN commented on #506
@Buckthebarbarian if your PSUs can't handle the extra power then higher power limits could cause problems. You may also be running into RAM limits. Do you see better performance with one card idle? Also you could try mining without CPU just to see if that is causing any problems

[2017-11-08 14:43] #509 closed, assigned to nobody

[2017-11-08 14:44] DillonN commented on #511
Will look into adding an option

[2017-11-08 15:03] DillonN commented on #518
@UdoK from your logs it looks like NHML is having communication trouble with the AMD drivers, which could cause it to find the wrong ID numbers. Are you able to try with non-blockchain drivers?

[2017-11-08 15:04] DillonN commented on #521
@mgcm3n yes unfortunately you can only set one for all 1000 cards

[2017-11-08 15:08] DillonN commented on #522
@doverosx is right, I left a reply on your other issue #520 that this is not within the scope of this issue forum. There is already a minimum profit option so you don't mine below what you deem is unacceptable

Closing this now..

[2017-11-08 15:08] #522 closed, assigned to nobody

[2017-11-08 15:09] DillonN commented on #523
1.8.1.5 is out, you can decide which ClaymoreCN version you want to use in it

https://github.com/nicehash/NiceHashMinerLegacy/tree/1.8.1.5

[2017-11-08 15:10] #523 closed, assigned to nobody

[2017-11-08 15:12] DillonN commented on #525
@rockym20 you mean in the benchmark screen the list of algorithms is empty? Could you post a screenshot of this?

[2017-11-08 15:15] DillonN commented on #526
This is likely a result of the CN servers being overloaded. Unfortunately nothing can be done from NHML so I cannot help. If you are still having issues you can open a support ticket like @mcsjohn

[2017-11-08 15:15] #526 closed, assigned to nobody

[2017-11-08 15:19] DillonN commented on #527
Unfortunately the batch script running only works for NVIDIA cards (CUDA GPUs are NVIDIA). There were some issues with CN server load. You should try without any overclock, since this behaviour is the main symptom of a slightly unstable OC

[2017-11-08 15:22] DillonN commented on #528
@gennadiv I can look into this

@imrecsoka Neoscrypt is indeed much more stable on NV cards, it's supported in NHML for all newer NV cards. In AMD it is supported but it is not stable, and there is currently a check to remove it if your drivers are above a certain version. Looking to have a manual option to disable this check, but that will not make it more stable

[2017-11-08 15:27] DillonN commented on #529
You can click Yes and NHML will continue to try to connect every ~1min. The problem is newer versions require a more stable connection to NH servers and if there is a firewall or ISP is blocking some connections then you will have this problem. Once a connection is made once you can mine for as long as NHML is open, even after disconnects, but you need to connect at least once to start mining

[2017-11-08 15:28] DillonN commented on #530
@tj8079 this happens if NHML was unable to connect to the exchange rate server

[2017-11-08 15:29] DillonN commented on #531
You can use the old version in 1.8.1.5 - https://github.com/nicehash/NiceHashMinerLegacy/tree/1.8.1.5

New version is in beta

[2017-11-08 15:29] #531 closed, assigned to nobody

[2017-11-08 15:33] DillonN commented on #532
@igor1352 sorry but I don't see the problem?

[2017-11-08 15:37] DillonN commented on #533
@imrecsoka the demo user is used if there is no proper BTC address entered. Try mining without any address in, you will see a prompt to mine in demo mode and it will mine to that address.

Most benchmarks are offline and mine to no address. A couple are online only, for those the previous behaviour was to benchmark with demo user as a workaround but most now use a valid address if entered

[2017-11-08 15:38] DillonN commented on #534
@bmazz731 are you using the blockchain drivers?

[2017-11-08 15:39] DillonN commented on #535
Duplcate #536

[2017-11-08 15:39] #535 closed, assigned to nobody

[2017-11-08 15:40] tj8079 commented on #530
@dillonN what do I do? It’s been like this everyday. Is it a firewall issue?

[2017-11-08 15:40] DillonN commented on #536
Th problem is with the servers. Try changing service location. Not a NHML problem so closing

[2017-11-08 15:40] #536 closed, assigned to nobody

[2017-11-08 15:43] DillonN commented on #537
As @mcsjohn said this is a server issue, contact NH support. Closing now..

[2017-11-08 15:43] #537 closed, assigned to nobody

[2017-11-08 15:43] DillonN commented on #539
This is a server issue not a problem with NHML. See #536

[2017-11-08 15:43] #539 closed, assigned to nobody

[2017-11-08 15:44] #540 closed, assigned to nobody

[2017-11-08 15:44] DillonN commented on #541
Will look into this

[2017-11-08 15:46] DillonN commented on #542
For some reason NHML is unable to communicate with ClaymoreCN. You can try using the old ClaymoreCN version (option available in 1.8.1.5) or disable the cooldown checker by editing configs/General.Json (near the end)

[2017-11-08 15:46] DillonN commented on #543
It doesn't have support for NH currently. There will be a new version of it soon I believe

[2017-11-08 15:46] #543 closed, assigned to nobody

[2017-11-08 15:47] DillonN commented on #544
Please see #536

[2017-11-08 15:47] #544 closed, assigned to nobody

[2017-11-08 15:48] DillonN commented on #545
@dormdweller we are waiting for an updated miner to support in NHML for Vega

[2017-11-08 15:49] DillonN commented on #546
NHML just shows an estimated profitability based on the hashrate of the miner. Many things can affect the hashrate accepted by the servers, such as invalid shares or connection problems, which cryptonight is prone to. Use the profitability on the site as a concrete number.

[2017-11-08 15:49] #546 closed, assigned to nobody

[2017-11-08 15:51] RodAus commented on #527
You right, I'm doing this. The problem only happens with Nvidia rigs. Something happens when change miners (for that reason one day maybe use only one miner for all coins or most). AMD rigs no problems at all, rarely does the miner change. But now most of the time the nvidia rigs restarts correctly. For me a great improvement not having to be monitoring 24h. All rigs were tested with Ethos (timing

[2017-11-08 15:52] kevinhuynh513 commented on #1304
i got the same. can ping and connect but show error

[2017-11-08 15:52] drDramen commented on #542
As I wrote above, I put a cooldown checker - a false. and already more than 15 hours of claymore work. but in statistics on https: //www.nicehash.com, sometimes the worker's work time counter is reset, but only a couple of times since the cooldown check is changed.

[2017-11-08 15:56] DillonN commented on #548
@fonyo NHML is passing the correct values to sgminer so if you are able to launch it properly manually the problem will be hard to find. A while back I tested another sgminer fork, and it was the same issue - would work fine manually but launched within NHML it would restart before showing anything (even with identical parameters). Ultimately I didn't look into it since it wasn't useful anyway, bu

[2017-11-08 15:58] DillonN commented on #549
@Mariusz199, not sure what you're asking. There was an update (1.8.1.5) that improves Lyra2REv2 performance for NVIDIA miners only

[2017-11-08 16:00] DillonN commented on #550
Many of the benchmarks will fail if there is a connection problem since they require a connection.

Glad to see it was a server issue and has passed though, I'll close this

[2017-11-08 16:00] #550 closed, assigned to nobody

[2017-11-08 16:00] DillonN commented on #551
@sergentum is your issue fixed? Looks like it was a temporary server problem

[2017-11-08 16:01] DillonN commented on #552
@jonathandev1l can you post your logs/log.txt file?

[2017-11-08 16:07] DillonN commented on #553
@greg121078 your log doesn't go back far enough, it just shows entries from NHML sitting idle. Can you try mining then repost your log?

If you are unable to mine together it is likely the CPU is too overloaded with the CPU mining. GPU mining requires some available CPU to work properly

[2017-11-08 16:11] stna1981 commented on #521
Is there a way to change the config ccminer is using, e. g. for CryptoNight? I tried to modify the MinerOptionPackage_ccminer_CryptoNight.json file but it seems to have no effect?

[2017-11-08 16:14] DillonN commented on #554
@matatan08 benchmarking can take a long time for AMD. If you have multiple identical GPUs, it's recommended to benchmark on one then copy the settings over to the others (you can right click on the GPUs in the benchmark window to do this).

The connection interrupted issue has been posted a lot as you said, it is a server side issue due to CryptoNight popularity right now though and not relevant t

[2017-11-08 16:41] streaml1ne555 commented on #515
When your system completes work it sends it to the NiceHash servers, the accounting stuff is handled there. If you upgrade to 1.8.1.5 the bug is fixed for xmr-stak-cpu.

[2017-11-08 16:45] streaml1ne555 commented on #515
It seems that the hashrate not showing up correctly is some problem with the nicehash website and how far back it looks for received work. It's like a yo-yo, sometimes the hashrate shown on nicehash.com is high, sometimes it's low depending on when you refresh it and when your system submits completed work.

[2017-11-08 17:09] bmazz731 commented on #534
@DillonN My driver version is 17.30.1091.1011-170922a-318486C. All cards can successfully run, under 1 sgminer instance, however if another miner (not sgminer, as I haven't tested two sgminer instances) is running sgminer fails to launch. I believe this may be the same issue I referenced in 548, and if this is please feel free to close/merge these.

[2017-11-08 17:10] riccardoruspoli commented on #484
Well @Balzhur, with my configuration it worked without problems, I can't tell why this problem happens to you. Just for information, are you running NHML with admin rights?

[2017-11-08 17:50] bmazz731 commented on #401
I have encountered this on 1.8.1.4 starting early this morning connecting to the US - San Jose server. When I connected to the EU - Amsterdan server I've been able to stay connected without issue. I assume there is something going on with the NH servers (could be a result of the recent demand increase)

It would be great if clients had a "primary" and "backup" server option so if it couldn't conne

[2017-11-08 17:50] cheema07 opened #557 "Installing Nicehash legacy Miner"
I am having trouble installing the legacy miner. I am running amd cards so I am directed to this page: https://github.com/nicehash/NiceHashMinerLegacy/releases

From here I download and unzip the source code off the latest release, but I can`t find a .exe file which I can install off of. How am i supposed to get nicehash running? thanks

[2017-11-08 18:04] mrod512 commented on #557
@cheema07 You shouldn't be downloading the source, unless you want to build it yourself. Try downloading, NHML-1.8.1.5.zip

[2017-11-08 18:12] cheema07 commented on #557
thanks

[2017-11-08 18:15] perfectlemon opened #558 "Add "Previous benchmark speed" values"
I am sure many people, myself included, are at least occasionally tinkering with GPU clocks and memory speeds (or driver changes) in order to get the most out of mining.

It would be really helpful after completing a new benchmark to see the previous benchmark values, in order to determine if the modifications had a positive or negative impact.

The way I currently do it is by taking screenshots f

[2017-11-08 19:16] jimharton1 opened #559 "i have r9 390xs in my computer and nothing beyond 1.8.1.2 works properly to many issues"
To keep development of NiceHash Miner Legacy streamlined please make sure the following are true before posting an issue:

- Please make requests in English
- The issue has not already been reported.
- Relevant log files are included (generally `\logs\log.txt`).
- The issue is with NHML and not inherent of miner executables. This can be verified by launching the miner manually and looking for the

[2017-11-08 19:18] jimharton1 commented on #559
I use r9 390xs and nothing beyond 1.8.1.2 works properly so upgrading is worthless for me they are to glitch for some reason

[2017-11-08 19:18] #559 closed, assigned to nobody

[2017-11-08 21:19] voldon opened #560 "Daggerlbr(clymore) Algorithm limit gpu usage?"
I'm using nicehashminer's AMD version(NiceHash Miner Legacy - AMD) v1.8.1.5
I'm using HD 7950 AMD graphics card. I don't know how to limit NiceHashMiner from mining at 100% all the time.

I rad a lot but haven't found any solution on how to reduce usage of it. HELP. thanks!

[2017-11-08 21:27] UdoK commented on #518
Thanks for your feedback. Unfortunately I'm actually not able to change driver as it will take me half a day to setup the all the GPUs with a new driver. Will test when a new version is out.

[2017-11-08 21:27] #518 closed, assigned to nobody

[2017-11-08 22:21] jimmyhackers opened #561 "profitability line "who broke it?""
The profitability line and corresponding graph has lost a lot of functionality :(
This means i cant see whats happening with my miners anymore.

not happy :(

is a this temporary glitch or is nicehash trying to cut costs on their service?

[2017-11-08 22:22] jimmyhackers commented on #332
tis a moot point now.... cryptonight on my 770 is more profitable now :(

oh woe is life

[2017-11-08 22:22] #332 closed, assigned to nobody

[2017-11-08 23:46] isazon4ik commented on #466
+1, have this problem on all rigs

[2017-11-08 23:50] isazon4ik commented on #529
+1, internet connection warning disable, but it does not help :(
1.8.1.4 version

[2017-11-09 01:24] sergentum commented on #551
@DillonN i'm sure that is server problem but it appears too frequently, i think nicehash team should do smth with it.

[2017-11-09 01:28] sergentum commented on #551
@DillonN about your question - no, i can't start this day again.

[2017-11-09 02:54] xAsrielDreemurr commented on #1319
Xmrig Randomly Closes.

[2017-11-09 02:54] xAsrielDreemurr commented on #1319
And then reopens.

[2017-11-09 03:12] mandarb commented on #548
I have the same issue. The nicehashminerlagacy tries to set 4 gpus mining eth using claymore and 2 mining cryptonight using sgminer and sgminer keeps restarting. I checked the logs and the problem is identical to the one @fonyo is having. I have tried to start sgminer manually using the correct values and it exits with no error message.

Here are the arguments being passed to sgminer accordering t

[2017-11-09 04:43] gennadiv commented on #528
I want you to add it with the ability to switch to it

[2017-11-09 06:48] MSLord commented on #466
служба поддержки отписалась что это проблемы с их стороны были но они все устранили. поначалу я запускал форму с интернета сотика а потом переводил на инет от провайдера. сей час проблема ушла и инет все время от провайдера. ни какие таблички не выскакивают. удачи в борьбе!

Приветствую!

С уважением,
и пожеланиями хорошего настроения
Силин Андрей

[2017-11-09 07:01] jpmckearin commented on #1309
@ihateyuu I believe this can be closed now.

[2017-11-09 07:05] riccardoruspoli commented on #560
Maybe what you're searching is the intensity setting?

[2017-11-09 08:46] BARUCHER777 opened #562 "NiceHashMinerLegacy 1.8.1.5 neoscr"
AMD Radeon (TM) R9 Fury Series (ASUS) - neoscr bench not worked!
AMD Radeon R7 200 Series - Normal Worked
AMD Radeon RX 580 Series - Benchmark is not available for the test algorithm!
[log.1.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1456953/log.1.txt)
[log.txt](https://github.com/nicehash/NiceHashMinerLegacy/files/1456954/log.txt)

Windows operating system 10 64-bit (LSTB)

[2017-11-09 08:46] Balzhur commented on #484
@Rikifire, huh? What admin rights has to do with ccminer being 32but binary and unable to allocate more than 4Gb of memory?
xmrig - 64bit, can allocate more than 4Gb of RAM, so 80threads/30blocks is Okay.
ccminer - 32bit, 80x30 does not work for it requires more than 4Gb of RAM.

And while YOUR config may work, MINE - does not. xmrig provides steady 731 Sol, ccminer maxes at 690 Sol for my config.